<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Ignio</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, user-scalable=0, width=device-width">
  <link rel="canonical" href="#" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <!-- <link rel="stylesheet" href="public/css/td_tcs_fontsstyles.css"> -->
  <link rel="stylesheet" type="text/css" href="public/css/vendor.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.5.4/css/colReorder.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- <link rel="stylesheet" href="https://webdevtrick.com/demos/html-drag-and-drop/style.css"> -->
  <link rel="stylesheet" href="public/css/app.css">
  <!-- <link rel="stylesheet" href="public/css/td_tcs_productstyle.css"> -->
  
<!--[if IE 9]>
  <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
<![endif]-->
<!--[if lte IE 8]>
  <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
<![endif]-->



   </head>


    <body>

        {% include "header.html" %}
        <div class="main-container">
            {% include "sidebar.html" %}
            {% block content %}{% endblock %}
        </div>

        <!-- Body overlay start -->
        <div class="body-overlay"></div>
        <!-- Body Overlay end -->

        {% include "scripts.html" %}

       
    </body>
</html>
