<!-- Header Section -->

<!-- header start -->
<header class="td_br_top_header-wrap" id="td-top-header">
    <div class="container-fluid">
      <nav class="navbar justify-content-between row">
        <div class="flow-l col-sm">
          <a class="navbar-brand"><img src="public/images/logo.png" alt=""></a>
          <a class="navbar-watch">Watch</a>
        </div>
        <div class="flow-r col-sm">
          <ul class="event-lst">
            <!-- <li>
              <button class="btn btn-primary btn-index d-flex align-items-center">
                <img src="public/images/icon_l_arrow.svg" alt="">
                <span>Index</span>
              </button>
            </li> -->
            <li><a href="javascript:void(0)">
              <img src="public/images/icon_search.svg" alt="">
            </a></li>
            <li><a href="javascript:void(0)">
              <img src="public/images/icon_bell.svg" alt="">
            </a></li>
            <li><a href="javascript:void(0)">
              <img src="public/images/icon_user.svg" alt="">
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- header end -->