


<script src="public/vendor/vendor.js"></script>
<!-- <script src="https://code.highcharts.com/modules/networkgraph.js"></script> -->
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<!-- <script src="https://code.highcharts.com/modules/coloraxis.js"></script> -->

<script src="https://rawgit.com/highcharts/rounded-corners/master/rounded-corners.js"></script>


 <script src="public/js/charts.js"></script>
<script src="public/js/tables.js"></script>
<script src="public/js/main.min.js"></script>
<!-- <script  src="https://webdevtrick.com/demos/html-drag-and-drop/script.js"></script> -->
