<div class="side-layout">
    <nav class="sidebar-nav">
        
        <ul id="sidebar-accordion">
            <li>
                <a href="javascript:void(0)" class="btn-link s-sidebar__nav-link active" data-toggle="collapse" data-target="#events1" id="eventsheading1">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18.102" height="18.104" viewBox="0 0 18.102 18.104">
                            <g id="icon-Events" transform="translate(-0.948 -0.947)">
                                <path id="Exclusion_2" data-name="Exclusion 2" d="M5331.783-22884a3.6,3.6,0,0,1-3.6-3.6,3.6,3.6,0,0,1,3.6-3.6,3.618,3.618,0,0,1,3.6,3.6A3.6,3.6,0,0,1,5331.783-22884Zm-1.616-3.855a.25.25,0,0,0-.179.074.258.258,0,0,0-.074.182.258.258,0,0,0,.074.182l1.075,1.074a.246.246,0,0,0,.179.074.244.244,0,0,0,.179-.074l2.152-2.15a.253.253,0,0,0,.077-.182.257.257,0,0,0-.077-.182.252.252,0,0,0-.179-.072.25.25,0,0,0-.179.072l-1.971,1.977-.9-.9A.251.251,0,0,0,5330.167-22887.855Zm-2.522,3.043h-8.4a1.518,1.518,0,0,1-1.5-1.531v-12.279a1.521,1.521,0,0,1,1.5-1.537h1.5v-.609a1.219,1.219,0,0,1,1.2-1.232,1.22,1.22,0,0,1,1.2,1.232v.609h2.4v-.609a1.22,1.22,0,0,1,1.2-1.232,1.219,1.219,0,0,1,1.2,1.232v.609h2.4v-.609a1.22,1.22,0,0,1,1.2-1.232,1.219,1.219,0,0,1,1.2,1.232v.609h1.5a1.521,1.521,0,0,1,1.5,1.537v7.982a.3.3,0,0,1-.3.3.3.3,0,0,1-.3-.3v-5.221h-16.8v9.518a.917.917,0,0,0,.9.922h8.4a.3.3,0,0,1,.3.307A.3.3,0,0,1,5327.645-22884.812Zm3.9-16.574a.608.608,0,0,0-.6.617v1.84a.607.607,0,0,0,.6.613.608.608,0,0,0,.6-.613v-1.84A.609.609,0,0,0,5331.545-22901.387Zm-4.8,0a.609.609,0,0,0-.6.617v1.84a.608.608,0,0,0,.6.613.608.608,0,0,0,.6-.613v-1.84A.609.609,0,0,0,5326.744-22901.387Zm-4.8,0a.609.609,0,0,0-.6.617v1.84a.608.608,0,0,0,.6.613.608.608,0,0,0,.6-.613v-1.84A.609.609,0,0,0,5321.944-22901.387Zm4.2,13.342a.61.61,0,0,1-.61-.609v-.916a.607.607,0,0,1,.61-.615h1.221a.307.307,0,0,1,.3.309.31.31,0,0,1-.3.307h-1.221v.916a.305.305,0,0,1,.3.3A.305.305,0,0,1,5326.14-22888.045Zm-3.544,0h-1.221a.611.611,0,0,1-.61-.609v-.916a.614.614,0,0,1,.61-.615h1.221a.613.613,0,0,1,.61.615v.916A.61.61,0,0,1,5322.6-22888.045Zm-1.221-1.525h0v.916h1.221v-.916Zm10.625-2.617h-1.221a.6.6,0,0,1-.61-.607v-.918a.611.611,0,0,1,.61-.611H5332a.612.612,0,0,1,.611.611v.918A.611.611,0,0,1,5332-22892.187Zm-1.221-1.525h0v.918H5332v-.918Zm-3.425,1.525h-1.221a.611.611,0,0,1-.61-.607v-.918a.611.611,0,0,1,.61-.611h1.221a.612.612,0,0,1,.611.611v.918A.611.611,0,0,1,5327.354-22892.187Zm-1.221-1.525h0v.918h1.221v-.918Zm-3.538,1.525h-1.221a.611.611,0,0,1-.61-.607v-.918a.611.611,0,0,1,.61-.611h1.221a.611.611,0,0,1,.61.611v.918A.61.61,0,0,1,5322.6-22892.187Zm-1.221-1.525h0v.918h1.221v-.918Z" transform="translate(-5316.745 22903)" fill="#7C86AC" stroke="#7C86AC" stroke-width="0.1"/>
                            </g>
                        </svg>
                    </span>
                    <span class="label">Event</span>
                </a>
                  
                <div id="events1" class="collapse sub_navbar" aria-labelledby="eventsheading1" data-parent="#sidebar-accordion">
                    <ul>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <img src="public/images/icon_masonry.svg" alt="">
                                <span class="label">Event 1</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <img src="public/images/icon_masonry.svg" alt="">
                                <span class="label">Event 2</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <img src="public/images/icon_masonry.svg" alt="">
                                <span class="label">Event 2</span>
                             </a>
                        </li>
                    </ul>
                </div>

            </li>
            <li>
                <a href="javascript:void(0)" class="btn-link s-sidebar__nav-link" data-toggle="collapse" data-target="#collapse1" id="heading1">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Masonry_filled_-01" data-name="Masonry (filled)-01" width="20" height="20" viewBox="0 0 20 20">
                            <rect id="Rectangle_9384" data-name="Rectangle 9384" width="9" height="7" rx="1" fill="#6c759b"/>
                            <rect id="Rectangle_9385" data-name="Rectangle 9385" width="9" height="11" rx="1" transform="translate(11)" fill="#6c759b"/>
                            <rect id="Rectangle_9386" data-name="Rectangle 9386" width="9" height="11" rx="1" transform="translate(0 9)" fill="#6c759b"/>
                            <rect id="Rectangle_9387" data-name="Rectangle 9387" width="9" height="7" rx="1" transform="translate(11 13)" fill="#6c759b"/>
                        </svg>
                    </span>
                    <span class="label">Dashboards</span>
                </a>
                  
                <div id="collapse1" class="collapse sub_navbar" aria-labelledby="heading1" data-parent="#sidebar-accordion">
                    <ul>
                        <li>
                            <a class="s-sidebar__nav-link" href="leading-dashboard.html" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.001" height="13.002" viewBox="0 0 15.001 13.002">
                                        <g id="icon-dashboard" transform="translate(-1833 -9833)">
                                          <g id="Group_27411" data-name="Group 27411" transform="translate(1833 9833)">
                                            <rect id="Rectangle_6249" data-name="Rectangle 6249" width="15" height="3.5" rx="0.5" transform="translate(0 0)" fill="#6c759b"/>
                                            <path id="Subtraction_44" data-name="Subtraction 44" d="M17281.742,22910.2h-10a.5.5,0,0,1-.5-.5v-7.2a.5.5,0,0,1,.5-.5h10a.5.5,0,0,1,.5.5v7.2A.5.5,0,0,1,17281.742,22910.2Zm-3-6.617a.419.419,0,0,0-.42.42v4.191a.42.42,0,0,0,.84,0V22904A.419.419,0,0,0,17278.74,22903.584Zm-2,1.678a.419.419,0,0,0-.42.42v2.514a.419.419,0,1,0,.838,0v-2.514A.419.419,0,0,0,17276.74,22905.262Zm-2,.84a.419.419,0,0,0-.42.42v1.674a.42.42,0,0,0,.84,0v-1.674A.419.419,0,0,0,17274.738,22906.1Z" transform="translate(-17267.24 -22897.199)" fill="#6c759b"/>
                                            <rect id="Rectangle_6251" data-name="Rectangle 6251" width="3" height="8.2" rx="0.5" transform="translate(0 4.8)" fill="#6c759b"/>
                                          </g>
                                        </g>
                                    </svg>
                                </span>
                                <span class="label">Dashboard 1</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15.001" height="13.002" viewBox="0 0 15.001 13.002">
                                        <g id="icon-dashboard" transform="translate(-1833 -9833)">
                                          <g id="Group_27411" data-name="Group 27411" transform="translate(1833 9833)">
                                            <rect id="Rectangle_6249" data-name="Rectangle 6249" width="15" height="3.5" rx="0.5" transform="translate(0 0)" fill="#6c759b"/>
                                            <path id="Subtraction_44" data-name="Subtraction 44" d="M17281.742,22910.2h-10a.5.5,0,0,1-.5-.5v-7.2a.5.5,0,0,1,.5-.5h10a.5.5,0,0,1,.5.5v7.2A.5.5,0,0,1,17281.742,22910.2Zm-3-6.617a.419.419,0,0,0-.42.42v4.191a.42.42,0,0,0,.84,0V22904A.419.419,0,0,0,17278.74,22903.584Zm-2,1.678a.419.419,0,0,0-.42.42v2.514a.419.419,0,1,0,.838,0v-2.514A.419.419,0,0,0,17276.74,22905.262Zm-2,.84a.419.419,0,0,0-.42.42v1.674a.42.42,0,0,0,.84,0v-1.674A.419.419,0,0,0,17274.738,22906.1Z" transform="translate(-17267.24 -22897.199)" fill="#6c759b"/>
                                            <rect id="Rectangle_6251" data-name="Rectangle 6251" width="3" height="8.2" rx="0.5" transform="translate(0 4.8)" fill="#6c759b"/>
                                          </g>
                                        </g>
                                    </svg>
                                </span>
                                <span class="label">Dashboard 2</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.62" height="13" viewBox="0 0 18.62 13">
                                        <g id="icon-dashboard-shared" transform="translate(15416.239 15973.775)">
                                          <g id="Group_33828" data-name="Group 33828" transform="translate(-17249.24 -25806.775)">
                                            <path id="Subtraction_45" data-name="Subtraction 45" d="M19106.625,32578.777h-1.881a.506.506,0,0,1-.506-.506v-7.393a.51.51,0,0,1,.506-.5h2a.5.5,0,0,1,.5.5v3.918a3.8,3.8,0,0,0-.613,2.068v1.912Zm1.611-5.07v-2.828a.51.51,0,0,1,.506-.5h.451a5.078,5.078,0,0,0-.074.867,4.915,4.915,0,0,0,.3,1.709,6.506,6.506,0,0,0-1.184.748Zm1.254-4.348h-4.746a.5.5,0,0,1-.506-.5v-2.584a.5.5,0,0,1,.506-.5h13.99a.5.5,0,0,1,.508.5v.17a4.968,4.968,0,0,0-1.383-.193,5.076,5.076,0,0,0-1.619.277l-.252.082a4.939,4.939,0,0,0-1.865-.359,4.99,4.99,0,0,0-4.633,3.105Z" transform="translate(-17271.238 -22732.777)" fill="#6c759b"/>
                                          </g>
                                          <g id="people_alt_black_24dp" transform="translate(-15406.51 -15966.038)">
                                            <g id="Group_33817" data-name="Group 33817" transform="translate(-4.846 -4.766)">
                                              <g id="Group_33820" data-name="Group 33820" transform="translate(0)">
                                                <path id="Path_11499" data-name="Path 11499" d="M16.67,13.13a2.9,2.9,0,0,1,1.455,2.416v1.873h2.5V15.546C20.622,14.185,18.393,13.38,16.67,13.13Z" transform="translate(-6.886 -7.43)" fill="#6c759b"/>
                                                <path id="Path_11500" data-name="Path 11500" d="M14.5,8.995A2.5,2.5,0,1,0,14.5,4a2.609,2.609,0,0,0-.83.15,3.734,3.734,0,0,1,0,4.7A2.609,2.609,0,0,0,14.5,8.995Z" transform="translate(-5.759 -4)" fill="#6c759b"/>
                                                <path id="Path_11501" data-name="Path 11501" d="M7.5,8.995A2.5,2.5,0,1,0,5,6.5,2.5,2.5,0,0,0,7.5,8.995Zm0-3.746A1.249,1.249,0,1,1,6.249,6.5,1.252,1.252,0,0,1,7.5,5.249Z" transform="translate(-2.503 -4)" fill="#6c759b"/>
                                                <path id="Path_11502" data-name="Path 11502" d="M5.995,13C4.328,13,1,13.837,1,15.5v1.873h9.99V15.5C10.99,13.837,7.662,13,5.995,13Zm3.746,3.122H2.249V15.5c.125-.45,2.06-1.255,3.746-1.255s3.621.805,3.746,1.249Z" transform="translate(-1 -7.381)" fill="#6c759b"/>
                                              </g>
                                              <g id="Group_33816" data-name="Group 33816" transform="translate(0)">
                                                <path id="Path_11499-2" data-name="Path 11499" d="M16.67,13.13a2.9,2.9,0,0,1,1.455,2.416v1.873h2.5V15.546C20.622,14.185,18.393,13.38,16.67,13.13Z" transform="translate(-6.886 -7.43)" fill="#6c759b"/>
                                                <path id="Path_11500-2" data-name="Path 11500" d="M14.5,8.995A2.5,2.5,0,1,0,14.5,4a2.609,2.609,0,0,0-.83.15,3.734,3.734,0,0,1,0,4.7A2.609,2.609,0,0,0,14.5,8.995Z" transform="translate(-5.759 -4)" fill="#6c759b"/>
                                                <path id="Path_11501-2" data-name="Path 11501" d="M7.5,8.995A2.5,2.5,0,1,0,5,6.5,2.5,2.5,0,0,0,7.5,8.995Z" transform="translate(-2.503 -4)" fill="#6c759b"/>
                                                <path id="Path_11502-2" data-name="Path 11502" d="M5.995,13C4.328,13,1,13.837,1,15.5v1.873h9.99V15.5C10.99,13.837,7.662,13,5.995,13Z" transform="translate(-1 -7.381)" fill="#6c759b"/>
                                              </g>
                                            </g>
                                          </g>
                                        </g>
                                    </svg>
                                </span>
                                <span class="label">Dashboard 3</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18.62" height="13" viewBox="0 0 18.62 13">
                                        <g id="icon-dashboard-shared" transform="translate(15416.239 15973.775)">
                                          <g id="Group_33828" data-name="Group 33828" transform="translate(-17249.24 -25806.775)">
                                            <path id="Subtraction_45" data-name="Subtraction 45" d="M19106.625,32578.777h-1.881a.506.506,0,0,1-.506-.506v-7.393a.51.51,0,0,1,.506-.5h2a.5.5,0,0,1,.5.5v3.918a3.8,3.8,0,0,0-.613,2.068v1.912Zm1.611-5.07v-2.828a.51.51,0,0,1,.506-.5h.451a5.078,5.078,0,0,0-.074.867,4.915,4.915,0,0,0,.3,1.709,6.506,6.506,0,0,0-1.184.748Zm1.254-4.348h-4.746a.5.5,0,0,1-.506-.5v-2.584a.5.5,0,0,1,.506-.5h13.99a.5.5,0,0,1,.508.5v.17a4.968,4.968,0,0,0-1.383-.193,5.076,5.076,0,0,0-1.619.277l-.252.082a4.939,4.939,0,0,0-1.865-.359,4.99,4.99,0,0,0-4.633,3.105Z" transform="translate(-17271.238 -22732.777)" fill="#6c759b"/>
                                          </g>
                                          <g id="people_alt_black_24dp" transform="translate(-15406.51 -15966.038)">
                                            <g id="Group_33817" data-name="Group 33817" transform="translate(-4.846 -4.766)">
                                              <g id="Group_33820" data-name="Group 33820" transform="translate(0)">
                                                <path id="Path_11499" data-name="Path 11499" d="M16.67,13.13a2.9,2.9,0,0,1,1.455,2.416v1.873h2.5V15.546C20.622,14.185,18.393,13.38,16.67,13.13Z" transform="translate(-6.886 -7.43)" fill="#6c759b"/>
                                                <path id="Path_11500" data-name="Path 11500" d="M14.5,8.995A2.5,2.5,0,1,0,14.5,4a2.609,2.609,0,0,0-.83.15,3.734,3.734,0,0,1,0,4.7A2.609,2.609,0,0,0,14.5,8.995Z" transform="translate(-5.759 -4)" fill="#6c759b"/>
                                                <path id="Path_11501" data-name="Path 11501" d="M7.5,8.995A2.5,2.5,0,1,0,5,6.5,2.5,2.5,0,0,0,7.5,8.995Zm0-3.746A1.249,1.249,0,1,1,6.249,6.5,1.252,1.252,0,0,1,7.5,5.249Z" transform="translate(-2.503 -4)" fill="#6c759b"/>
                                                <path id="Path_11502" data-name="Path 11502" d="M5.995,13C4.328,13,1,13.837,1,15.5v1.873h9.99V15.5C10.99,13.837,7.662,13,5.995,13Zm3.746,3.122H2.249V15.5c.125-.45,2.06-1.255,3.746-1.255s3.621.805,3.746,1.249Z" transform="translate(-1 -7.381)" fill="#6c759b"/>
                                              </g>
                                              <g id="Group_33816" data-name="Group 33816" transform="translate(0)">
                                                <path id="Path_11499-2" data-name="Path 11499" d="M16.67,13.13a2.9,2.9,0,0,1,1.455,2.416v1.873h2.5V15.546C20.622,14.185,18.393,13.38,16.67,13.13Z" transform="translate(-6.886 -7.43)" fill="#6c759b"/>
                                                <path id="Path_11500-2" data-name="Path 11500" d="M14.5,8.995A2.5,2.5,0,1,0,14.5,4a2.609,2.609,0,0,0-.83.15,3.734,3.734,0,0,1,0,4.7A2.609,2.609,0,0,0,14.5,8.995Z" transform="translate(-5.759 -4)" fill="#6c759b"/>
                                                <path id="Path_11501-2" data-name="Path 11501" d="M7.5,8.995A2.5,2.5,0,1,0,5,6.5,2.5,2.5,0,0,0,7.5,8.995Z" transform="translate(-2.503 -4)" fill="#6c759b"/>
                                                <path id="Path_11502-2" data-name="Path 11502" d="M5.995,13C4.328,13,1,13.837,1,15.5v1.873h9.99V15.5C10.99,13.837,7.662,13,5.995,13Z" transform="translate(-1 -7.381)" fill="#6c759b"/>
                                              </g>
                                            </g>
                                          </g>
                                        </g>
                                    </svg>
                                </span>
                                <span class="label">Dashboard 4</span>
                             </a>
                        </li>
                    </ul>
                </div>

            </li>
            <li>
                <a href="javascript:void(0)" class="s-sidebar__nav-link">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18.027" height="17.611" viewBox="0 0 18.027 17.611">
                            <g id="icon-configure-dashboard" transform="translate(-0.987 -1.063)">
                              <path id="Union_68" data-name="Union 68" d="M5319.274-22983.137a1.326,1.326,0,0,1-1.287-1.355v-9.693a1.326,1.326,0,0,1,1.287-1.355h15.078a1.326,1.326,0,0,1,1.287,1.355v2.979l-.277-.275a.2.2,0,0,0-.15-.059.245.245,0,0,0-.127.035l-.635.467-.993-.416-.127-.773a.209.209,0,0,0-.208-.178h-1.847a.216.216,0,0,0-.208.178l-.121.779-.993.41-.641-.461a.179.179,0,0,0-.121-.041.24.24,0,0,0-.15.059l-1.3,1.309a.217.217,0,0,0-.023.271l.461.635-.41.988-.773.127a.206.206,0,0,0-.179.207v1.842a.209.209,0,0,0,.179.207l.773.123.416.992-.462.635a.2.2,0,0,0,.023.271l.733.738Zm3.9-8.086v4.033a.4.4,0,0,0,.4.4.4.4,0,0,0,.4-.4v-4.033a.4.4,0,0,0-.4-.4A.4.4,0,0,0,5323.176-22991.223Zm-1.617,1.615v2.418a.409.409,0,0,0,.4.4.4.4,0,0,0,.4-.4v-2.418a.4.4,0,0,0-.4-.4A.406.406,0,0,0,5321.56-22989.607Zm-1.616.809v1.609a.409.409,0,0,0,.4.4.4.4,0,0,0,.4-.4v-1.609a.4.4,0,0,0-.4-.4A.406.406,0,0,0,5319.943-22988.8Zm11.591,5.645a.158.158,0,0,1-.15-.127l-.081-.547-.71-.289-.45.328a.162.162,0,0,1-.087.023.168.168,0,0,1-.109-.047l-.924-.918a.141.141,0,0,1-.011-.189l.323-.451-.294-.709-.554-.086a.149.149,0,0,1-.121-.145v-1.311a.159.159,0,0,1,.121-.15l.554-.08.294-.711-.329-.451a.147.147,0,0,1,.017-.189l.924-.924a.142.142,0,0,1,.109-.041.113.113,0,0,1,.087.029l.45.324.7-.295.086-.549a.151.151,0,0,1,.15-.127h1.31a.154.154,0,0,1,.145.127l.092.549.7.295.456-.33a.156.156,0,0,1,.087-.029.145.145,0,0,1,.1.047l.929.924a.141.141,0,0,1,.012.189l-.324.451.289.705.554.086a.149.149,0,0,1,.127.15v1.3a.141.141,0,0,1-.127.145l-.548.092-.289.7.323.451a.144.144,0,0,1-.017.191l-.924.922a.143.143,0,0,1-.1.047.155.155,0,0,1-.087-.029l-.456-.328-.7.289-.086.553a.153.153,0,0,1-.15.127Zm-.012-2.619.294.115.035.236a.066.066,0,0,0,.063.051h.548a.066.066,0,0,0,.063-.051l.035-.236.3-.121.185.143a.119.119,0,0,0,.035.012.08.08,0,0,0,.046-.021l.392-.387a.061.061,0,0,0,0-.076l-.132-.2.121-.295.231-.035a.059.059,0,0,0,.052-.062v-.543a.063.063,0,0,0-.052-.064l-.231-.033-.121-.3.132-.186a.06.06,0,0,0-.005-.08l-.387-.387a.066.066,0,0,0-.046-.018.072.072,0,0,0-.035.006l-.19.139-.294-.121-.035-.23a.074.074,0,0,0-.063-.053h-.548a.068.068,0,0,0-.063.053l-.035.23-.294.121-.19-.139a.072.072,0,0,0-.035-.006.057.057,0,0,0-.046.018l-.387.387a.061.061,0,0,0-.011.08l.138.186-.121.3-.231.033a.063.063,0,0,0-.052.064v.543a.059.059,0,0,0,.052.063l.231.035.121.3-.138.189a.063.063,0,0,0,.011.076l.387.393a.075.075,0,0,0,.046.016.081.081,0,0,0,.035-.012l.19-.137v-.006Zm.612-.717a.015.015,0,0,1-.017-.018l-.162-.062a.014.014,0,0,1-.023-.006l-.121-.115c-.006-.006-.006-.018-.069-.186a.019.019,0,0,1-.017-.018v-.174c0-.01.081-.2.086-.2l.116-.121c.011-.006.2-.086.208-.086h.167a2.207,2.207,0,0,1,.208.086c.127.127.127.139.121.145l.063.162c.012,0,.017.006.017.016v.168c0,.012-.005.018-.017.023l-.063.156c.006.012.006.023-.006.029l-.115.115c-.006.012-.018.012-.029.006l-.156.063c-.005.012-.011.018-.023.018Zm-12.861-10.125c-1.264,0-1.27-.047-1.287-1.2v-1.73c0-1.207.046-1.207,1.241-1.207H5334.5c1.12,0,1.143.023,1.143,1.207v1.719c0,1.184,0,1.207-1.287,1.207Zm.335-1.934a.883.883,0,0,0,.883.883h4.953a.883.883,0,0,0,.883-.883.882.882,0,0,0-.883-.877h-4.953A.882.882,0,0,0,5319.609-22998.549Z" transform="translate(-5317 23001.811)" fill="#6c759b"/>
                            </g>
                        </svg>
                    </span>
                    <span class="label">Configure Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="btn-link s-sidebar__nav-link" data-toggle="collapse" data-target="#collapse3" id="heading3">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="icon-_PatternConfigure" data-name="icon- PatternConfigure" width="21.52" height="21.002" viewBox="0 0 21.52 21.002">
                            <path id="icon-_PatternConfigure-2" data-name="icon- PatternConfigure" d="M17822.477,23361.85l-4.543-4.545a3.267,3.267,0,0,1-4.1-4.443l2.2,2.146,1.5-1.5-2.146-2.146a3.3,3.3,0,0,1,3.7.646,3.2,3.2,0,0,1,.744,3.447l4.551,4.543a.449.449,0,0,1,.141.363.473.473,0,0,1-.193.34l-1.148,1.145a.477.477,0,0,1-.7,0Zm-7.574-.846v-1.834a5.107,5.107,0,0,0,1.816.352V23361Zm-3.723,0h-1.812v-2.273h-4.092v-4.053H17803v-1.822h2.275v-3.711H17803v-1.818h2.275v-4.057h4.092V23341h1.818v2.27h3.717V23341h1.816v2.27h4.018v4.057H17823v1.818h-2.268v1.711c-.082-.088-.164-.182-.258-.27a5.147,5.147,0,0,0-1.566-1.066v-4.428h-11.82v11.82h5.148a5.149,5.149,0,0,0,.826,1.057,4.914,4.914,0,0,0,.957.762h-2.838V23361Zm-2.264-5.914v-8.18h8.18v2.164c-.131-.012-.242-.012-.342-.012a5.321,5.321,0,0,0-1.477.211v-.545h-4.539v4.543h.869a5.259,5.259,0,0,0-.029,1.818Zm13.115-.412a5.314,5.314,0,0,0-.193-1.822H17823v1.822Z" transform="translate(-17803 -23341)" fill="rgb(108, 117, 155)"/>
                          </svg>
                    </span>
                    <span class="label">Configure Patterns</span>
                </a>
                  
                <div id="collapse3" class="collapse sub_navbar" aria-labelledby="heading3" data-parent="#sidebar-accordion">
                    <ul>
                        <li class="active">
                            <a class="s-sidebar__nav-link" href="extract-entities.html" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-extractissues" width="18.307" height="17.543" viewBox="0 0 18.307 17.543">
                                        <path id="icon-extractissues-2" data-name="icon-extractissues" d="M16895.91,22504.768a.47.47,0,0,1-.475-.475v-3.648l-4.164-5.547a.5.5,0,0,1,.4-.8h9.42a.5.5,0,0,1,.4.8l-4.158,5.547v3.648a.474.474,0,0,1-.475.475Zm-2.627-.627h-7.484a2.61,2.61,0,0,1-2.508-2.508v-11.895a2.646,2.646,0,0,1,2.508-2.514h10.646a.879.879,0,0,1,0,1.758h-.117v1.514h.117a.872.872,0,0,1,.877.869v.932h-1.746v-.057h-9.777a2.41,2.41,0,0,1-.756-.129v9.521a.86.86,0,0,0,.756.764h7.479v1.529a1.464,1.464,0,0,0,.012.209v.006Zm-8.24-14.4a.887.887,0,0,0,.756.758h8.783v-1.514h-8.783A.91.91,0,0,0,16885.043,22489.738Zm3.568,8.568a.582.582,0,0,1,0-1.164h1.713l.875,1.164Zm-1.236-2.332a.582.582,0,0,1,0-1.164h1.813a2.506,2.506,0,0,0,.295,1.158v.006Z" transform="translate(-16883.291 -22487.225)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Issue & CI Signature Extraction</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-correlationpattern" width="16" height="15.998" viewBox="0 0 16 15.998">
                                        <path id="icon-correlationpattern-2" data-name="icon-correlationpattern" d="M17729,23505a1.993,1.993,0,0,1,.414-1.221l-1.412-2.119a3.511,3.511,0,0,1-3.338-.18l-1.215,1.459a2.484,2.484,0,1,1-.766-.643l1.213-1.455a3.506,3.506,0,0,1-.2-4.437l-.82-.82a2.5,2.5,0,1,1,.707-.705l.82.818a3.5,3.5,0,0,1,4.971.807l.709-.354a2.533,2.533,0,0,1-.086-.648,2.5,2.5,0,1,1,.533,1.541l-.709.355a3.512,3.512,0,0,1-.986,3.707l1.371,2.059A2,2,0,1,1,17729,23505Z" transform="translate(-17719.002 -23491.002)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Correlation Pattern</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-recurrencepattern" width="16.328" height="17.5" viewBox="0 0 16.328 17.5">
                                        <path id="icon-recurrencepattern-2" data-name="icon-recurrencepattern" d="M17728.268,23508.439l-1.924-1.928a.172.172,0,0,1,0-.248l1.924-1.93a.194.194,0,0,1,.2-.041.187.187,0,0,1,.105.164v1.275h4.473v-1.758a.168.168,0,0,1,.176-.172h.969a.172.172,0,0,1,.176.172v2.9a.18.18,0,0,1-.176.176h-5.617v1.27a.166.166,0,0,1-.105.158.16.16,0,0,1-.078.02A.176.176,0,0,1,17728.268,23508.439Zm.129-.117-1.928-1.936Zm-3.4-1.127h.006Zm-4.379,0a1.62,1.62,0,0,1-1.617-1.617l.006-11.34a1.61,1.61,0,0,1,1.611-1.615h.814V23491h1.617v1.623h6.477V23491h1.617v1.623h.814a1.619,1.619,0,0,1,1.617,1.615v2.8a1.541,1.541,0,0,0-.355-.041,1.56,1.56,0,0,0-.66.137,1.684,1.684,0,0,0-.6.436v-.9h-11.34v8.908H17725a1.647,1.647,0,0,0-.213.809,1.705,1.705,0,0,0,.207.809Zm6.814-4.012a.167.167,0,0,1-.172-.166v-2.9a.179.179,0,0,1,.172-.178h5.617v-1.268a.168.168,0,0,1,.111-.16.116.116,0,0,1,.064-.012.183.183,0,0,1,.125.049l1.93,1.934a.183.183,0,0,1,0,.248l-1.93,1.924a.189.189,0,0,1-.189.041.175.175,0,0,1-.111-.158v-1.281h-4.473v1.764a.171.171,0,0,1-.178.166Zm.967-.166h0Z" transform="translate(-17718.998 -23491)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Recurrence Pattern</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-prioritise" width="15.295" height="12.469" viewBox="0 0 15.295 12.469">
                                        <path id="icon-prioritise-2" data-name="icon-prioritise" d="M17726.295,23503.467v-2h8v2Zm-7.295-.5v-10.146h4.889l-1.121-1.109.709-.713,2.336,2.336-2.336,2.336-.709-.7,1.15-1.15H17720v8.146h5.107v1Zm7.295-2.5v-2h8v2Zm0-5v-4h8v4Z" transform="translate(-17719 -23490.998)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Prioritization</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-thresholds" width="15.504" height="15.504" viewBox="0 0 15.504 15.504">
                                        <path id="icon-thresholds-2" data-name="icon-thresholds" d="M17720.75,23506.5a1.753,1.753,0,0,1-1.752-1.752v-12a1.753,1.753,0,0,1,1.752-1.752h12a1.753,1.753,0,0,1,1.754,1.752v12a1.753,1.753,0,0,1-1.754,1.752Zm-.248-13.752v12a.244.244,0,0,0,.248.246h12a.246.246,0,0,0,.254-.246v-12a.247.247,0,0,0-.254-.248h-12A.246.246,0,0,0,17720.5,23492.75Zm7.936,9.746v-1.027h-.668a.749.749,0,1,1,0-1.5h.668v-4.809a.749.749,0,0,1,1.5,0v4.809h.666a.749.749,0,1,1,0,1.5h-.666v1.027a.749.749,0,1,1-1.5,0Zm-4.721,0v-4.8h-.666a.749.749,0,1,1,0-1.5h.666v-1.033a.752.752,0,0,1,1.5,0v1.033h.662a.749.749,0,0,1,0,1.5h-.662v4.8a.752.752,0,1,1-1.5,0Z" transform="translate(-17718.998 -23490.998)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Thresholds</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-expertresolvers" width="15.508" height="14.346" viewBox="0 0 15.508 14.346">
                                        <path id="icon-expertresolvers-2" data-name="icon-expertresolvers" d="M17727.379,23505.348h.006Zm-8.377,0v-2.689c0-2.354,4.666-3.586,7.172-3.586.236,0,.5.012.756.029a1.78,1.78,0,0,0-.937,1.676c-2.637.059-5.291,1.326-5.291,1.881v.984h6.783l-.154.514a1.76,1.76,0,0,0,.049,1.191Zm13.85-.471-1.609-1.234h0l-.092-.07a.267.267,0,0,0-.307,0l-.387.295-1.312,1.01a.242.242,0,0,1-.148.053.236.236,0,0,1-.178-.078.248.248,0,0,1-.064-.252l.662-2.143a.26.26,0,0,0-.084-.271l-1.684-1.285h0l-.061-.047a.289.289,0,0,1-.049-.049l-.008-.01s0,0,0,0a.23.23,0,0,1-.029-.215.234.234,0,0,1,.236-.172h2.135a.245.245,0,0,0,.236-.176l.654-2.107a.247.247,0,0,1,.473,0l.654,2.107a.247.247,0,0,0,.236.176h2.135a.249.249,0,0,1,.148.449l-1.271.969a.006.006,0,0,1,0,0l-.471.359a.243.243,0,0,0-.088.271l.66,2.143a.252.252,0,0,1-.088.273.242.242,0,0,1-.154.057A.223.223,0,0,1,17732.852,23504.877Zm-10.264-10.289a3.587,3.587,0,1,1,3.586,3.588A3.588,3.588,0,0,1,17722.588,23494.588Zm1.705,0a1.882,1.882,0,1,0,1.881-1.881A1.883,1.883,0,0,0,17724.293,23494.588Z" transform="translate(-17719.002 -23491.002)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Expert Resolver</span>
                             </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="javascript:void(0)" class="btn-link s-sidebar__nav-link" data-toggle="collapse" data-target="#collapse4" id="heading4">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="icon-profiling" width="20.039" height="20.004" viewBox="0 0 20.039 20.004">
                            <path id="Path_11819" data-name="Path 11819" d="M17721,23511a2.02,2.02,0,0,1-2-2v-14a2.018,2.018,0,0,1,2-2h4.178a2.989,2.989,0,0,1,5.641,0H17735a2.01,2.01,0,0,1,2,2v8.273l-.459-.455a5.266,5.266,0,0,0-3.541-5.475V23497h-10v2h4.621a1.994,1.994,0,0,0-1.068.99,5.275,5.275,0,0,0-.359,1.01H17723v2h3.092a5.113,5.113,0,0,0,.732,2H17723v2h6.043a5.209,5.209,0,0,0,2.254.52,4.226,4.226,0,0,0,.52-.029l3.48,3.486a1.624,1.624,0,0,1-.295.025Zm6-17a1,1,0,1,0,1-1A1,1,0,0,0,17727,23494Zm10,15.848-4.549-4.549a3.2,3.2,0,0,1-2.9-.3h0c-.008,0-.014-.01-.021-.014a3.364,3.364,0,0,1-.527-.434,3.2,3.2,0,0,1-.777-1.211.136.136,0,0,0-.01-.025c-.006-.021-.014-.043-.02-.064s-.014-.041-.021-.062-.006-.023-.01-.035c-.01-.033-.02-.066-.027-.1,0,0,0,0,0,0l-.012-.051h0a3.241,3.241,0,0,1,.229-2.143l2.2,2.148,1.494-1.5-2.148-2.148a3.311,3.311,0,0,1,3.7.648,3.219,3.219,0,0,1,.75,3.447l1.32,1.32,1.328,1.322v.006l1.895,1.895a.446.446,0,0,1,.141.365.429.429,0,0,1-.187.336l-1.15,1.15a.481.481,0,0,1-.35.148A.471.471,0,0,1,17737,23509.852Z" transform="translate(-17718.998 -23491)" fill="#6c759b"/>
                          </svg>
                    </span>
                    <span class="label">Profiling</span>
                </a>
                  
                <div id="collapse4" class="collapse sub_navbar" aria-labelledby="heading4" data-parent="#sidebar-accordion">
                    <ul>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-eventfilterrules" width="13.99" height="14.93" viewBox="0 0 13.99 14.93">
                                        <path id="icon-eventfilterrules-2" data-name="icon-eventfilterrules" d="M17726.857,23505.932h.006Zm-6.365,0a1.5,1.5,0,0,1-1.492-1.492v-10.453a1.5,1.5,0,0,1,1.492-1.492h3.121a2.236,2.236,0,0,1,4.217,0h3.121a1.49,1.49,0,0,1,1.492,1.492v3.693a5,5,0,0,0-5.939.789h-4.514v1.494h3.463a4.87,4.87,0,0,0-.42,1.492h-3.043v1.492h3.092a5.05,5.05,0,0,0,1.775,2.984Zm1.5-8.961h7.469v-1.492h-7.469Zm2.984-3.734a.746.746,0,1,0,1.492,0,.746.746,0,0,0-1.492,0Zm4.1,11.676c.277.023.584.035.922.035s.648-.012.926-.035a.934.934,0,0,1-1.848,0Zm-1.828-.6a.414.414,0,0,1-.141-.656l.453-.6a1.509,1.509,0,0,0,.3-.908v-.908a2.13,2.13,0,0,1,1.859-2.105v-.385a.28.28,0,1,1,.561,0v.385a2.13,2.13,0,0,1,1.857,2.105v.908a1.509,1.509,0,0,0,.3.908l.449.6a.415.415,0,0,1-.137.656,8.479,8.479,0,0,1-5.5,0Z" transform="translate(-17719 -23491.002)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Event Filter Rules</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-predictionrules" width="13.438" height="14.93" viewBox="0 0 13.438 14.93">
                                        <path id="icon-predictionrules-2" data-name="icon-predictionrules" d="M17720.492,23505.932a1.5,1.5,0,0,1-1.492-1.492v-10.453a1.493,1.493,0,0,1,1.492-1.492h3.121a2.231,2.231,0,0,1,4.211,0h3.121a1.493,1.493,0,0,1,1.492,1.492v3.664a5,5,0,0,0-6,.813h-4.453v1.494h3.428a5.058,5.058,0,0,0-.408,1.5h-3.02v1.492h3.08a5.026,5.026,0,0,0,1.822,2.984Zm1.492-10.453v1.492h7.463v-1.492Zm2.984-2.242a.746.746,0,1,0,1.492,0,.746.746,0,0,0-1.492,0Zm3.244,11.994v-1.924h.006l-.006-.006,1.287-1.285-1.287-1.281.006-.006h-.006v-1.928h3.859v1.934l-1.287,1.281,1.287,1.285v1.93Z" transform="translate(-17719 -23491.002)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Prediction Rules</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-maintenancerules" width="14.526" height="14.93" viewBox="0 0 14.526 14.93">
                                        <path id="Path_11831" data-name="Path 11831" d="M17726.857,23505.932h.006Zm-6.365,0a1.5,1.5,0,0,1-1.492-1.492v-10.453a1.5,1.5,0,0,1,1.492-1.492h3.121a2.236,2.236,0,0,1,4.217,0h3.121a1.49,1.49,0,0,1,1.492,1.492v3.693a5,5,0,0,0-5.939.789h-4.514v1.494h3.463a4.87,4.87,0,0,0-.42,1.492h-3.043v1.492h3.092a5.05,5.05,0,0,0,1.775,2.984Zm1.5-8.961h7.469v-1.492h-7.469Zm2.984-3.734a.746.746,0,1,0,1.492,0,.746.746,0,0,0-1.492,0Zm4.307,12.43a.184.184,0,0,1-.182-.152l-.137-.961a2.788,2.788,0,0,1-.613-.355l-.9.361a.18.18,0,0,1-.219-.078l-.725-1.256a.179.179,0,0,1,.047-.23l.76-.6a3.582,3.582,0,0,1-.023-.359,3.541,3.541,0,0,1,.023-.354l-.76-.6a.173.173,0,0,1-.047-.23l.725-1.258a.173.173,0,0,1,.219-.076l.9.359a3.034,3.034,0,0,1,.613-.354l.137-.961a.175.175,0,0,1,.182-.148h1.445a.171.171,0,0,1,.178.148l.141.961a2.938,2.938,0,0,1,.607.354l.9-.359a.189.189,0,0,1,.225.076l.721,1.258a.176.176,0,0,1-.041.23l-.768.6a2.376,2.376,0,0,1,.029.354,2.411,2.411,0,0,1-.029.359l.768.6a.175.175,0,0,1,.041.23l-.721,1.256a.181.181,0,0,1-.225.078l-.9-.361a2.705,2.705,0,0,1-.607.355l-.141.961a.18.18,0,0,1-.178.152Zm-.543-3.627a1.266,1.266,0,1,0,1.264-1.264A1.265,1.265,0,0,0,17728.738,23502.039Z" transform="translate(-17719 -23491.002)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Maintenance Window Rules</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-aggregatepolicy" width="13.58" height="14.934" viewBox="0 0 13.58 14.934">
                                        <path id="Path_11824" data-name="Path 11824" d="M16865.023,21732.865h.006Zm-6.518,0a1.494,1.494,0,0,1-1.488-1.494v-10.451a1.5,1.5,0,0,1,1.488-1.494h3.125a2.231,2.231,0,0,1,4.211,0h3.119a1.5,1.5,0,0,1,1.5,1.494v3.572a5.022,5.022,0,0,0-2.428-.621,5.6,5.6,0,0,0-.562.027v-1.488H16860v1.494h7.434a4.98,4.98,0,0,0-3,1.5H16860v1.488h3.441a4.874,4.874,0,0,0-.387,1.494H16860v1.494h3.137a5.023,5.023,0,0,0,1.887,2.984Zm4.479-12.691a.75.75,0,1,0,.752-.748A.749.749,0,0,0,16862.984,21720.174Zm5.367,11.262v-2.246h2.246v2.246Zm-2.887,0v-2.246h2.248v2.246Zm2.887-2.891v-2.246h2.246v2.246Zm-2.887,0v-2.246h2.248v2.246Z" transform="translate(-16857.018 -21717.932)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Aggregation Rules</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-duplicate" width="13.781" height="16.559" viewBox="0 0 13.781 16.559">
                                        <path id="icon-duplicate-2" data-name="icon-duplicate" d="M17723.158,23507.559a1.988,1.988,0,0,1-1.982-1.988.6.6,0,1,1,1.2,0,.788.788,0,0,0,.785.785h7.635a.789.789,0,0,0,.789-.785v-11.1a.789.789,0,0,0-.789-.785h-.391a.6.6,0,0,1,0-1.2h.391a1.988,1.988,0,0,1,1.986,1.988v11.1a1.988,1.988,0,0,1-1.986,1.988Zm-2.844-3.355a1.326,1.326,0,0,1-1.316-1.322l.006-10.561a1.325,1.325,0,0,1,1.316-1.32h5.279l3.965,3.963v7.918a1.327,1.327,0,0,1-1.32,1.322Zm4.625-8.584h3.635l-3.635-3.629Z" transform="translate(-17718.998 -23491)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Duplicate</span>
                             </a>
                        </li>
                        <li>
                            <a class="s-sidebar__nav-link" href="#0" >
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" id="icon-image-healing" width="15.938" height="15.933" viewBox="0 0 15.938 15.933">
                                        <path id="icon-image-healing-2" data-name="icon-image-healing" d="M12.538,7.968,15.7,4.8a.8.8,0,0,0,0-1.121L12.253.232a.8.8,0,0,0-1.121,0L7.968,3.4,4.8.232A.814.814,0,0,0,4.239,0a.8.8,0,0,0-.556.231L.232,3.683a.8.8,0,0,0,0,1.121L3.4,7.968.232,11.129a.8.8,0,0,0,0,1.121l3.45,3.45a.8.8,0,0,0,1.121,0l3.164-3.164L11.129,15.7a.781.781,0,0,0,.564.231.814.814,0,0,0,.564-.231l3.45-3.45a.8.8,0,0,0,0-1.121L12.536,7.968Zm-4.555-2.4a.795.795,0,1,1-.795.795A.795.795,0,0,1,7.983,5.565ZM4.239,7.123,1.352,4.247,4.237,1.362,7.115,4.239ZM6.393,8.744a.795.795,0,1,1,.795-.795A.795.795,0,0,1,6.393,8.744Zm1.59,1.59a.795.795,0,1,1,.795-.795A.795.795,0,0,1,7.983,10.334Zm1.59-3.18a.795.795,0,1,1-.795.795A.795.795,0,0,1,9.573,7.154Zm2.115,7.425L8.8,11.7l2.886-2.886,2.878,2.878Z" transform="translate(-0.001)" fill="#6c759b"/>
                                    </svg>
                                </span>
                                <span class="label">Self Heal Policies</span>
                             </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="s-sidebar__nav-link" href="#0">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.123" viewBox="0 0 18 18.123">
                            <g id="icon-configure-reports" transform="translate(-0.999)">
                              <path id="Union_71" data-name="Union 71" d="M5330.872-23337.217a.211.211,0,0,1-.217-.182l-.164-1.16a3.194,3.194,0,0,1-.738-.428l-1.09.439a.226.226,0,0,1-.27-.1l-.874-1.512a.222.222,0,0,1,.053-.281l.926-.723a3.414,3.414,0,0,1-.035-.428,3.414,3.414,0,0,1,.035-.428l-.926-.727a.209.209,0,0,1-.053-.275l.874-1.518a.217.217,0,0,1,.27-.094l1.09.439a3.215,3.215,0,0,1,.738-.434l.164-1.154a.216.216,0,0,1,.217-.187h1.747a.216.216,0,0,1,.217.188l.164,1.154a3.267,3.267,0,0,1,.745.434l1.084-.439a.224.224,0,0,1,.27.094l.873,1.518a.216.216,0,0,1-.053.275l-.92.727a3.344,3.344,0,0,1,.029.428,3.419,3.419,0,0,1-.029.428l.92.723a.222.222,0,0,1,.053.281l-.873,1.512a.218.218,0,0,1-.27.1l-1.084-.439a3.476,3.476,0,0,1-.745.428l-.164,1.16a.211.211,0,0,1-.217.182Zm-.657-4.373a1.531,1.531,0,0,0,1.53,1.531,1.531,1.531,0,0,0,1.53-1.531,1.53,1.53,0,0,0-1.53-1.529A1.531,1.531,0,0,0,5330.215-23341.59Zm-2.825,2.592H5320a2,2,0,0,1-2-2v-9.863a.894.894,0,0,0,.176.018H5321a1,1,0,0,0,1-1v-3.312a.954.954,0,0,0-.018-.182h8.875a2,2,0,0,1,2,2v6.705a.727.727,0,0,0-.158-.018h-1.911a.557.557,0,0,0-.551.471l-.152,1.072a3.994,3.994,0,0,0-.562.328l-1.026-.41a.494.494,0,0,0-.205-.041.562.562,0,0,0-.481.281l-.949,1.629a.554.554,0,0,0,.135.715l.867.668c-.012.117-.018.223-.018.322s.006.205.018.322l-.873.676a.541.541,0,0,0-.135.7v.012l.533.908.006.006Zm-7.04-3.412a.411.411,0,0,0,.41.41h3.535a.408.408,0,0,0,.41-.41.406.406,0,0,0-.41-.4h-3.535A.41.41,0,0,0,5320.35-23342.41Zm0-2.121a.41.41,0,0,0,.41.4h4.988a.405.405,0,0,0,.4-.4.406.406,0,0,0-.4-.41h-4.988A.411.411,0,0,0,5320.35-23344.531Zm0-2.129a.412.412,0,0,0,.41.412h7.163a.408.408,0,0,0,.411-.412.407.407,0,0,0-.411-.4h-7.163A.41.41,0,0,0,5320.35-23346.66Zm0-2.385a.411.411,0,0,0,.41.41h8.974a.406.406,0,0,0,.4-.41.405.405,0,0,0-.4-.4h-8.974A.41.41,0,0,0,5320.35-23349.045Zm2.479-2.619a.408.408,0,0,0,.41.41h7.315a.408.408,0,0,0,.411-.41.408.408,0,0,0-.411-.406h-7.315A.408.408,0,0,0,5322.83-23351.664Zm-4.824.264,3.4-3.939v2.625c0,1.238-.152,1.314-1.43,1.314Z" transform="translate(-5317.001 23355.34)" fill="#6c759b"/>
                            </g>
                          </svg>
                    </span>
                    <span class="label">Configure Reports</span>
                 </a>
            </li>
            <li>
                <a class="s-sidebar__nav-link" href="#0">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18.947" viewBox="0 0 18 18.947">
                            <path id="icon-govern-dashboard" d="M5338.352-22869.057a.368.368,0,0,1-.354-.385.371.371,0,0,1,.354-.387h.6v-5.437a.373.373,0,0,1,.354-.387h2.53a.373.373,0,0,1,.354.387v5.438h1.05v-8.951a.371.371,0,0,1,.354-.387h2.53a.367.367,0,0,1,.349.387v4.4a.412.412,0,0,1,.01.094.4.4,0,0,1-.01.09v4.367h1.055v-5.437a.373.373,0,0,1,.354-.387h2.53a.372.372,0,0,1,.348.387v5.438h1.056v-8.951a.371.371,0,0,1,.348-.387h2.53a.371.371,0,0,1,.354.387v8.951h.6a.372.372,0,0,1,.354.387.369.369,0,0,1-.354.385Zm9.267-12.439a1.838,1.838,0,0,1,.272-.957l-2.209-2.264a1.716,1.716,0,0,1-.931.277,1.736,1.736,0,0,1-.936-.277l-2.209,2.264a1.833,1.833,0,0,1,.272.957,1.764,1.764,0,0,1-1.741,1.779,1.765,1.765,0,0,1-1.742-1.779,1.766,1.766,0,0,1,1.742-1.783,1.717,1.717,0,0,1,.936.277l2.209-2.264a1.776,1.776,0,0,1-.272-.953,1.763,1.763,0,0,1,1.741-1.785,1.762,1.762,0,0,1,1.736,1.785,1.776,1.776,0,0,1-.272.953l2.214,2.27a1.691,1.691,0,0,1,.931-.283,1.69,1.69,0,0,1,.93.283l2.215-2.27a1.776,1.776,0,0,1-.272-.953,1.762,1.762,0,0,1,1.736-1.785,1.763,1.763,0,0,1,1.741,1.785,1.761,1.761,0,0,1-1.741,1.779,1.717,1.717,0,0,1-.931-.277l-2.209,2.264a1.833,1.833,0,0,1,.272.957,1.765,1.765,0,0,1-1.741,1.779A1.764,1.764,0,0,1,5347.619-22881.5Zm2.726,0h0v0Zm-6.579-4.723h0v0Z" transform="translate(-5337.999 22888.004)" fill="#6c759b"/>
                          </svg>
                    </span>
                    <span class="label">Govern Dashboard</span>
                 </a>
            </li>
        </ul>
    </nav>
</div>