@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?3q0meg');
    src:  url('../../fonts/icomoon.eot?3q0meg#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?3q0meg') format('truetype'),
      url('../../fonts/icomoon.woff?3q0meg') format('woff'),
      url('../../fonts/icomoon.svg?3q0meg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icon_alert:before {
    content: "\e900";
    color: #243271;
  }
  .icon-icon_timeclock:before {
    content: "\e901";
    color: #788e9b;
  }
  .icon-icon-action-query_builder:before {
    content: "\e902";
    color: #788e9b;
  }
  .icon-icon-action-query_builder-1:before {
    content: "\e903";
    color: #788e9b;
  }
  .icon-icon-alert-error_outline:before {
    content: "\e904";
    color: #8599a4;
  }
  .icon-icon-alert-error_outline-1:before {
    content: "\e905";
    color: #8599a4;
  }
  .icon-icon-card:before {
    content: "\e906";
    color: #d0d0d0;
  }
  .icon-icon-column-filter:before {
    content: "\e907";
    color: #788e9b;
  }
  .icon-icon-configurereport:before {
    content: "\e908";
    color: #6c759b;
  }
  .icon-icon-critical-events:before {
    content: "\e909";
    color: #e51722;
  }
  .icon-icon-dashboard:before {
    content: "\e90a";
    color: #6c759b;
  }
  .icon-icon-dashboard-active:before {
    content: "\e90b";
    color: #d1d7f2;
  }
  .icon-icon-dashboard-configure:before {
    content: "\e90c";
    color: #6c759b;
  }
  .icon-icon-dashboardshared:before {
    content: "\e90d";
    color: #6c759b;
  }
  .icon-icon-download:before {
    content: "\e90e";
    color: #788e9b;
  }
  .icon-icon-dropdown:before {
    content: "\e90f";
  }
  .icon-icon-dropdown-1:before {
    content: "\e910";
    color: #8b8b8b;
  }
  .icon-icon-edit:before {
    content: "\e911";
    color: #16aeab;
  }
  .icon-icon-error:before {
    content: "\e912";
    color: #f27b27;
  }
  .icon-icon-events:before {
    content: "\e913";
    color: #636363;
  }
  .icon-icon-events-1:before {
    content: "\e914";
    color: #d1d7f2;
  }
  .icon-icon-expand:before {
    content: "\e915";
    color: #788e9b;
  }
  .icon-icon-filter-large:before {
    content: "\e916";
    color: #788e9b;
  }
  .icon-icon-govern-dashboard:before {
    content: "\e917";
    color: #6c759b;
  }
  .icon-icon-govern-dashboard-1:before {
    content: "\e918";
    color: #6c759b;
  }
  .icon-icon-hold:before {
    content: "\e919";
    color: #788e9b;
  }
  .icon-icon-incidents:before {
    content: "\e91a";
  }
  .icon-icon-kebab-menu:before {
    content: "\e91b";
  }
  .icon-icon-layers:before {
    content: "\e91c";
    color: #8599a4;
  }
  .icon-icon-missedSLA:before {
    content: "\e91d";
    color: #788e9b;
  }
  .icon-icon-navigation-close:before {
    content: "\e91e";
    color: #16aeab;
  }
  .icon-icon-notification_i:before {
    content: "\e91f";
    color: #f8d422;
  }
  .icon-icon-patternconfigure:before {
    content: "\e920";
    color: #6c759b;
  }
  .icon-icon-profiling:before {
    content: "\e921";
    color: #6c759b;
  }
  .icon-icon-refresh:before {
    content: "\e922";
    color: #788f9b;
  }
  .icon-icon-right-arrow:before {
    content: "\e923";
    color: #8b8b8b;
  }
  .icon-icon-settings .path1:before {
    content: "\e924";
    color: rgb(120, 143, 155);
  }
  .icon-icon-settings .path2:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(246, 246, 246);
  }
  .icon-icon-settings .path3:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(120, 143, 155);
  }
  .icon-icon-sort1 .path1:before {
    content: "\e927";
    color: rgb(38, 50, 56);
  }
  .icon-icon-sort1 .path2:before {
    content: "\e928";
    margin-left: -0.7001953125em;
    color: rgb(204, 204, 204);
  }
  .icon-icon-table:before {
    content: "\e929";
    color: #16aeab;
  }
  .icon-icon-unassigned:before {
    content: "\e92a";
    color: #788e9b;
  }
  .icon-icon-vector:before {
    content: "\e92b";
    color: #16aeab;
  }
  .icon-icon-warning:before {
    content: "\e92c";
    color: #e51722;
  }
  .icon-iocn-nearingSLA:before {
    content: "\e92d";
    color: #788e9b;
  }
  .icon-minus:before {
    content: "\e92e";
  }
  .icon-plus:before {
    content: "\e92f";
  }
  .icon-search:before {
    content: "\e930";
  }
  .icon-search-1:before {
    content: "\e931";
  }
  .icon-User:before {
    content: "\e932";
  }
  