// ---- base font 14 -------
// ----line-height will be 12 * 1.333 = 16px ------------
html {
    font-size: $defaultfont;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: normal;
    text-align: left;
    font-size: $defaultfont;
    background: #F6F6F8;
    color:#212121;
    @media (max-width: 991.98px) {
      font-size: ($defaultfont - 1);
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: normal;
    font-weight: normal;
  }

  a {
    text-decoration: none;
    &:hover {
      color:inherit;
      text-decoration: none;
    }
  }

  /*--- text color ---*/
  .red-text {
    color:$red-color;
  }
  .orange-text {
    color:$orange-color;
  }
  .yellow-text {
    color:$yellow-color;
  }
  .green-text {
    color:$green-color;
  }
  /*--- text color ---*/
  
  .sec-space {
    padding-top:5px;
    padding-bottom:5px;
  }

  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .custom-col-padding{
    padding-left: 5px;
    padding-right: 5px;
  }

  .custom-row-margin {
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .background-white {
    background: white;
  }
  
  .section-radius {
    border-radius: 3px;
  }
  .high{
    color:$red-color;
  }
  .highprogress{
    background-color:$red-color;
  }
  .medium{
    color:$orange-color-2;
  }
  .mediumprogress{
    background-color:$orange-color-2;
  }
  .low{
    color:$yellow-color-1;
  }
  .lowprogress{
    background-color:$yellow-color-1;
  }
  #myFilters {
    padding:0;
   }
   #myFilters .modal{
     width:313px;
     right:0 !important;
     left:inherit;
     top:70px;
   }
   #myFilters .modal-backdrop{
     background-color:transparent !important;
   }
   #myFilters.background-color{
     background-color:transparent!important;
   }
  .filters_panel .accordion {
    position:relative;
    background-color:$white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border:none;
    border-bottom: 1px solid $gray-300;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .filters_panel .accordion:after {
    // content: "";
    // color: #777;
    // font-weight: bold;
    // float: right;
    // width: 7px;
    // height: 7px;
    // border-bottom: 2px solid #777;
    // border-right: 2px solid #777;
    // border-radius: 2px;
    // position: absolute;
    // right: 9px;
    // top: 24px;
    // margin: auto;
    // transform: rotate(47deg);

    content: "";
  color: #777;
  font-weight: bold;
  float: right;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid #777;
  border-right: 2px solid #777;
  border-radius: 2px;
  position: absolute;
  right: 16px;
  top: 24px;
  margin: auto;
  transform: rotate(47deg)
}

.filters_panel .accordion.active:after {
  transform: rotate(223deg);
  top: 24px;
  transition: 0.5s all;
}


  .filters_panel .accordion .badge {
    margin-left: 12px;
    font-size: 12px;
    font-weight: 600;
    color:#16AEAB;
    width:20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding: 0;
    background: #f8f8f8;
    border-radius: 2px;
  }
  .filters_panel .badge {
    margin-left: 12px;
    font-size: 12px;
    font-weight: 600;
    color: #16AEAB;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    padding: 0;
    background: #f8f8f8;
    border-radius: 2px;
  }
  .filters_panel{
    .btn {
      border-radius: 3px;
      padding: 6px 20px;
    }
    .btn-default{
      border: 1px solid $secondary-blue-1;
    }
    .btn-primary{
      background-color: $secondary-blue-1;
    }
  }
  .filters_panel.active .accordion:hover {
    background-color: $gray-300;
  }
  
  // .filters_panel .accordion:after {
  //   content: '\25BE';
  //   color: #777;
  //   font-weight: bold;
  //   float: right;
  //   margin-left: 5px;
  // }
  
  .filters_panel.active:after {
    content: '\25B4';
  }
  
  .filters_panel .panel {
    padding: 0 18px;
    background-color:rgba(219, 219, 219, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .search-container input[type=text] {
    border: 0;
    outline: 0;
    border-bottom: 1px solid $gray-300;
    line-height: 24px;
    width:calc(100% - 20px);
    background: transparent;
  }
  .search-container input[type=text]:focus {
    border: 0;
    outline: 0;
    border-bottom: 1px solid $gray-300;
    line-height: 24px;
  }
  .search-container button {
    border: 0;
    outline: 0;
    border-bottom: 1px solid $gray-300; 
    background-color:transparent;
    padding: 4px 0 0 0;
    width: 20px;
    img {
      display: inline-block;
      vertical-align: baseline;
    }
  }

  .highcharts-tooltip-box {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  
  .highcharts-tooltip-box .highcharts-label-box {
    fill: #ff0000;
    fill-opacity: 0.85;
  }
  
  /*-- top head section styling --*/
  .section-top-head {
    h2 {
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
    }
    .form-control {
      height: 25px;
    }
  }
  .right-sec {
    .form-control {
      height: 25px;
    }
  }

  .top-status {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    color: #333333;
    padding: 2px 10px;
    background: rgb(36 50 113 / 10%);
    margin-right: 15px;
    border-radius: 2px;
  }

  h4 {
    font-size: $h2font;
  }

  .font12 {
    font-size: $smallfont;
  }

  .white-tag-absolute {
    position: absolute;
    z-index: 1;
    p {
        margin:0;
        padding:3px 8px;
        background: white;
        border-radius: 2px;
        text-transform: uppercase;
        font-size: 10px;
        box-shadow: 0px 1px 5px #66666626;
        strong {
            font-weight: 600;
        }
    }
  }

/*-- simplebar styling start --*/
.simplebar-track {
  &.simplebar-vertical {
    width: 8px !important;
    // right: -8px !important;
    .simplebar-scrollbar {
      &::before {
        background: #E1E1E4;
      }
    }
  }
}
/*-- Simplebar styling end --*/

/*-- common input styling start --*/
input.form-control {
  border-radius: 0;
  border:none;
  border-bottom:1px solid #ced4da;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  line-height: 18px;
  color:#212121;
}
/*-- common input styling start --*/



/*--- common tabs styling start ---*/
.common-tabs {
  .nav-tabs {
    margin-left:-5px;
    margin-right: -5px;
    > li {
      &.nav-item {
        padding-left: 5px;
        padding-right: 5px;
        a.nav-link {
          font-size: 14px;
          line-height: 19px;
          color:#212121;
          padding:10px 0;
          margin-bottom:0;
          position: relative;
          border: none;
          text-align: center;
          min-width: 135px;
          &:after {
            content: '';
            position: absolute;
            bottom:-1px;
            left:0;
            right:0;
            margin:auto;
            width:0;
            height: 3px;
            transition: width 0.3s ease;
          }
          &:hover {
            background: rgb(120 142 155 / 10%);
            font-weight: 400;
            &::after {
              background: transparent;
              width: 100%;
            }
          }
          &.active {
            font-weight: 700;
            &::after {
              background: #788E9B;
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.maind-tabs-wrap {
    .nav-tabs {
      margin: 0;
      > li {
        &.nav-item {
          padding-left: 5px;
          padding-right: 5px;
        }
        &:last-child {
          &.nav-item {
            padding-right: 0;
          }
        }
      }
    }
    .incident-table-event-wrap > li {
      // padding-left: 15px;
      // padding-right: 15px;
      .search-wrap, .select-wrapper {
        width: 100%;
      }
    }
  }
}
/*--- common tabs styling end ---*/


/*--- overlay selected styling start ---*/
.body-overlay {

  &.selected {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background: rgb(36 50 113 / 24%);
    z-index: 2;
  }
}
/*--- overlay selected styling end ---*/



/*--- Toast message styling start ---*/
.toast {
  &.eh-toast-wrap {
    opacity: 1;
    position:absolute;
    bottom:100px;
    right:20px;
    background: #D2EDF7;
    border: 1px solid #45b4df;
    border-left:9px solid #45b4df;
    height:auto;
    border-radius: 4px;
    &.solar_toast {
      display: none;
    }
    // padding-right: 20px;
    .toast-body {
      display: flex;
      align-items: center;
      .loader {
        border: 4px solid transparent;
        border-radius: 50%;
        border-top: 4px solid #3498db;
        width: 32px;
        height: 32px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }
      .info-wrap {
        padding-left: 15px;
        padding-right:15px;
        .subject-name {
          color:#1C6BB5;
          margin-bottom:0;
        }
        .detail {
          margin-bottom:0;
        }
      }
      .close {
        color:#1C6BB5;
      }
    }

    &.md-tost {
      border:1px solid #08A56C;
      background: #C3E9DC;
      border-radius: 4px;
      &::before {
        content: '';
        background:#08A56C;
        height: 100%;
        position: absolute;
        width: 5px;
        left: -1px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      .toast-body {
        padding: 0.65rem 0.75rem;
        .info-wrap {
          p {
            color:#08A56C;
            font-weight: 600;
          }
        }
        .close {
          color:#08A56C;
          margin-left: 20px;
        }
      }
    }
  }

}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*--- Toast message styling end ---*/


.select-wrapper {
  position: relative;
  min-width: 100px;
  min-height: 25px;
  // &:after {
  //   content: "";
  //   width: 7px;
  //   height: 7px;
  //   border-bottom: 2px solid #788E9B;
  //   border-right: 2px solid #788E9B;
  //   border-radius: 2px;
  //   position: absolute;
  //   top: -2px;
  //   bottom: 0;
  //   right: 2px;
  //   margin: auto;
  //   transform: rotate(47deg);
  //   transition: all 0.3s;
  // }
  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0 20px 0 0;
    color:black;
    font-size: 12px;
    height: 25px;
    &:focus, &:focus, &:focus-visible {
        box-shadow: none;
        border-color: $primary-btn-color;
        padding: 0 20px 0 0;
    }
   
  }
}

::-webkit-input-placeholder { /* Edge */
  color: #E0E0E0;
  font-size:12px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #E0E0E0;
  font-size:12px;
}

::placeholder {
  color: #E0E0E0;
  font-size:12px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


.mesh {
  fill:none;
  stroke: white;
  stroke-width: 0.5px;
}

.land {
  fill: #41ab5d;
}
