.small,small{
    font-size:$small;
}
a{
color:$gray-900;
text-decoration: none;

}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 1px 1px #ffff;
  border-color:#ffff;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin:0;
}
figure {
  img {
    width: 100%;
    height: 100%;
  }
}