$white:    #FFFFFF !default;
$gray-100: #F9F9F9 !default;
$gray-200: #F0F3F4 !default;
$gray-300: #E0E0E0 !default;
$gray-400: #F3F3F3 !default;
$gray-500: #A6A6A6 !default;
$gray-600: #858585 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212121 !default;

$black:    #212121 !default;
$black-100:    #8c8c8c;
$black-200:    #b8b8b8;
$black-300:    #e4e4e4;
$black-400:    #788e9b;
$black-500:    #d0d0d0;


// -----TCS Digitate colors--------*/
$primary-blue-1 : #243271;
$primary-blue-2 : #9198b8;
$primary-blue-3 : #a7adc6;
$primary-blue-4 : #c8ccdb;

$secondary-blue-1 : #16aeab;
$secondary-blue-2 : #8ad6d5;
$secondary-blue-3 : #a2dfdd;
$secondary-blue-4 : #c5ebea;

$green-color  : #5cb85c;
$green-color-1 : #8fbc0c;
$yellow-color : #ffce3a;
$yellow-color-1 : #FFDD33;
$blue-color   : #45b4df;
$purple-color : #7c78b5;
$orange-color : #e67e22;
$orange-color-1 : #eeb14f;
$orange-color-2 : #FF832B;
$pink-color   : #fd7575;
$red-color  : #E51722;

$primary-btn-color : #16aeab;
$primary-btn-hover : #109d9a;

// $secondary-btn-color: #16aeab;
$secondary-btn-hover : #e8f7f7;

$tertairy-btn-color : #788e9b;
$tertairy-btn-hover : #6b8392;

$red-btn-color : #fd7575;
$red-btn-hover : #ef6060; 



 
/*--------main-colors--------*/
// $secondary:  $secondary-color !default;
// $success:    $success-color !default;
// $info:       $cyan!default;
// $warning:    $warning-color !default;
// $danger:     $danger-color !default;
// $light:      $white  !default;
// $dark:       $gray-900  !default;


// $theme-colors: () !default;
// $theme-colors: map-merge(
//   (
//     "primary":    $primary,
//     "secondary":  $secondary,
//     "success":    $success,
//     "info":       $info,
//     "warning":    $warning,
//     "danger":     $danger,
//     "light":      $light,
//     "dark":       $dark
//   ),
//   $theme-colors
// );


$body-bg:                   $white !default;
$body-color:                $gray-900 !default;


// ---- Links-----
// $link-color:                              theme-color("primary") !default;
// $link-decoration:                         none !default;
// $link-hover-color:                        $gray-900 !default;
// $link-hover-decoration:                   underline !default;

//------Paragraphs------

$paragraph-margin-bottom:   0px !default;


// Components

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radus:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

$rounded-pill:                50rem !default;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow:                   0px 3px 6px #dad8d8 !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

// --------input froms-------
$input-box-shadow:                      none !default;
//------- Buttons  ---------

// $btn-padding-y:                20px !default;
// $btn-padding-x:                20px !default;
// $btn-font-size:              20px !default;
// $btn-line-height:             null !default;

// $btn-border-width:            0 !default;

// $btn-font-weight:             900 !default;
// $btn-box-shadow:              null !default;
// $btn-focus-width:             0 !default;
// $btn-focus-box-shadow:        null !default;

// $btn-link-disabled-color:     $gray-600 !default;

// $btn-block-spacing-y:         20px !default;



//------------ Cards  -------------
$card-spacer-y:                     16px !default;
$card-spacer-x:                     16px !default;
$card-border-width:                 0 !default; 
$card-border-radius:                12px !default;
$card-border-color:                #E0E0E0 !default;
$card-cap-bg:                       $white !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;
$card-box-shadow:                   $box-shadow !default;



//-----------container--------
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px,
) !default;

// ----------------font styles----------------


$opensans       : 'Open Sans', sans-serif;



// -------font-sizes-----
$base-font:14px;

$xxx-large:70px;
$x-extra-large:40px;
$extra-large:32px;
$large:24px;
$medium:20px;
$regular:16px;
$small:12px;
$extra-small:10px;
$x-extra-small:8px;

//------font-weight------
$fw-900:900;
$fw-800:800;
$fw-700:700;
$fw-600:600;
$fw-500:500;
$fw-400:400;


/*------------ other Font size styling -------------*/
$h1font : 22px;
$h2font: 20px;
$h3font: 16px;
$h4font: 14px;
$h5font: 12px;
$buttonfont: 15px;
$defaultfont: 14px;
$smallfont: 12px;
