.padding-around-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.workspace {
    padding-left: 60px;
    background:#f6f6f8;
    // height: 100vh;
    padding-bottom:130px;
    &.without-fixed-ft {
        padding-bottom: 10px;
    }
}

.total-incident-wrap {
    ul {
        li {
            background: white;
            display: flex;
            align-items: center;
            padding: 20px 20px;
            min-height: 100px;
            & + li {
                border-left: 1px solid #f5f4f4;
            }
            .img-wrap {
                width:32px;
                height:32px;
                background: #F6F6F6;
                border-radius: 20px;
                text-align: center;
                line-height: 29px;
            }
            .info-wrap {
                padding-left: 20px;
                .num {
                    display: block;
                    font-size: 20px;
                    font-weight: 700;
                    color:#333333;
                }
                .text {
                    display: block;
                    font-size: 12px;
                    font-weight: 600;
                    color:#585858;
                }
            }
        }
    }
}

.tags-filter-wrap {
  .tags-wrap {
    display: flex;
    align-items: center;
  }
}

.data-brefing-wrap {
    > ul {
        background: white;
        border-radius: 2px;
        box-shadow: 0 0 5px #EBEBEB;
        margin-bottom:0;
        > li {
            position: relative;
            padding: 15px 0;
            text-align: center;
            & + li {
                &:before {
                    content: '';
                    position: absolute;
                    width:1px;
                    height: 60%;
                    top:0;
                    bottom:0;
                    left:0;
                    margin:auto;
                    background: black;
                }
            }
            .num {
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}

/*-- tags and filter styling ---*/
.tags-filter-wrap {
    ul {
        &.tags-wrap {
            margin-bottom:0;
            > li {
                background: white;
                border-radius: 5px;
                border:1px solid #16AEAB;
                font-size: 12px;
                font-weight: 600;
                padding:5px 10px;
                margin:0 8px;
                &:first-child {
                    margin-left: 0;
                }
                &:last-child {
                    margin-right: 0;
                }
                span {
                    &.label {
                        color: #16AEAB;
                    }
                }
            }
        }
    }
    .days-wrap {
        ul {
            background: white;
            border-radius: 1px;
            >li {
                &.present-past-event, &.upcoming-event {
                    padding: 4px 14px 4px 15px;
                    border-right: 1px solid #F6F6F8;
                    min-height: 22px;
                    .event-output-val {
                        display: flex;
                        cursor: pointer;
                        position:relative;
                        &:after {
                            content: '';
                            width:0;
                            height: 3px;
                            background: transparent;
                            position: absolute;
                            bottom:-7px;
                            left:0;
                            right:0;
                            margin:auto;
                            transition: all 0.3s ease;
                        }
                        &.active , &:hover{
                            cursor: pointer;
                            &::after {
                                background: #788E9B;
                                width:100%;
                            }
                        }
                        label {
                            text-transform: uppercase;
                            font-size: 12px;
                            font-weight: 600;
                            margin:0;
                        }
                        input.event-output-input {
                            height:17px;
                            width:20px;
                            border:none;
                            font-size: 12px;
                            &:focus-visible {
                                outline: none;
                            }
                        }
                    }
                   
                }
                &.upcoming-event {
                    border-right: none;
                    .event-output-val {
                        &:after {
                            display: none;
                        }
                        &.active , &:hover{
                            cursor: pointer;
                            &:after {
                                display: none;
                            }
                        }
                    } 
                }
                
            }
        }
    }
    .filter-wrap {
        background: white;
        border-radius: 1px;
        margin-left: 10px;
        padding: 4px 3px 4px 16px;
    }
}
/*-- tags and filter styling --*/

.chart-event-list {
    >li {
        >span {
            display: block;
            &.num {
                font-size: 18px;
                font-weight: 700;
                line-height: 24px;
            }
            &.text {
                font-size: 12px;
                color: #636363;
            }
        }
    }
}

.expanded-view {
  display: inherit;
}

.gray-bg-block {
    background: #F6F6F6;
    border-radius: 2px;
    font-size: 14px;
    line-height: 14px;
    color: #15AEAA;
    width: 24px;
    height: 22px;
    padding: 4px;
    display: inline-block;
    text-align: center;
    a {
        > img {
            display: inline-block;
            vertical-align: text-top;
            text-align: center;
        }
    }
}
 .upcomming-evt-wrap {
     .upcoming-tag {
         p {
             margin:0;
             padding:1px 8px;
             background: white;
             border-radius: 2px;
             text-transform: uppercase;
             font-size: 10px;
             box-shadow: 0px 1px 5px #66666626;
             strong {
                 font-weight: 600;
             }
         }
     }
 }

 .eventsoverview-wrap {
     .cricalcount {
         margin-bottom:19px;
         > ul {
             margin-left: -10px;
             margin-right:-10px;
             > li {
                padding-left:10px;
                padding-right:10px;
                font-size: 12px;
                .count {
                    font-size:22px;
                    font-weight: 700;
                    display: inline-block;
                    &.icon {
                        font-size: 10px;
                        height:18px;
                        width:18px;
                        border-radius: 18px;
                        line-height: 16px;
                        border:1px solid red;
                        text-align: center;
                    }
                }
             }
         }
     }
 }

 .overview-table-wrap {
     height: 200px;
     .table {
         tr {
             td {
                 border:none;
                 padding:0.50rem;
                 font-size: 12px;
                 &.mins-text {
                     color:#8B8B8B;
                 }
             }
         }
     }
     
 }

 .column-filter {
     z-index: 2;
     width:150px;
     top: 28px;
    //  left: calc(100% - 20px);
     box-shadow: 0px 2px 8px rgb(87 87 87 / 20%);
     right: 0;
    &.tfilterexpand {
        width: 220px;
        height:323px;
        overflow: visible;
        .clear-check-evt {
            font-size: 12px;
            color:#DBDBDB;
            text-transform: capitalize;
            font-weight: 400;
        }
        .freez-check-wrap {
            > li {
                .checkbox-wrap {
                    label {
                        font-size: 13px;
                        text-transform: capitalize;
                        font-weight: 600;
                    }
                }
            }
        }
        .select-check-wrap {
            padding:15px 0;
            > li {
                margin:10px 0;
                &:first-child {
                    margin-top:0;
                }
                .checkbox-wrap {
                    font-size: 13px;
                    text-transform: capitalize;
                    label {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .search-wrap, .freez-check-wrap {
        padding:8px 10px;
        
    }
    .checkbox-data {
        border-bottom:1px solid #d1d1d1;
        padding:0px 10px;
    }

}

.column-dateandtime {
    z-index: 2;
    width:150px;
    top: 35px;
    // left: calc(100% - 20px);
    right: 0;
    box-shadow: 0px 2px 8px rgb(87 87 87 / 20%);
    &.tfilterexpand {
        width: 565px;
        height:326px;
        overflow: visible;
    }
    h5 {
        font-size: 14px;
        font-weight: 600;
        color: #212121;
        padding:14px 16px;
        text-transform: capitalize;
    }
    .left-nav {
        padding-left: 15px;
        ul {
            &.select-check-wrap {
                > li {
                    margin:24px 0;
                    &:first-child {
                        margin-top:12px;
                    }
                    &:last-child {
                        margin-bottom:12px;
                    }
                    .radio-wrap {
                        margin: 0;
                        label {
                            font-size: 14px;
                            color:#212121;
                            text-transform: capitalize;

                        }
                    }
                }
            }
            &.freez-check-wrap {
                padding-top:36px;
                padding-bottom:15px;
                > li {
                    .checkbox-wrap {
                        label {
                            text-transform: capitalize;
                            font-size: 12px;
                            color:#333333;
                        }
                    }
                }
            }
        }
    }

    .time-calender-wrap {
        min-height: 193px;
        .calendar-row {
            &.second-calender-row {
                padding-top:30px;
                .checkbox-wrap {
                    font-size: 13px;
                    color:#333333;
                }
                &.disabled {
                    .date-stamp-wrap, .time-stamp-wrap {
                        opacity: 0.5;
                        pointer-events: none;
                    }
                }
            }
            .time-stamp-wrap {
                > ul {
                    display: flex;
                    margin:0 -4px;
                    > li {
                        font-size: 12px;
                        padding:0 4px;
                        &:first-child {
                            position: relative;
                            &:after {
                                content: ':';
                                position: absolute;
                                right: -1px;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                height: 16px;
                            }
                        }
                        .select2-container {
                            .select2-selection {
                                border:1px solid #DBDBDB;
                                border-radius: 3px;
                                padding:4px 7px;
                                min-width: 41px;
                                .select2-selection__rendered {
                                    line-height: 13px;
                                    height: 13px ;
                                }
                                .select2-selection__arrow {
                                    width: 10px;
                                    b {
                                        width: 0;
                                        height: 0;
                                        border:none;
                                        border-top:3px solid #DBDBDB;
                                        border-left: 3px solid transparent;
                                        border-right: 3px solid transparent;
                                        transform: rotate(0);
                                        position: relative;
                                        top:15px;
                                        left: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
                .select2-container {
                    width: 100% !important;
                }
            }
            .label-control {
                font-size: 12px;
                line-height: 16px;
                color:#8B8B8B;
                text-transform: capitalize;
            }
        }
        // .md-mobile-picker-inline {
        //     margin:0;
        //     border:none;
        //     .mbsc-ios.mbsc-range-control-wrapper {
        //         display: none;
        //     }
        //     .mbsc-datepicker-inline {
        //         border:none;
        //     }
        //     .mbsc-datepicker .mbsc-calendar {
        //         padding-bottom: 0;
        //     }
        //     .mbsc-calendar-day-inner {
        //         border:none;
        //         // width: 17px;
        //         height: 17px;
        //         line-height: 17px;
        //     }
        //     .mbsc-ios.mbsc-calendar-day-text {
        //         font-size: 12px;
        //         width: 19px;
        //         height: 19px;
        //         line-height: 19px;
        //         position: relative;
        //         top: -1px;
        //         border-radius: 50%;
        //         text-align: center;
        //         border:none;
        //         &.mbsc-calendar-today {
        //             border-color: #FFFFFF;
        //             background: #16AEAB;
        //             color:white;
        //         }
        //     }
        //     .mbsc-calendar-header {
        //         .mbsc-calendar-title-wrapper {
        //             justify-content: center;
        //             .mbsc-calendar-month {
        //                 color:#212121;
        //                 font-size: 14px;
        //                 font-weight: 600;
        //             }
        //             .mbsc-calendar-year {
        //                 font-size: 14px;
        //                 color:#636363;
        //             }
        //         }
        //         .mbsc-calendar-controls {
        //             position: relative;
        //             min-height: 25px;
        //             .mbsc-calendar-button {
        //                 line-height: 25px;
        //                 padding:0 0.5em;
        //                 &.mbsc-calendar-button-prev {
        //                     position: absolute;
        //                     left: 0;
        //                     top: 0;
        //                     bottom: 0;
        //                     margin: auto;
        //                     .mbsc-icon {
        //                         width:12px;
        //                         height: 12px;
        //                         > svg {
        //                             fill: #788E9B;
        //                         }
        //                     }
        //                 }
        //                 &.mbsc-calendar-button-next {
        //                     position: absolute;
        //                     right: 0;
        //                     top: 0;
        //                     bottom: 0;
        //                     margin: auto;
        //                     .mbsc-icon {
        //                         width:12px;
        //                         height: 12px;
        //                         > svg {
        //                             fill: #788E9B;
        //                         }
        //                     }
        //                 }
        //             }
        //             .mbsc-icon-button {
        //                 width: auto;
        //                 height: auto;
        //             }
        //         }
        //     }
        //     .mbsc-calendar-slide, .mbsc-calendar-week-days {
        //         padding: 0;
        //     }
        //     .mbsc-calendar-cell {
        //         > div {
        //             &:first-child {
        //                 color: white;
        //             }
        //         }
        //         border:none;
        //         .mbsc-hover {
        //             .mbsc-calendar-cell-text {
        //                 background-color :rgb(22 174 171 / 30%);
        //                 font-size: 12px;
        //                 width: 17px;
        //                 height: 17px;
        //                 line-height: 17px;
        //                 border:none;
        //             }
        //         }
        //     }
        //     .mbsc-ios.mbsc-range-day {
        //         &:after {
        //             height: 21px;
        //             background: #89d6d5;
        //             top:0;
        //         }
        //         &.mbsc-range-day-end {
        //             &.mbsc-ltr {
        //                 &:after {
        //                     right: 50%;
        //                     margin-right: -0.65em;
        //                     border-radius: 0 2em 2em 0;
        //                     top:0;
        //                 }
        //             }
        //             &.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
        //                 border-color: #FFFFFF;
        //                 background: #16AEAB;
                       
        //             }
        //         }
        //         &.mbsc-range-day-start {
        //             &.mbsc-ltr {
        //                 &:after {
        //                     left: 50%;
        //                     margin-left: -0.65em;
        //                     border-radius: 2em 0 0 2em;
        //                     top:0;
        //                 }
        //             }
        //             &.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
        //                 border-color: #FFFFFF;
        //                 background: #16AEAB;
        //             }
                    
        //         }
        //     }
        // }
    }
}

 .time-filter-wrap, .vertical-tabs-wrap {
    position: absolute;
    width:545px;
    background: white;
    right: -3px;
    z-index: 3;
    top: 26px;
    box-shadow: 0px 6px 4px rgb(87 87 87 / 20%);
    top:23px;
    border-radius: 2px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in;
    &.tfilterexpand {
        height:326px;
    }
    .time-filter-head {
        text-align: left;
        border-bottom:1px solid #D0D0D0;
        padding: 15px;
        position: relative;
        font-size: 14px;
        color:#212121;
        .close-icon {
            position: absolute;
            width: 22px;
            height: 22px;
            line-height: 6px;
            top:0;
            bottom:0;
            right:10px;
            margin: auto;
            z-index: 1;
        }
    }
    .tabs-container {
        .nav-tabs {
            flex-direction: column;
            text-align: left;
            .nav-item {
                margin-bottom:4px;
                &:last-child {
                    position: relative;
                    margin-top: 15px;
                    &:before {
                        content: '';
                        width:75%;
                        height: 1px;
                        background: #D0D0D0;
                        position: absolute;
                        top:-5px;
                        left:15px;
                    }
                }
                .nav-link {
                    border:none;
                    position: relative;
                    border-radius: 0;
                    font-size: 14px;
                    line-height: 17px;
                    color: #323639;
                    &:before {
                        content: '';
                        width:6px;
                        height: 100%;
                        position: absolute;
                        top:0;
                        bottom:0;
                        left:0;
                    }
                    &:hover{
                        background: rgb(120 142 155 / 20%);
                    }
                    &.active {
                        background: rgb(120 142 155 / 40%);
                        font-weight: 600;
                        &:before {
                            background: #788E9B;
                        }
                    }
                }
            }
        }
        .tab-content {
            border-left: 1px solid #D0D0D0;
        }
        .radio-col-wrap {
            // background: rgb(120 142 155 / 13%);
            height: 207px;
            ul {
                background: transparent;
                > li {
                    padding: 0.5rem 0;
                    text-align: center;
                    .form-check {
                        color:#788E9B;
                        text-align: left;
                        position: relative;
                        padding-left: 0;
                        margin:0;
                        .form-check-input {
                            width:16px;
                            height:16px;
                            margin-top:0;
                            margin-left: 0;
                            z-index: 1;
                        }
                        .form-check-label {
                            font-size: 12px;
                            line-height: 17px;
                            text-transform: capitalize;
                        }
                        .form-check-input:checked  {
                            background-color: #333333;
                        }
                        .form-check-input:checked ~ label {
                            color: #333333;
                        }
                        .form-check-input:checked  + .form-check-label {
                            color: #333333;
                            &:before {
                                background-color: #16aeab;
                                box-shadow: inset 0 0 0 2px #ffffff;
                            }
                        }
                    }
                }
            }
            .mins-list-wrap {
                height:193px;
                position: relative;
                padding-left: 5px;
                &:before {
                    content: '';
                    position: absolute;
                    width:1px;
                    height:100%;
                    top:0;
                    bottom:0;
                    left:0;
                    background: #DBDBDB;
                    z-index: 1;
                }
                ul {
                    > li {
                        color:#212121;
                        font-size: 12px;
                        cursor: pointer;
                        &.active, &:hover {
                            color:$primary-btn-color;
                            background: rgb(22 174 171 / 28%);
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .date-stamp-wrap {
            .label-control {
                font-size: 12px;
                margin-right: 20px;
                color:#636363;
            }
            .date {
                font-size: 12px;
                color:#212121;
            }
        }
        .time-calender-wrap {
            min-height: 207px;
            .calendar-row {
                &.second-calender-row {
                    padding-top:30px;
                    .checkbox-wrap {
                        font-size: 13px;
                        color:#333333;
                    }
                    &.disabled {
                        .date-stamp-wrap, .time-stamp-wrap {
                            opacity: 0.5;
                            pointer-events: none;
                        }
                    }
                }
                .time-stamp-wrap {
                    > ul {
                        display: flex;
                        margin:0 -4px;
                        > li {
                            font-size: 12px;
                            padding:0 4px;
                            &:first-child {
                                position: relative;
                                &:after {
                                    content: ':';
                                    position: absolute;
                                    right: -1px;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                    height: 16px;
                                }
                            }
                            .select2-container {
                                .select2-selection {
                                    border:1px solid #DBDBDB;
                                    border-radius: 3px;
                                    padding:4px 7px;
                                    min-width: 41px;
                                    .select2-selection__rendered {
                                        line-height: 13px;
                                        height: 13px ;
                                    }
                                    .select2-selection__arrow {
                                        width: 10px;
                                        b {
                                            width: 0;
                                            height: 0;
                                            border:none;
                                            border-top:3px solid #DBDBDB;
                                            border-left: 3px solid transparent;
                                            border-right: 3px solid transparent;
                                            transform: rotate(0);
                                            position: relative;
                                            top:15px;
                                            left: 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .label-control {
                    font-size: 12px;
                    line-height: 16px;
                    color:#8B8B8B;
                    text-transform: capitalize;
                }
            }
            // .md-mobile-picker-inline {
            //     margin:0;
            //     border:none;
            //     .mbsc-ios.mbsc-range-control-wrapper {
            //         display: none;
            //     }
            //     .mbsc-datepicker-inline {
            //         border:none;
            //     }
            //     .mbsc-datepicker .mbsc-calendar {
            //         padding-bottom: 0;
            //     }
            //     .mbsc-calendar-day-inner {
            //         border:none;
            //         // width: 17px;
            //         height: 17px;
            //         line-height: 17px;
            //     }
            //     .mbsc-ios.mbsc-calendar-day-text {
            //         font-size: 12px;
            //         width: 19px;
            //         height: 19px;
            //         line-height: 19px;
            //         position: relative;
            //         top: -1px;
            //         border-radius: 50%;
            //         text-align: center;
            //         border:none;
            //         &.mbsc-calendar-today {
            //             border-color: #FFFFFF;
            //             background: #16AEAB;
            //             color:white;
            //         }
            //     }
            //     .mbsc-calendar-header {
            //         .mbsc-calendar-title-wrapper {
            //             justify-content: center;
            //             .mbsc-calendar-month {
            //                 color:#212121;
            //                 font-size: 14px;
            //                 font-weight: 600;
            //             }
            //             .mbsc-calendar-year {
            //                 font-size: 14px;
            //                 color:#636363;
            //             }
            //         }
            //         .mbsc-calendar-controls {
            //             position: relative;
            //             min-height: 25px;
            //             .mbsc-calendar-button {
            //                 line-height: 25px;
            //                 padding:0 0.5em;
            //                 &.mbsc-calendar-button-prev {
            //                     position: absolute;
            //                     left: 0;
            //                     top: 0;
            //                     bottom: 0;
            //                     margin: auto;
            //                     .mbsc-icon {
            //                         width:12px;
            //                         height: 12px;
            //                         > svg {
            //                             fill: #788E9B;
            //                         }
            //                     }
            //                 }
            //                 &.mbsc-calendar-button-next {
            //                     position: absolute;
            //                     right: 0;
            //                     top: 0;
            //                     bottom: 0;
            //                     margin: auto;
            //                     .mbsc-icon {
            //                         width:12px;
            //                         height: 12px;
            //                         > svg {
            //                             fill: #788E9B;
            //                         }
            //                     }
            //                 }
            //             }
            //             .mbsc-icon-button {
            //                 width: auto;
            //                 height: auto;
            //             }
            //         }
            //     }
            //     .mbsc-calendar-slide, .mbsc-calendar-week-days {
            //         padding: 0;
            //     }
            //     .mbsc-calendar-cell {
            //         > div {
            //             &:first-child {
            //                 color: white;
            //             }
            //         }
            //         border:none;
            //         .mbsc-hover {
            //             .mbsc-calendar-cell-text {
            //                 background-color :rgb(22 174 171 / 30%);
            //                 font-size: 12px;
            //                 width: 17px;
            //                 height: 17px;
            //                 line-height: 17px;
            //                 border:none;
            //             }
            //         }
            //     }
            //     .mbsc-ios.mbsc-range-day {
            //         &:after {
            //             height: 21px;
            //             background: #89d6d5;
            //             top:0;
            //         }
            //         &.mbsc-range-day-end {
            //             &.mbsc-ltr {
            //                 &:after {
            //                     right: 50%;
            //                     margin-right: -0.65em;
            //                     border-radius: 0 2em 2em 0;
            //                     top:0;
            //                 }
            //             }
            //             &.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
            //                 border-color: #FFFFFF;
            //                 background: #16AEAB;
                           
            //             }
            //         }
            //         &.mbsc-range-day-start {
            //             &.mbsc-ltr {
            //                 &:after {
            //                     left: 50%;
            //                     margin-left: -0.65em;
            //                     border-radius: 2em 0 0 2em;
            //                     top:0;
            //                 }
            //             }
            //             &.mbsc-ios.mbsc-selected .mbsc-calendar-cell-text {
            //                 border-color: #FFFFFF;
            //                 background: #16AEAB;
            //             }
                        
            //         }
            //     }
            // }
        }
    }
 }

 .incident-table-event-wrap {
     > li {
         padding:0 9px;
         display: flex;
         align-items: center;
         > a {
            height: 14px;
            display: inline-block;
            vertical-align: middle;
             img {
                 display: inline-block;
                 vertical-align: super;
                 height: 100%;
             }
         }
        //  img {
        //      width:16px;
        //      height:16px;
        //  }
        &.card-view-list {
            display: none;
            .groupby-select {
                background:white;
                border:none;
                border-bottom: 1px solid #DBDBDB;
                outline: none;
                max-height: 25px;
                font-size: 12px;
                min-width: 189px;
                padding-right: 20px;
                margin-left: 16px;
                text-align: left;
                padding-left: 0;
                position: relative;
                &:after {
                    content: '';
                    border-color: #888 transparent transparent transparent;
                    border-style: solid;
                    border-width: 5px 4px 0 4px;
                    left: calc(100% - 7px);
                    margin-left: -4px;
                    margin-top: -2px;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border: 1px solid #707070;
                    transform: rotate(45deg);
                    top: 10px;
                    border-top: none;
                    border-left: none;
                }
                &.expand-option {
                    &:after {
                        transform: rotate(134deg);
                        border: 1px solid #707070;
                        border-top: none;
                        border-right: none;
                        top: 14px;
                    }
                }
            }
            .card-multidropdown {
                display:none;
                position: absolute;
                background: white;
                z-index: 1;
                top: 24px;
                right: 0;
                font-size: 12px;
                border:1px solid #DBDBDB;
               
                &.expand-dropdown {
                    display:block;
                }
                ul {
                    &.abc {
                        border-radius: 2px;
                        box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
                        width:189px;
                        padding:9px 0;
                    }
                    > li {
                        a {
                            padding:6px 15px;
                            display: block;
                            position: relative;
                            span {
                                &.arrow {
                                    width:0;
                                    height: 0;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    right:12px;
                                    margin: auto;
                                    border-top: 4px solid transparent;
                                    border-bottom: 4px solid transparent;
                                    border-left: 4px solid #788E9B;
                                }
                            }
                        }
                        &:hover {
                            > a {
                                background: #eef9f9;
                            }
                            .card-subdropdown {
                                display: block;
                                background: white;
                            }
                        }
                    }
                }
                .card-subdropdown {
                    display: none;
                    width:119px;
                    position: absolute;
                    background: white;
                    border:1px solid #DBDBDB;
                    left:100%;
                    top:-1px;
                    box-shadow: 0px 1px 10px rgb(0 0 0 / 20%);
                    border-radius: 2px;
                    z-index: -1;
                }
            }
         .select-wrapper {
            display:flex;
             .label-control {
                 display:inline-block;
                 width:75%;
                 font-size: 12px;
                 vertical-align: middle;
                 margin-bottom: 0;
                 line-height: 25px;
             }
         }
        }
         &.incident-view-changes {
             padding:0 2px;
             padding-left: 0;
             display: flex;
             align-items: center;
            > a {
                padding:0 9px;
                height: 14px;
                & + a {
                    position: relative;
                    &::before {
                        content:'';
                        width:1px;
                        height:15px;
                        background: #d1d1d1;
                        position: absolute;
                        left:0;
                        top:0px;
                        bottom:0;
                        margin:auto;
                    }
                }
                img {
                    display: inline-block;
                    vertical-align: super;
                    height: 100%;
                    &.active-icon {
                        display: none;;
                    }
                    &.inactive-icon {
                        display: inline-block;
                    }
                }
                &.active {
                    img {
                        &.active-icon {
                            display: inline-block;
                        }
                        &.inactive-icon {
                            display: none;
                        }
                    }
                }
                // &.incident-table-view {
                //     .active {

                //     }
                //     .inactive {

                //     }
                // }

                // &.incident-card-view {}
            }
        }
        &.table-view-list {
            .select2-container, .select-wrapper {
                width:100% !important;
            }
        }
     }
 }

 .incident-card-wrapper {
    display: none;
    .dataTables_info {
        font-size: 12px;
        color: #636363;
    }
    .dataTables_length {
        label {
            margin-bottom: 0;
            position: relative;
            // &:after {
            //     content: "";
            //     width: 0;
            //     height: 0;
            //     border-left: 6px solid transparent;
            //     border-top: 6px solid #788E9B;
            //     border-radius: 2px;
            //     position: absolute;
            //     top: 0px;
            //     bottom: 0;
            //     right: 4px;
            //     margin: auto;
            //     transform: rotate(0deg);
            //     transition: all 0.3s;
            //     border-right: 6px solid transparent;
            // }
            select {
                padding: 3px 6px;
                font-size: 12px;
                height: 30px;
                border: 1px solid #E0E0E0;
                border-radius: 4px;
                background-color: transparent;
                color:#636363;
            }
            .select2-container {
                border: 1px solid #d1d1d1;
                padding: 4px 6px;
                height: 30px;
                border-radius: 4px;
                .select2-selection .select2-selection__rendered {
                    border: none;
                    height: 21px;
                    line-height: 18px;
                    font-size: 12px;
                    color: #636363;
                }
                .select2-selection__arrow {
                    right: 3px;
                    width: 15px;
                    height: 25px;
                    b {
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 5px solid #545454;
                        font-size: inherit;
                        margin-right: 6px;
                        border-bottom: 0;
                        transform: none;
                        top: 13px;
                    }
                }
            }
        }
    }
    .dataTables_paginate {
        border: 1px solid #E0E0E0;
        border-radius: 4px;
        margin: 0 15px;
        padding: 4px 6px;
        height: 30px;
        .paginate_button {
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            *cursor: hand;
            color: #333 !important;
            border: 1px solid transparent;
            width: 7px;
            height: 17px;
            border-radius: 3px;
            font-size: 12px;
            padding: 0;
            &:hover {
                background: #8B8B8B;
                border-color:#8B8B8B;
            }
            &.disabled, &:hover,&:active {
                cursor: default;
                color: #666 !important;
                border: 1px solid transparent;
                background: transparent;
                box-shadow: none;
            }
            &.previous, &.next {
                width: 0;
                height: 0;
                min-width: 0;
                border-radius: 0;
            }
            &.previous {
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-right: 6px solid #8B8B8B;
                font-size: inherit;
                margin-right: 6px;
            }
            &.next {
                border-top: 4px solid transparent;
                border-bottom: 4px solid transparent;
                border-left: 6px solid #8B8B8B;
                margin-left: 6px;
            }
           
            &.current {
                background: #8B8B8B;
                color: white !important;
            }
        }
    }
 }


 /*-- table filter popup styling ---*/
 .table-popfilter-wrap {
     height:0;
     overflow: hidden;
     z-index: 1;
     width:400px;
     right: 0;
     &.tfilterexpand {
        height:320px;
        overflow: visible;
     }
    .inner-wrap {
        .time-filter-head {
             padding:15px;
             border-bottom:1px solid #E0E0E0;
             position:relative;
             .close-icon {
                position: absolute;
                width: 8px;
                height: 8px;
                line-height: 6px;
                top: 0;
                bottom: 0;
                right: 10px;
                margin: auto;
                z-index: 1;
             }
        }

        .tabs-container {
            height: calc(100% - 50px);
        }
        .checkbox-wrap {
            label {
                padding-left: 24px;
                font-size: 13px;
                &:before {
                    margin:0;
                    bottom:0;
                    margin:auto;
                }
            }
        }
    }
 }
 /*-- table filter popup styling ---*/

 .upcommingd-wrap {
     .label {
         font-size: 12px;
     }
     .progress {
         height:5px;
         background: transparent;
         .progress-bar {
             border-radius: 2px;
         }
        .purpleprogress {
            background: #B494D9;
        }
        .greenprogress {
            background: #D6F17C;
        }
     }
     .num {
         font-size: 14px;
     }
 }
 .upcomming-lagend {
     position: absolute;
     right:0;
     bottom:-10px;
     li {
         padding:0 10px;
         &:last-child {
             padding-right: 0;
         }
     }
     .lageend-circle {
         display: inline-block;
         width:8px;
         height:8px;
         border-radius: 8px;
         &.high {
            background: #E51722;
         }
         &.medium {
            background: #FF832B;
        }
        &.low {
             background: #FFDD33;
        }
        
     }
     .text {
         font-size: 12px;
     }

     &.category-upcoming-legend {
        bottom: -30px;
         > li {
             white-space: nowrap;
             .lageend-circle  {
                 &.blue {
                    background: #4802D5;
                 }
                 &.pink {
                    background: #DA3490;
                 }
                 &.orange {
                    background: #E8871A;
                 }
                 &.green {
                    background: #47E26F;
                 }
                 &.purple {
                    background: #685FBC;
                 }
                 &.skyblue {
                    background: #81C2DF;
                 }
             }
         }
     }
 }

 .custom-table-wrap {
    // border: 1px solid;
    height: 262px;
    .table {
        margin-bottom:0;
        thead {
            tr {
                th {
                    padding:7px 5px;
                    vertical-align: middle;
                    border-bottom:1px solid #dee2e6;
                    font-weight: 600;
                    font-size: 14px;
                }
                &.num-tr {
                    th {
                        text-align: right;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 12px;
                    vertical-align: middle;
                    &:first-child {
                        color:#1C4C58;
                        font-weight: 600;
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 1px solid #dee2e6;
                    }
                }
                &.num-tr {
                    td {
                        text-align: right;
                    }
                }
            }
        }
    }
    .networkcontainer {
        height: 240px;
        width:100%;
    }
 }

 /*--- filter popup styling start ---*/
 .filter-popup-wrap {
     position:fixed;
     width:300px;
     height:100vh;
     top:0;
     bottom:0;
     right:-300px;
     transition: right 0.3s ease;
     z-index: 3;
     background:white;
     &.expandfilter {
         right:0;
     }
 }
 /*--- filter popup styling end ---*/


 .filter-wrap {
     .gray-bg-block {
         background:rgb(80 193 184 / 13%);
         font-weight: 600;
     }
     .filter-update-notify {
         width:7px;
         height:7px;
         border-radius: 50%;
         background:#15AEAA;
         position: absolute;
         top:0;
         right:-2px;
     }
 }

 .network-graph-wrap {
     border:1px solid #F5F5F5;
     padding:9px;
     background: #FCFCFC ;
     height: 267px;
     position:relative;
     .network-g-search {
         input {
            max-width: 99px;
            background: url('../../public/images/search.svg');
            padding-right: 20px;
            background-repeat: no-repeat;
            background-position: 97% 8px;
            background-size: 10px;
         }
     }
     svg {
         .highcharts-background {
             fill: transparent;
         }
     }
     .highcharts-root {
         text {
            font-weight: normal !important;
         }
     }
     .NgraphAction-wrap {
         position: absolute;
         bottom: 44px;
         right: 10px;
         ul {
             > li {
                 width: 24px;
                 height: 24px;
                 background:white;
                 border:1px solid #E0E0E0;
                 margin:4px 0;
                 border-radius: 2px;
                 button {
                    width: 100%;
                    height: 100%;
                    border:none;
                    text-align:center;
                    padding:3px;
                    line-height: 10px;
                    background: transparent;
                    img {
                    width: 100%;
                    display: inline-block;
                    }
                 }
             }
         }
     }
     #networkcontainer{
         transform: scale(1);
         transform-origin: 50%;
         transition: all .3s ease-in;
     }

     .map-detail-wrap {
         .lagend-view-wrap {
                position: absolute;
                right: 10px;
                top:40px;
                z-index: 2;
                .legend-block {
                    font-size: 10px;
                    padding:4px 10px;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 0px 1px 4px #0000000A;
                    border-radius: 2px;
                }
         }
         .map-view-wrap {
            position: absolute;
            right: 10px;
            top:72px;
            z-index: 1;
             .map-block {
                    font-size: 12px;
                    padding:4px 10px;
                    font-weight: 600;
                    color:#16AEAB;
                    background: #FFFFFF 0% 0% no-repeat padding-box;
                    box-shadow: 0px 1px 4px #0000000A;
                 border-radius: 2px;
             }
         }
     }
 }

 #networkcontainer {
     #Ng {
         #g {
             transition: all 0.3s ease;
         }
     }
 }

 .map-graph-wrap, .custom-table-wrap {
    height: 267px;
 }


.sec-second-head  {
    .switch-horizontal {
        label {
            font-size: 12px;
        }
    }
}


/*--- table card view styling ---*/

.incident-card-view-wrap {
    .custom-row {
        margin-left: -10px;
        margin-right: -10px;
        .custom-col {
            padding-left: 10px;
            padding-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            .card-wrapper {
                &:hover {
                    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
                    cursor: pointer;
                }
                // > .linking-wrap {
                //     &:hover {
                //         box-shadow: 0 2px 4px #000000;
                //     }
                // }
            }
        }
    }
    .card-wrapper {
        border:1px solid #DBDBDB;
        border-radius: 4px;
        padding:10px 16px;
        .section-sub-title {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            padding-bottom:10px;
            border-bottom:1px solid #d1d1d1;
            .text {
                text-transform: capitalize;
                font-weight: 600;
                color:#212121;
            }
            .num {
                color: #212121;
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}
/*--- table card view styling ---*/

.custom-modal-styling {
    &.table-column-filter-pop {
        .modal-dialog {
            .modal-content {
                border-radius: 0;
                .modal-header {
                    background:white ;
                    border-bottom:1px solid #e0e0e0;
                    .modal-title {
                        color:#212121;
                        font-weight: 600;
                    }
                    .close {
                        color:#212121;
                    }
                }
                .modal-body {
                    .check-list-wrap {
                        height: 300px;
                        ul {
                            li {
                                margin:5px 0;
                                .checkbox-wrap {
                                    label {
                                        padding-left: 25px;
                                    }
                                    &.disabled {
                                        color: #212121;
                                        opacity: 1;
                                        input[type=checkbox]:checked ~ label::after {
                                            border-bottom: 2px solid #788E9B;
                                            border-left: 2px solid #788E9B;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .checked-right-col {
                        background:rgb(219 219 219 / 16%);
                        .checked-data-head {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom:18px;
                            span {
                                &.text {
                                    font-size: 12px;
                                    font-weight: 600;

                                }
                                &.right-text {
                                    color:#636363;
                                    font-size: 12px;
                                }
                            }
                        }
                        .checked-data-wrap {
                            height: 300px;
                            ul {
                                > li {
                                    border:1px solid #DBDBDB;
                                    border-radius: 5px;
                                    margin: 5px 0;
                                    padding:10px 7px;
                                    padding-right: 20px;
                                    position: relative;
                                    font-size: 14px;
                                    line-height: 14px;
                                    color:#323639;
                                    display: flex;
                                    align-items: center;
                                    background: #ffffff;
                                    &:hover, &.active {
                                        border:1px solid #788E9B;
                                        .close-data {
                                            color:#788E9B;
                                        }
                                    }
                                    a.kabab-menu {
                                        // border:1px solid;
                                        width: 14px;
                                        height: 14px;
                                        display: inline-block;
                                        position: relative;
                                        img {
                                            width: 12px;
                                            height: 12px;
                                            display: inline-block;
                                            position: absolute;
                                            top: 0;
                                            bottom: 0;
                                            left: 0;
                                            right: 0;
                                            margin: auto;
                                        }
                                    }
                                    
                                    .close-data {
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        right: 12px;
                                        margin: auto;
                                        width: 8px;
                                        height: 8px;
                                        font-size: 11px;
                                        line-height: 7px;
                                        text-align: center;
                                        font-size: 18px;
                                        color:#DBDBDB;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.policy-parameter-wrap {
    .select2-container {
        width: 100% !important;
    }
}

.event-chart-detail-wrap, .incident-chart-detail-wrap {
    .event-block {
        ul.block {
            display: flex;
            align-items: center;
            > li {
                padding:6px 0;
                &.col-first {
                    width: 40%;
                }
                &.col-middle {
                    width:40%;
                    padding-left: 3px;
                    padding-right: 3px;
                }
                &.col-last {
                    width: 20%;
                }
                // width:33.33%;
                .bar {
                    display: block;
                    height: 6px;
                    // border-radius: 2px;
                }
                p {
                    font-size: 12px;
                    color:#212121;
                    margin:0;
                }
                
            }
        }
    }
}

.incident-chart-detail-wrap {
    .event-block {
        ul.block {
            align-items: center;
            > li {
                &.col-first {
                    width:20%;
                }
                &.col-middle {
                    width:80%;
                }
                span {
                    display: block;
                    &.num {
                        font-size: 18px;
                        font-weight: 700;
                    }
                    &.lbl {
                        color:#636363;
                        font-size: 12px;
                    }
                }
                
                .bar {
                    height: 16px;
                    // border-radius: 0;
                }
                .tooltip-popup {
                    width:138px;
                }
               .progress-graph {
                   > li {
                        &:first-child {
                            .bar {
                                border-top-left-radius: 4px;
                                border-bottom-left-radius: 4px;
                            }
                        }
                        &:last-child {
                            .bar {
                                border-top-right-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                        }
                   }
               }
            }
        }
    }
    
}

.progress-graph {
    padding:6px 0;
    > li {
        position: relative;
        &:hover {
            .tooltip-popup {
                display: block;
            }
        }
        .bar {
            height: 18px;
            border-radius: 0;
            // margin:0 1px;
            border:1px solid white;
        }
        
        &:first-child {
            .bar {
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
        }
        &:last-child {
            .bar {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }
        .tooltip-popup {
            position:absolute;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 2px 2px 4px #63636333;
            border: 1px solid #DBDBDB;
            padding:8px 12px;
            z-index: 2;
            top:-96px;
            display: none;
            // left:0;
            // right:0;
            // margin:auto;
            &:before {
                content: "";
                width: 9px;
                height: 9px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -5px;
                margin: auto;
                z-index: 1;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                transform: rotate(45deg);
                box-shadow: 2px 2px 4px #63636333;
                border: 1px solid #DBDBDB;
                border-top: 1px solid transparent;
                border-left: 1px solid transparent;
            }
            table {
                width:100%;
                margin:0;
                th, td {
                    font-size: 12px;
                    padding:4px 0;
                }
                td {
                    span {
                        display: inline-block;
                    }
                    .circle {
                        width:7px;
                        height:7px;
                        border-radius: 7px;
                        display: inline-block;
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}



#incident-stacked-bar {
    .highcharts-title {
        display: none;
    }
    /* General data label style */
    .highcharts-data-label {
        // border-top-right-radius: 3px;
        // border-bottom-right-radius: 3px;
        text {
            fill: black;
            text-shadow: none;
            font-size: 10px;
            font-weight: 600;
        }
    }

    /* For the darkest columns, invert the data label text color and shadow */
    .highcharts-data-label-color-0 text,
    .highcharts-data-label-color-1 text {
        fill: white;
        text-shadow: none;
        font-size: 10px;
        font-weight: 600;
    }

}


.select2-container {
    &#timezonedropdown {
        .select2-dropdown--below {
            // height: 312px;
            width:291px !important;
            border:1px solid #DBDBDB;
            border-radius: 2px;
            .select2-results {
                height: 312px;
            }
        }
        .simplebar-track.simplebar-vertical {
            right: 0 !important;
        }
       
    }
}


.statics-sec-wrap {
    .event-incident-wrap {
        .total-progress-wrap {
            ul.progress-graph {
                > li {
                    &:first-child {
                       .bar {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                       }
                    }
                    &:last-child {
                        .bar {
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                        
                    }
                    span {
                        &.bar {
                            text-align: center;
                            height: 24px;
                            .text {
                                color:white;
                                text-align: center;
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .total-lagend-wrap {
            ul {
                display: flex;
                justify-content: flex-end;
                margin-top:14px;
                > li {
                    margin-left: 20px;
                    display: flex;
                    align-items: center;
                    span {
                        &.circle {
                            width: 8px;
                            height: 8px;
                            border-radius: 8px;
                            display: inline-block;
                            margin-right: 10px;
                        }
                        &.label {
                            font-size: 12px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}


.trand-statics-wrap {
    // .setting-icons-link {

    // }
    .setting-dropdown {
        position: absolute;
        background: #FFFFFF;
        border:1px solid #DBDBDB;
        border-radius: 2px;
        z-index: 1;
        right: 0;
        width: 156px;
        margin:8px 0;
        display: none;
        &.expand {
            display: block;
        }
        
        li {
            a {
                font-size: 12px;
                font-weight: 600;
                color:#212121;
                padding:7px 15px;
                display: block;
            }
            &:hover, &.active {
                a {
                    background: #EEF9F9;
                }
            }
        }
    }
}


.graph-nav-tabs {
    &.nav-tabs {
        border:none;
        li {
            &.nav-item {
                display: block;
                width: 100%;
                margin-bottom: 10px;
                .nav-link {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border:none;
                    padding:3px 11px;
                    span {
                        &.lbl {
                            color: #636363;
                            font-size: 12px;
                        }
                        &.num {
                            font-size: 16px;
                            color:#333333;
                            font-weight: 600;
                        }
                    }
                    &.active {
                        border:none;
                        background: #F1F8FB;
                        span {
                            &.lbl {
                                color: #16AEAB;
                            }
                            &.num {
                                color:#16AEAB;
                            }
                        }
                    }
                }
            }
        }
    }
}

#timezonedropdown {
    width: 334px !important;
    .select2-results {
        height: 312px;
    }
}


.network-mao-tooltip-pop {
    position: absolute;
    background: white;
    box-shadow: 2px 2px 4px #63636333;
    border: 1px solid #DBDBDB;
    z-index:2;
    padding:10px 15px;
    width: 312px;
    display: none;
    &:before {
        content: '';
        width:10px;
        height: 10px;
        border:1px solid #DBDBDB;
        border-bottom:none;
        border-right: none;
        background: white;
        position: absolute;
        top:-6px;
        left:0;
        right:0;
        margin:auto;
        transform: rotate(45deg);
    }

    h5 {
        &.title {
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom:14px;
        }
    }
    ul {
        &.entity-name-wrap {
            display: flex;
            flex-wrap: wrap;
            > li {
                  &:first-child {
                        width: 55%;
                    }
                    &:last-child {
                        width: 45%;
                    }
                &.line-info {
                    p {
                        font-size: 10px;
                        color:#333333;
                        text-align: center;
                        margin-bottom: 0;
                        line-height: 14px;
                    }
                }
            }

            ul {
                &.ul-count-list {
                    width: 50%;
                    // &:first-child {
                    //     width: 55%;
                    // }
                    // &:last-child {
                    //     width: 45%;
                    // }
                    > li {
                        // width: 50%;
                        // display: block;
                        p {
                            font-size: 10px;
                            color:#333333;
                        }
                        span {
                            position: relative;
                            &.icon {
                                display: inline-block;
                                width:45px;
                                height: 45px;
                                background: #B5B5B5 0% 0% no-repeat padding-box;
                                // box-shadow: 0px 0px 6px #00000029;
                                border-radius: 50%;
                                border:5px solid rgb(0 0 0 / 16%);
                                text-align: center;
                                line-height: 32px;
                                &:before {
                                    content: '';
                                    width: 13px;
                                    border-top: 2px solid #B5B5B5;
                                    position: absolute;
                                    top:6px;
                                    left: 31px;
                                    margin: auto;
                                    transform: rotate(-32deg);
                                }
                                &:after {
                                    content: '';
                                    width: 13px;
                                    border-top: 2px solid #B5B5B5;
                                    position: absolute;
                                    top:30px;
                                    left: 31px;
                                    margin: auto;
                                    transform: rotate(32deg);
                                }
                                .count {
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    border-radius: 50%;
                                    background: white;
                                    box-shadow: 0px 2px 2px #00000029;
                                    font-size: 10px;
                                    font-weight: 600;
                                    text-align: center;
                                    line-height: 15px;
                                    top: -10px;
                                    right: 2px;
                                }
                            }
                           
                        }

                        &.entity-name {
                            margin-top:10px;
                            p {
                                font-weight: 600;
                                color:#212121;
                            }
                        }
                    }

                    &.label-detail {
                        > li {
                            position: relative;
                            background: white;
                            z-index: 1;
                            p {
                                background: white;
                            }
                            &:after {
                                content: '';
                                width: 48px;
                                border-top: 2px solid #B5B5B5;
                                position: absolute;
                                top: 7px;
                                left: 31px;
                                margin: auto;
                                z-index: 0;
                            }
                            &:nth-child(1) {
                                &:after {
                                    left: 52px;
                                    top: 7px;
                                }
                            }
                            &:nth-child(2) {
                                &:after {
                                    left: 52px;
                                    width: 46px;
                                }
                            }
                            &:nth-child(3) {
                                &:after {
                                    left: 52px;
                                    width: 32px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.business-wrap {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            padding-top:15px;
            > li {
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;
                .info-title {
                    font-size: 11px;
                    color: #333;
                }
                .bc-tag {
                    background: #A2DFDD;
                    border-radius:20px;
                    padding:3px 10px;
                    font-size: 11px;
                    font-weight: 600;
                    color:#212121;
                    display: inline-block;
                }
                .other {
                    font-size: 10px;
                    font-weight: 600;
                    color:#212121;
                }
                ul{
                    &.severity-detail {
                       
                        > li {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            margin-bottom: 6px;
                            span {
                                &.circle {
                                    height: 20px;
                                    width: 20px;
                                    display: inline-block;
                                    border-radius: 50%;
                                    &.red {
                                        background: #E51722;
                                        border:3px solid rgb(252 247 247 / 50%);
                                    }
                                    &.yellow {
                                        background: #FFDD33;
                                        border:3px solid rgb(248 247 241 / 50%)
                                    }
                                    &.green {
                                        background: #3AB536;
                                        border:3px solid rgb(255 255 255 / 50%);
                                    }
                                }
                                &.lbl {
                                    font-size: 11px;
                                    color:#333333;
                                    margin-left: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// hr {
//     width: 41%;
//     height: 2px;
//     background-color: #000;
//     border: none;
//     margin-top: -25px;
//     margin-bottom: 27px;
//     margin-left: 14px;
// }

// .vl {
//     border-left: 2px solid #000;
//     height: 30px;
//     position: absolute;
//     left: 50%;
//     margin-left: -1px;
//     top: -25px;
// }

.datamap {
    .datamaps-subunits, .bubbles {
        transform: translate(114px, -334px);
    }
    .datamaps-bubble {
        // fill:white !important;
        stroke-width: 9;
        stroke-opacity: 0.5;
    }
    .datamaps-image {
        transform: translate(-13px, -13px);
        width: 25px;
        height: 25px;
    }
}
.datamaps-hoverover {
    hr {
        display: none;
    }
}

#barchart-container-hod {
    svg {
        path.highcharts-graph {
            fill: red !important;
            stroke: aliceblue;
            border-radius: 0 !important;
            stroke-linecap: square;
            stroke-linecap: square;
        }
        path.highcharts-tracker-line {
            fill: red !important;
            stroke: aliceblue;
            border-radius: 0 !important;
            stroke-linecap: square;
            stroke-linecap: square;
        }
        .highcharts-markers {
            .highcharts-halo {
                fill:aliceblue;
            }
        }
    }
}

.estate-health-page-wrap {
    .select2-container {
        .select2-selection {
            .select2-selection__rendered {
                font-size: 12px;
                line-height: 25px;
            }
        }
    }
    .network-graph-wrap, .map-graph-wrap, .custom-table-wrap, #map1container {
        height: 100%;
    }

    #map1container {
        .datamap {
            width: 100%;
            height: 100%;
        }
    }
    #networkcontainer {
        svg {
            width: 100%;
            height:320px;
        }
    }
   
    .priority-state-list {
        > ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            > li {
                .wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        &.circle {
                            width: 12px;
                            height: 12px;
                            border-radius: 12px;
                            display: inline-block;
                            &.red {
                                background: #FA1A1A;
                            }
                            &.yellow {
                                background: #FFCE64;
                            }
                            &.green {
                                background: #3AB536;
                            }
                        }
                        &.num {
                            font-size: 14px;
                            font-weight: 600;
                            color:#333;
                            margin:0 10px;
                        }
                        &.lbl {
                            color:#636363;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .common-tabs {
        .nav-tabs {
            align-items: center;
            position: relative;
            padding-right: 40px;
            > li {
                &.nav-item {
                    a.nav-link {
                        min-width:70px;
                        font-size: 12px;
                        line-height: 15px;
                        padding:9px 0;
                    }
                }
            }
            a.viewall-link {
                font-size: 10px;
                color:#50C1B8;
                position: absolute;
                right: 0;
            }
        }
    }
    .overview-table-wrap {
        height: 250px;
    }

    .table {
        thead {
            th {
                font-size: 12px;
                font-weight: 600;
                color:#636363;
                // border:none;
                padding: 0.75rem 0.5rem;
            }
        }
        tbody {
            td {
                color:#636363;
                font-size: 12px;
                span {
                    &.value {
                       display: inline-block;
                       width:40px; 
                    }
                    &.arrow-icon {
                        &.red-arrow {
                            width:7px;
                            height: 7px;
                            border-bottom:6px solid #FA1A1A;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                            display: inline-block;
                        }
                        &.green-arrow {
                            width:7px;
                            height: 7px;
                            display: inline-block;
                            border-bottom:6px solid #3AB536;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                        }
                        &.yellow-arrow {
                            width:7px;
                            height: 7px;
                            display: inline-block;
                            border-bottom:6px solid #FFCE64;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                        }
                        &.red-dot {
                            display: inline-block;
                            width:7px;
                            height:7px;
                            border-radius: 7px;
                            background: #FA1A1A;
                        }
                        &.green-dot {
                            display: inline-block;
                            width:7px;
                            height:7px;
                            border-radius: 7px;
                            background: #3AB536;
                        }
                    }
                }
            }
        }
    }
}

#month-heatmap-container {
    path.highcharts-grid-line, .highcharts-plot-border, .highcharts-axis-line {
        stroke-width: 0;
    }
    rect.highcharts-point {
        stroke: #f8f7f7;
        stroke-width: 1;
        width: 8px;
    }
    .highcharts-legend-item {
        text {
            font-weight: 400 !important;
            transform: translate(-4px, -3px);
            font-size: 10px;
            color:#888888 !important;
        }
    }
}

svg {
    &.highcharts-root {
        font-family: "Open Sans", sans-serif !important;
    }
}


.highcharts-figure {
    .sun-moon-icon-wrap {
        position: absolute;
        right: 0;
        top: 5px;
        width: 22px;
        height: calc(100% - 25px);
        span {
            width: 15px;
            height: 15px;
            img {
                display: inline-block;
                vertical-align: text-top;
            }
            &.sun {
                position: absolute;
                top:12px;
                right: 28px;
            }
            &.moon {
                position: absolute;
                bottom:12px;
                right: 28px;
            }
        }
    }
}


#incident-stacked-bar {
    overflow: visible !important;
    .highcharts-container , .highcharts-root {
        overflow: visible !important;
    }
    .highcharts-xaxis .highcharts-axis-line {
        display: none;
    }
    .highcharts-yaxis .highcharts-axis-line {
        stroke:#DBDBDB;
    }
    .highcharts-legend {
        // transform: translate(120px, 141px);
        // transform: translate(54%, 123px);        
    }
    g.highcharts-legend-item {
        text {
            font-weight: 400 !important;
        }
    }
}

.event-detail-page-wrap {
    .highcharts-pie-series text {
        font-size: 14px !important;
    }
}

.highcharts-tooltip {
    span {
        table {
            tr {
                th {
                    font-weight: 600 !important;
                    font-size: 12px !important;
                    color:#212121 !important
                }
            }
        }
    }
}

.highcharts-pie-series {
    &.highcharts-tracker {
        transform: translate(20%,5%) scale(1);
    }
}

.highcharts-container  {
    width: 100% !important;
}

#multibarchart1 {
    overflow: visible !important;
    .highcharts-container, .highcharts-root {
        overflow: visible !important;
    }
}


#ntooltip {
    position: absolute;
    width: 130px;
    height: auto;
    padding:5px;
    background: white;
    box-shadow: 2px 2px 4px #63636333;
    border: 1px solid #DBDBDB;
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
    pointer-events: none;
    display: none;

    &:before {
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid #DBDBDB;
        border-bottom: none;
        border-right: none;
        background: white;
        position: absolute;
        top: -6px;
        left: 0;
        right: 0;
        margin: auto;
        transform: rotate(45deg);
    }

    table {
        border:none;
        width: 100%;
        tr {
            th {
                padding-bottom: 5px;
            }
            th, td {
                border:none
            }
        }
    }
}
