// .workspace {
//     .fixed-bottom-footer {
//         padding-bottom:98px;
//     }
// }

.analysis-summary-wrap {
    padding-top:20px;
    // padding-bottom:98px;
    .multiselect-checkbox {
        position:relative;
        .btn-check-wrap {
            border:0;
            border-bottom:1px solid #d1d1d1;
            background: white;
            padding:0.15rem 0.5rem 0.15rem 0;
            width:100%;
            text-align: left;
            position: relative;
            height: 25px;
            &::after {
                content:'';
                position:absolute;
                height: 6px;
                width:6px;
                border: 1px solid #333333;
                transform: rotate( 45deg);
                right: 7px;
                top: -5px;
                bottom: 0;
                margin: auto;
                border-top: 0;
                border-left: 0;
            }
            &.arrow-toggle {
                &::after {
                    content:'';
                    transform: rotate(225deg);
                    top:0;
                }
            }
        }

        .select-option-wrap {
            display: none;
            position: absolute;
            top:24px;
            width:100%;
            height:233px;
            background: white;
            border:1px solid #DBDBDB;
            box-shadow: 0px 1px 10px rgb(0 0 0 / 4%);
            border-radius: 2px;
            z-index:1;
            padding:12px 15px;
            &.expanded-select {
                display: block;
            }
            .select-option-list {
                > li {
                    padding-top: 6px;
                    padding-bottom: 6px;
                    .checkbox-wrap {
                        position: relative;
                        input[type=checkbox] {
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        label:before {
                            width:13px;
                            height:13px;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        label {
                            color: #212121;
                            font-size: 12px;
                            font-weight: 600;
                            padding-left: 26px;
                            &:after {
                                width: 8px;
                                top: 10px;
                                left: 2px;
                            }
                            span {
                                transform: none;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                                line-height: 28px;
                            }
                        }
                        &.check-minus {
                            label {
                                &:after {
                                    width: 8px;
                                    top: 0.9rem;
                                    left: 2px;
                                }
                            }
                        }
                        &.all-check {
                            label {
                                &:after {
                                    top:10px;
                                }
                            }
                        }
                        // &.check-minus {
                        //     label {
                        //         &:after {
                        //             top:12px;
                        //         }
                        //     }
                        // }
                    }
                }
            }
        }

    }
    .summary-sec {
        background-color: #7C78B5;
        border-radius: 6px;
        padding:20px;
        ul {
            > li {
                padding:15px 0;
                &:first-child {
                    padding-top:0;
                }
                &:last-child {
                    padding-bottom:0;
                }
                &.summary {
                    .text {
                        text-transform: uppercase;
                        font-weight: 700;
                        color:white;
                        line-height: 22px;
                        font-size: 16px;
                        padding-left: 10px;
                    }
                }
                &.total-row {
                    color:white;
                    .num {
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: 700;
                    }
                    .text {
                        line-height: 22px;
                        font-size: 16px;
                        padding-left: 10px;
                    }
                }
                &.no-data-found {
                    color:white;
                }
                .btn-download {
                    width:100%;
                    background: transparent;
                    border-color: white;
                    color:white;
                }
            }
        }
    }
}
.multiselect-custom-check {
    position:relative;
    .btn-check-wrap {
        border:0;
        border-bottom:1px solid #d1d1d1;
        background: white;
        padding: 0.375rem  0.75rem 0.375rem 0;
        width:100%;
        text-align: left;
        position: relative;
        &::after {
            content:'';
            position:absolute;
            height: 6px;
            width:6px;
            border: 1px solid #333333;
            transform: rotate( 45deg);
            right: 7px;
            top: -5px;
            bottom: 0;
            margin: auto;
            border-top: 0;
            border-left: 0;
        }
        &.arrow-toggle {
            &::after {
                content:'';
                transform: rotate(225deg);
                top:0;
            }
        }
    }

    .select-option-wrap {
        display: none;
        position: absolute;
        top:30px;
        width:100%;
        height:233px;
        background: white;
        border:1px solid #DBDBDB;
        box-shadow: 0px 1px 10px rgb(0 0 0 / 4%);
        border-radius: 2px;
        z-index:1;
        padding:12px 15px;
        &.expanded-select {
            display: block;
        }
        .select-option-list {
            > li {
                padding-top: 6px;
                padding-bottom: 6px;
                .checkbox-wrap {
                    position: relative;
                    input[type=checkbox] {
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    label:before {
                        width:13px;
                        height:13px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                    label {
                        color: #212121;
                        font-size: 12px;
                        font-weight: 600;
                        padding-left: 26px;
                        &:after {
                            width: 9px;
                            top: 10px;
                            left: 2px;
                        }
                        span {
                            transform: none;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            line-height: 28px;
                        }
                    }
                    &.check-minus {
                        label {
                            &:after {
                                width: 8px;
                                top: 0.9rem;
                                left: 2px;
                            }
                        }
                    }
                }
            }
        }
    }

}

.analysis-sec {
    .section-title {
       input {
           &.title {
               width:114px;
               border:1px solid transparent;
               pointer-events: none;
               padding-left: 0;
               &:focus, &:focus-visible {
                    pointer-events:inherit;
                    outline: none;
                    border:1px solid transparent;
                    border-bottom:1px solid #e0e0e0;
               }
           }
           &::-webkit-input-placeholder { /* Edge */
            font-size: 14px;
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-size: 14px;
          }
          
          &::placeholder {
            font-size: 14px;
          }
       }
    }
    input.form-control {
        font-size: 14px;
    }
    .selected-items {
        .tags-wrap {
            display: flex;
            flex-wrap: wrap;
            margin:0 -4px;
            margin-top:-4px;
            > li {
                padding:4px 3px;
                font-size: 12px;
                color:#16AEAB;
                // &:first-child {
                //     margin-left: 0;
                // }
                // &:last-child {
                //     margin-right:0;
                // }
                .wrap {
                    background: #D8F3F1;
                    padding:4px 12px;
                }
            }
        }
    }
}

.afilter-wrap {
    .form-wrap {
        .filter-add, .filter-delete {
            position: absolute;
            top: 0;
            right: -20px;
            bottom: 0;
            margin: auto;
            height:20px;
            width:20px;
            line-height: 20px;
            text-align: center;
            border-radius: 9px;
            background: #F6F6F6;
            color:#16AEAB;
            font-weight: 600;
        }
        .filter-delete {
            display: none;
        }
    }
}

.page-nav-steps {
    position: fixed;
    bottom:0;
    background: white;
    width:calc(100% - 60px);
    box-shadow: 0px -4px 6px rgb(36 50 113 / 8%);
    .entities-steps {
        display: flex;
        align-items: center;
        >li {
            padding:5px 25px;
            position: relative;
            > span {
                // content: '';
                width: 19px;
                height: 1px;
                border-top: 1px dashed #16AEAB;
                position: absolute;
                right: 9px;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: -1;
                &.activated {
                    border-top: 1px solid #16AEAB;
                    &.before, &.after,  &.sec-before,  &.sec-after, &.last-before, &.last-after {
                        border-top: 1px solid #16AEAB;
                    }
                }

                &.before {
                    width: 29px;
                    height: 1px;
                    border-top: 1px  dashed #16AEAB;
                    position: absolute;
                    left: -12px;
                    top: -21px;
                    right: inherit;
                    transform: rotate(-46deg);
                }
                &.after {
                    width: 29px;
                    height: 1px;
                    border-top: 1px dashed #16AEAB;
                    position: absolute;
                    left: -13px;
                    top: 19px;
                    right: inherit;
                    transform: rotate(44deg);
             }
             &.sec-before {
                width: 29px;
                height: 1px;
                border-top: 1px  dashed #16AEAB;
                position: absolute;
                left: 89.3%;
                top: -20px;
                right: inherit;
                transform: rotate(44deg);
             }
             &.sec-after {
                width: 29px;
                height: 1px;
                border-top: 1px  dashed #16AEAB;
                position: absolute;
                left: 89.3%;
                bottom: -20px;
                right: inherit;
                transform: rotate(-44deg);
             }
             &.last-before {
                width: 19px;
                height: 1px;
                border-top: 1px  dashed #16AEAB;
                position: absolute;
                left: 6px;
                // top: 0;
                right: inherit;
             }
             &.last-after {
                width: 50px;
                height: 1px;
                border-top: 1px  dashed #16AEAB;
                position: absolute;
                left: calc(100% - 25px);
                // top: -28px;
                right: inherit;
             }
            }
            &:first-child {
                padding-left: 0;
                
            }
            &:last-child {
                padding-right: 0;
                >span {
                    left: 0;
                    right: inherit;
                }
            }
            ul {
                > li {
                    padding-top:7px;
                    padding-bottom:7px;
                    position: relative;
                    > span {
                        &.activated {
                            &.before, &.after, &.sec-after {
                                border-top: 1px solid #16AEAB;
                            }
                        }
                        &.before {
                            width: 12px;
                            height: 1px;
                            border-top: 1px dashed #16AEAB;
                            position: absolute;
                            left: -13px;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        &.after {
                            width: 47px;
                            height: 1px;
                            border-top: 1px dashed #16AEAB;
                            position: absolute;
                            right: -49px;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        &.sec-after {
                            width: 11px;
                            height: 1px;
                            border-top: 1px dashed #16AEAB;
                            position: absolute;
                            right: -11px;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
            }
            a {
                color:#607D8B;
                background: #F4F5FB;
                border-radius: 2px;
                padding:4px 6px;
                min-width: 120px;
                display: inline-block;
                text-align: center;
                &.disabled {
                    pointer-events: none;
                }
                &.activated {
                    background: #1C4C58;
                    color:white;
                }
                &.active {
                    background: #16AEAB;
                    color:white;
                }
                &.highlight {
                    background: #D8F3F1;
                    color:#1C4C58;
                }
            }
        }
    }
}


.btn-wrap {
    .btn-proceed {
        position:relative;
        font-size: 16px;
        font-weight: 600;
        padding:6px 22px 6px 15px;
        .arrow {
            width: 7px;
            height:7px;
            border:1px solid white;
            display:inline-block;
            transform: rotate(45deg);
            position: relative;
            top:-4px;
            margin-left: 3px;
            border-top:0;
            border-left:0;
            left:8px;
        }
    }
}

.entities-btn-process {
    position: relative;
    .dropdown-flow {
        display: none;
        position: absolute;
        top:-82px;
        border:1px solid #DBDBDB;
        background: #FFFFFF;
        border-radius: 2px;
        box-shadow: 0px 1px 10px #0000000A;
        width:148px;
        padding:10px 0;
        &.expand {
            display: block;
        }
        li {
            &:hover {
                a {
                    background: #EEF9F9;
                }
            }
            a {
                padding:7px 15px;
                display: block;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
}

.extraction-history-table-wrap {
    .finalize-data-popup {
        position: absolute;
        right:0;
        top:0;
        background: white;
        z-index: 1;
        padding:7px 4px;
        display: none;
        height: 100%;
        line-height: 30px;
    }
    .dataTables_wrapper {
        table {
            tbody {
                tr {
                    &:hover {
                        .finalize-data-popup {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.dictionary-accordion {
    .card {
        margin-bottom:10px;
        border-radius: 2px ;
        border:none;
        &:not(:last-of-type) {
            margin-bottom:10px;
            border-radius: 2px ;
            border:none;
        }
    }
    .card-header {
        padding:9px 10px 9px 0;
        margin:0;
        position: relative;
        background: #EEF9F9;
        border-bottom:none;
        border-radius: 2px;
        border:1px solid #e0e0e0;

        &:before {
            content:'';
            width:22px;
            height:100%;
            border-radius: 2px;
            background: #16AEAB;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            margin: auto;
        }
        .btn-link {
            padding:0;
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            width: 100%;
            text-align: left;
            box-shadow: none;
            &[aria-expanded="true"] {
                span {
                    &.icon-right-angle {
                        &::before {
                            transform: rotate(90deg);
                        }
                    }
                }
               
            }
            span {
                &.icon-right-angle {
                    position:relative;
                    width:22px;
                    display:inline-block;
                    &:before {
                        content: '';
                        width:0;
                        height:0;
                        border-left: 6px solid white;
                        border-top: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        position: absolute;
                        top:0;
                        bottom:0;
                        left:0;
                        right:0;
                        margin: auto;
                        transform: rotate(0);
                        transition: rotate .3s ease;
                    }
                }
                &.text {
                    padding-left: 15px;
                    font-size: 16px;
                    font-weight: 600;
                    color:#16AEAB;
                    text-transform: capitalize;
                    .sub-text {
                        color:#545454;
                        font-size: 14px;
                        margin-left: 14px;
                    }
                }
            }
           
        }
    }
    .card-body {
        border:1px solid #e0e0e0;
        border-top:none;
    }
    &.use-algo {
        .card-header {
            .btn-link {
                .checkbox-wrap  {
                    padding-left: 15px;
                }
                span {
                    &.text {
                        position: relative;
                        padding-left: 0;
                       
                    }
                }
            }
        }
    }
}

.patterns-define-table {
    .dataTables_wrapper {
        .table-wrapper {
            table {
                tr {
                    &:hover {
                        td {
                            .edit-icon, .close-icon, .edit-icon-drop {
                                opacity: 1;
                            }
                        }
                    }
                    td {
                        font-size: 13px;
                        color:#212121;
                        position: relative;
                        max-height: 42px;
                        height: 28px;
                        .column-edit {
                            border:none;
                            border:1px solid transparent;
                            pointer-events: none;
                            &:focus, &:focus-visible {
                                outline: none;
                                border-bottom: 1px solid #e0e0e0;
                                pointer-events: inherit;
                            }
                        }
                        .edit-icon, .close-icon, .edit-icon-drop {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 8px;
                            margin: auto;
                            width: 10px;
                            height: 10px;
                            opacity: 0;
                            img {
                                width:10px;
                                vertical-align: super;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-process-title {
    .head-help-link {
        &:hover {
            + .tooltip-pop  {
                display: block;
            }
        }
    }
    .tooltip-pop {
        position: absolute;
        background: white;
        box-shadow: 0px 3px 10px rgb(0 0 0 / 18%);
        border-radius: 3px;
        z-index: 1;
        padding:10px 20px;
        width:507px;
        right:-245px;
        display: none;
        &:before {
            content: "";
            width: 11px;
            height: 11px;
            background: white;
            position: absolute;
            left: 0;
            right: 0;
            top: -6px;
            margin: auto;
            transform: rotate(45deg);
            box-shadow: -5px -4px 10px -2px rgb(0 0 0 / 18%);
        }
    }
    .download-raw-data {
        color:#243271;
        font-weight: 600;
        .icon {
            margin-right: 5px;
        }
    }
}

.drag-and-drop-file {
    
    #drag_upload_file {
        width:100%;
        border: #DBDBDB 1px dashed;
        background: #F8F8F8;
        border-radius: 2px;
        padding:29px;
        position: relative;
        text-align: center;
    }
    #btnFileUpload {
        z-index: 1;
    }
    input {
        border:none;
        background: transparent;
        border-radius: 0;
        color:#545454;
       
    }
    #btnFileUpload {
        cursor: pointer;
    }
    #files {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        height:100%;
        margin:auto;
        opacity: 0;
        z-index: 0;
    }
    #selectedFiles {
         > li {
             background: #eeeff4;
             padding:15px 21px;
             margin:4px 0;
             position: relative;
             font-size: 14px;
             color:#243271;
             display: flex;
             align-items: center;
             img {
                 margin-right: 20px;
                 width: 16px;
                 height: 20px;
             }
             .lbl {

             }
             a {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 15px;
                margin: auto;
                width: 24px;
                height: 24px;
                text-align: center;
                font-size: 24px;
                line-height: 24px;
             }

         }
    }
}

.section-title {
    .progress-val {
        .num {
            font-size: 9px;
            font-weight: 600;
            color:#26272A;
        }
        .bar {
            width:70px;
            height:8px;
            background: linear-gradient(24deg, #E2F3F3 11%, #d9dfff 100%) 0% 0% no-repeat;
            display: inline-block;
        }
    }
}
.create-pattern-wrap {

    .bordered-col {
        & + .bordered-col {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                margin:auto;
                width: 1px;
                height: 100%;
                background: #D9DFFF;
            }
        }
    }
    
    .section-sub-title {
        text-transform: capitalize;
        margin-top:20px;
        margin-bottom:8px;
    }
    .radio-wrapper {
        border:1px solid #F1F1F1;
        .pattern-head {
            border-bottom:1px solid #F1F1F1;
        }
        .pattern-body {
            .rule-pattern-wrap {
                position: relative;
                .rule-head {
                    padding-bottom: 20px;
                    ul.and-or-toggle {
                        display: flex;
                        > li {
                            &.active {
                                a {
                                    background: #16AEAB;
                                    color:#FFFFFF;
                                }
                            }
                            a {
                                border:1px solid #16AEAB;
                                padding:2px 14px;
                                text-transform: uppercase;
                                font-size: 12px;
                                font-weight: 600;
                                text-align: center;
                            }
                        }
                    }
                    ul.rules-toggle {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        
                        > li {
                           margin-left: 20px;
                           > a {
                               display: flex;
                               &.close-icon {
                                    .icon {
                                        font-size: 16px;
                                        // transform: rotate(45deg);
                                        line-height: 16px;
                                    }
                               }
                               .icon {
                                   width:15px;
                                   height:15px;
                                   border-radius: 11px;
                                   background: #F6F6F6;
                                   display: inline-block;
                                   text-align: center;
                                   line-height: 15px;
                                   color:#16AEAB;
                                   img {
                                       position: relative;
                                       top:-1px;
                                       width:7px;
                                       height: 7px;
                                   }
                               }
                               .text {
                                   font-size: 12px;
                                   font-weight: 600;
                                   color:#293A44;
                                   margin-left: 4px;
                                   white-space: nowrap;
                               }
                           }
                        }
                    }
                }
                .form-wrapper {
                    margin-left: 31px;
                    .form-rows {
                        position: relative;
                        margin-bottom: 20px;
                        &:last-child {
                            &:after {
                                display: none;
                            }
                        }
                        &:before, &:after {
                            content: '';
                            position: absolute;
                            left: -15px;
                            width: 22px;
                            height: calc(50% + 4px);
                            border-color: #16aeab;
                            border-style: solid;
                            border-width: 0 0 1px 1px;
                            top: -22px;
                            height: calc(50% + 22px);
                        }
                        &:after {
                            top: 50%;
                            border-width: 0 0 0 1px;
                        }
                        .select2-container {
                            width:100% !important;
                        }
                        input {
                            &::-webkit-input-placeholder {
                                font-size: 14px;
                            }
                            &:-ms-input-placeholder {
                                font-size: 14px;
                            }
                            &::placeholder {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .create-pattern-block {
        & +  .create-pattern-block {
            &:before {
                content:'';
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                margin: auto;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border-left: 2px solid #D7DDF7;
                border-radius: 5px;
            }
        }
        input.form-control {
            font-size: 14px;
            &::-webkit-input-placeholder { /* Edge */
                font-size: 14px;
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                font-size: 14px;
            }
            
            &::placeholder {
                font-size: 14px;
            }
        }
        .select2-container {
            width: 100% !important;
            
            .select2-selection__rendered {
                color: #212121;
                font-size: 14px;
            }
        }
        
    }
    .view-tags-wrap {

        .tag-grid-wrap ul > li a {
            border-radius: 2px;
        }
    }

    .new-hidden-group {
        .pattern-body {
            border-radius: 8px;
        }
    }

    .section-title {
        .end-wrap {
            display: flex;
            justify-content: end;
            align-items: center;
            .progress-val {
                font-size: 13px;
            }
            .toggle-wrapper {
                margin-right: 30px;
                label {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 16px;
                }
                input {
                    &:checked + label {
                        font-weight: 600;
                    }
                }
                input, .toggle-outside {
                    left:62px !important;
                }
            }
        }
    }
}
.view-tags-wrap {
    .section-process-title {
        margin-left: 5px;
        .tooltip-pop {
            top:27px;
            width: 242px;
            right:-114px;
        }
    }
    .tag-grid-wrap {
        ul {
            display: flex;
            margin-top:20px;
            flex-wrap: wrap;
            // border:1px solid #e0e0e0;
            padding:15px 0;
            > li {
                &:hover, &.active  {
                   a {
                       color:white;
                       &.new-list, &.old-list-2, &.old-list-1, &.old-list, &.older {
                        background: #828ecf;
                       }
                   }
                }
                a {
                    font-size: 12px;
                    font-weight: 600;
                    background: #D9DFFF;
                    padding:9px 15px;
                    color:#595F7B;
                    border-radius: 47px;
                    display: block;
                    margin:2px;
                    &.new-list {
                        background: #e4e9ff;
                    }
                    &.old-list-2 {
                        background: #e3eafe;
                    }
                    &.old-list-1 {
                        background: #e2edfd;
                    }
                    &.old-list {
                        background: #e9f1fa;
                    }
                    &.older {
                        background: #ebf7f7;
                    }
                }
            }

            &.group-by {
                > li {
                    > a {
                        padding-left: 34px;
                        // background-image: url('../images/icon-file-folder_open.svg');
                        background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1maWxlLWZvbGRlcl9vcGVuIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMS45MjQiIGhlaWdodD0iOS41MzkiIHZpZXdCb3g9IjAgMCAxMS45MjQgOS41MzkiPgogIDxwYXRoIGlkPSJWZWN0b3IiIGQ9Ik0xMC43MzEsMS4xOTJINS45NjJMNC43NywwSDEuMTkyQTEuMTkyLDEuMTkyLDAsMCwwLC4wMDYsMS4xOTJMMCw4LjM0N0ExLjIsMS4yLDAsMCwwLDEuMTkyLDkuNTM5aDkuNTM5YTEuMiwxLjIsMCwwLDAsMS4xOTItMS4xOTJWMi4zODVBMS4yLDEuMiwwLDAsMCwxMC43MzEsMS4xOTJabTAsNy4xNTRIMS4xOTJWMi4zODVoOS41MzlaIiBmaWxsPSIjMTMxYzQ0Ii8+Cjwvc3ZnPgo=");
                        background-repeat: no-repeat;
                        background-position: 15px 50%;
                    }
                    &:hover {
                        a {
                            // background-image: url('../images/icon-file-folder_open.svg');
                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='icon-file-folder_open' width='11.924' height='9.539' viewBox='0 0 11.924 9.539'%3E%3Cpath id='Vector' d='M10.731,1.192H5.962L4.77,0H1.192A1.192,1.192,0,0,0,.006,1.192L0,8.347A1.2,1.2,0,0,0,1.192,9.539h9.539a1.2,1.2,0,0,0,1.192-1.192V2.385A1.2,1.2,0,0,0,10.731,1.192Zm0,7.154H1.192V2.385h9.539Z' fill='%23ffffff'/%3E%3C/svg%3E");                            background-repeat: no-repeat;
                            background-position: 15px 50%;
                        }
                    }
                }
            }
        }
    }
}

.algorithm-list {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
    > li {
        padding:10px;
        width: 25%;
        .checkbox-wrap  {
            input[type="checkbox"] {
                width:100%;
                height: 100%;
            }
            input[type="checkbox"]:checked ~ .wrapper {
                border:2px solid #16AEAB;
            }
        }
        .wrapper {
            border:2px solid #e0e0e0;
            border-radius: 4px;
            padding:18px 24px;
            .section-sub-title {
                margin-bottom:6px;
                text-transform: capitalize;
                font-size: 14px;
                font-weight: 600;
                color:#212121;
            }
            .text {
                margin-bottom:0;
                font-size: 12px;
            }
        }
    }
}

.custom-modal-styling {
    &.extract-issue-modal {
        .section-sub-title {
            text-transform: capitalize;
            color:#212121;
            margin-bottom:6px;
        }
        .ul-data {
            > li {
                color:#333333;
            }
        }
    }
    .modal-body {
        .info-wrap {
            .error-head {
                color:#BB3F3F;
                font-size: 18px;
                font-weight: 600;
                .text {
                    padding-left: 10px;
                }
            }
        }
    }

    &.entities-extract-issue-modal {
        .modal-dialog {
            @media (min-width: 576px) {
                width:404px;
            }
            .modal-body {
                span {
                    font-size: 16px;
                    color: #545454;
                    display: block;
                    &.text {
                        font-weight: 600;
                    }
                }
                .toast.eh-toast-wrap {
                    position: inherit;
                    border:none;
                    background: white;
                    box-shadow: none;
                    top:0;
                    right: 0;
                    .toast-body {
                        padding:0;
                        .loader {
                            position: relative;
                            border-radius: 10rem;
                            border: 1px solid white;
                            background: linear-gradient(#0fb2a4,#59cac0, #97ded8, #c6ece9,#e5f7f5);
                            animation: animate 3s linear infinite;
                            &:before {
                                position: absolute;
                                content: "";
                                background: #fff;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                width: 70%;
                                height: 70%;
                                border-radius: 10rem;
                                border: 1px solid white;
                            }
                            @keyframes animate {
                                from {
                                  transform: rotate(0deg);
                                }
                                to {
                                  transform: rotate(360deg);
                                }
                              }   
                        }
                    }
                }
            }
        }
    }
}



.custom-select-wrap {  
    position: relative;   
    display: inline-block;     
    // width: auto;        
    margin-top: 0;    
    .action-select-button {
        position: relative;
        min-height: 25px;
        border-bottom:1px solid #e0e0e0;
        padding-right: 20px;
        font-size: 12px;
        a {
            position: absolute;
            right: -1px;
            top: -5px;
            bottom: 0;
            margin: auto;
            transform: rotate(180deg);
        }
    }   
}       
    .custom-select-wrap select {    
    display: none;     
    }       
    .custom-select-wrap .action-select-list {    
        position: absolute;      
        top: 0;       
        left: 0;      
        z-index: 1;     
        margin-top: 25px;     
        padding: 0;          
        background-color: white;   
        font-size: 12px;
        border-radius: 2px;
        font-weight: 600;
        box-shadow: 0px 1px 10px #0000000A;
        li {
            padding:9px 14px;
            &:hover {
                background: #EEF9F9;
            }
        }    
        &.open-select {
            li {
                display: block;
            }
        }
    }       
    .custom-select-wrap .action-select-list li {    
    display: none;       
    }     
      
    .custom-select-wrap .action-select-list li span:hover,   
    .custom-select-wrap .action-select-list li span:focus {      
    opacity: 1;      
    } 

    /*--- issue result page styling ---*/
    .covered-event-wrap {
        ul {
            &.covered-ul {
                > li {
                    position: relative;
                    & + li {
                        &:before {
                            content: '';
                            width:1px;
                            height: 100%;
                            position: absolute;
                            top:0;
                            bottom:0;
                            left:0;
                            margin:auto;
                            background: #e0e0e0;
                        }
                    }
                    &.covered-item-wrap {
                        ul {
                            padding:8px 16px;
                            > li {
                                margin:4px 0;
                                span {
                                    &.num {
                                        display: inline-block;
                                        min-width: 20px;
                                    }
                                }
                            }
                        }
                        .covered-bg {
                            background: transparent linear-gradient(90deg, #F3FFF9 0%, #DFF6FE 100%) 0% 0% no-repeat padding-box;
                            border: 1px solid #E0F6FC;
                            border-radius: 2px;
                        }
                    }
                    &.total-event {
                        span {
                            display: block;
                            &.num {
                                font-size: 24px;
                                font-weight: 700;
                            }
                            &.text {
                                font-size: 16px;
                            }
                        }
                    }
                    &.work-item-wrap {
                        .wrap {
                            span {
                                display: block;
                                &.label {
                                    font-size: 12px;
                                    color:#545454;
                                }
                                &.val {
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }
                        }
                        .progress-graph {
                            display: flex;
                            width: 100%;
                            li {
                                // margin:0 1px;
                                &:first-child {
                                    span {
                                        &.bar {
                                            border-top-left-radius: 2px;
                                            border-bottom-left-radius: 2px;
                                        }
                                    }
                                }
                                &:last-child {
                                    span {
                                        &.bar {
                                            border-top-right-radius: 2px;
                                            border-bottom-right-radius: 2px;
                                        }
                                    }
                                }
                                span {
                                    display: block;
                                    &.label {
                                        font-size: 12px;
                                        font-weight: 600;
                                        color:#636363;
                                    }
                                    &.bar {
                                        height: 12px;
                                    }
                                }
                            }
                        }
                        .legend-wrap {
                            li {
                                margin-bottom: 8px;
                            }
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                &.circle {
                                    width:7px;
                                    height: 7px;
                                    border-radius: 7px;
                                    margin-right: 6px;
                                }
                                &.label {
                                    color:#545454;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                    &.covered-event-wrap {
                        .section-sub-title {
                            margin-bottom:15px;
                            font-weight: 700;
                            text-transform:capitalize;
                        }
                        span {
                            display: block;
                            &.num {
                                font-size: 20px;
                                font-weight: 700;
                            }
                            &.text {
                                font-size: 12px;
                            }
                        }
                    }
                   
                }
            }
        }
    }
    /*--- issue result page styling ---*/


.covered-tabs-nav {
    ul.nav-tabs {
        border-bottom:0;
        li {
            &.blank-bar {
                width:148px;
                position: relative;
                .bar {
                    position: absolute;
                    width:100%;
                    height: 2px;
                    background: #16AEAB;
                    border-radius: 2px;
                }
            }
            &.nav-item {
                .nav-link {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 600;
                    color: #212121;
                    &.active, &:hover, &.activated {
                        color: #212121;
                        background-color: transparent;
                        border-color: transparent;
                        span {
                            &.num {
                                background: #16AEAB;
                                color:white;
                            }
                        }
                    }
                    span {
                        &.num {
                            width:30px;
                            height:30px;
                            border-radius: 30px;
                            display: inline-block;
                            text-align: center;
                            vertical-align: middle;
                            padding:3px;
                            margin-right: 8px;
                            font-weight: 600;
                            background: white;
                            border:1px solid  #16AEAB;
                        }
                    }
                }
            }
        }
    }
}
    
// .covered-tab-content {
//     .patterns-define-table {
//         .incident-table-wrapper {
//             table {
//                 width:100%;
//                 tr {
//                     td {
//                         .column-edit {
//                             width:100%;
//                             background: transparent;
//                         }
//                         button {
//                             &.btn {
//                                 border-radius: 2px;
//                                 padding:2px 10px;
//                                 font-size: 13px;
//                                 font-weight: 600;
//                                 color:white;
//                                 width:86px;
//                                 &:focus, &:focus-visible {
//                                     box-shadow: none;
//                                 }
//                                 .arrow {
//                                     padding-left: 6px;
//                                     display: inline-block;
//                                 }
//                                 &.btn-accept {
//                                     background: #5CB85C;
                                   
//                                 }
//                                 &.btn-reject {
//                                     background: #FD7575;
                                   
//                                 }
//                             }
//                         }
//                     }
//                 }
//                 tbody {
//                     tr {
//                         &:hover {
//                             background-color: #EEF9F9;
//                         }
//                         &.odd, &.even {
//                             &:hover {
//                                 background-color: #EEF9F9; 
//                             }
//                         }
//                     }
//                 }
               
//             }
//         }
       
//     }
// }

.submittion-steps {
    position: relative;
    z-index: 0;
    &:before {
        content: '';
        position: absolute;
        width: 0;
        background: transparent;
        border-bottom:3px solid #16AEAB;
        height: 3px;
        // margin: auto;
        left: 50px;
        right: 0;
        top: 13px;
        z-index: -1;
        transition: width 20.30s linear;
        animation: width-animate 10.30s linear;
    }
    &:after {
        content: '';
        position: absolute;
        width: calc(100% - 105px);;
        background: transparent;
        border-bottom:1px dashed #16AEAB;
        height: 2px;
        // margin: auto;
        left: 50px;
        right: 0;
        top: 13px;
        z-index: -1;
        transition: width 20.30s linear;
        animation: width-animate 10.30s linear;
    }
    
    &.onload-submittion-steps {
        
        &::before {
            width: calc(100% - 105px);

        }
        @keyframes width-animate {
            0% {
                transition: width 10.30s linear;
            }
            100% {
                transition: width 10.30s linear;
            }
          }
    }
    > li {
        .circle {
            min-height: 30px;
            .filled-circle {
                width: 24px;
                height: 24px;
                background: white;
                border-radius: 50%;
                display: inline-block;
                border: 2px solid #16AEAB;
                position: relative;
                top:2px;
                vertical-align: middle;
            }
        }
        &.step-2, &.sstep-3 {
            .circle { 
                img {
                    display: none;
                }
            }
        }
        &.sstep-3 {
            .circle {
                img {
                    display: none;
                    position: relative;
                    top:2px;
                }
            }
        }
    }
}


.use-algo-accord  {
    .card {
        .card-header {
            position: relative;
            .checkbox-wrap {
                position: absolute;
                padding-left: 31px;
                z-index: 0;
            }
            .title {
                padding-left: 30px;
            }
        }
    }
}

.edit-policies-modal {
    .vertical-tabs-container {
        .nav-tabs {
            .nav-item {
                margin:5px 0;
                .nav-link {
                    font-size: 14px;
                }
            }
        }
    }
}

.addpattern-issue-modal {
    input.form-control {
        font-size: 14px;
        &::-webkit-input-placeholder { /* Edge */
            font-size: 14px;
        }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            font-size: 14px;
        }
          
        &::placeholder {
            font-size: 14px;
        }
    }
}

.optional-pattern {
    .select2-container {
        width: 100% !important;
    }
}


.table-head-right-sec {
    ul.incident-table-event-wrap {
        display: flex;
        margin-left: -9px;
        margin-right: -9px;
        > li {
            &.td-search {
                width:182px;
            }
            &.td-action {
                width:132px;
            }
            &.td-download {
                width: 32px;
            }
        }
    }
}


