{% extends "base.html" %}
{% set explorePages = true %}
{% set postLoginUser = true %}

{% block content %}

<div class="workspace fixed-bottom-footer entities-pages">

    <!--page head  header start -->
    <div class="page-head-header container-fluid background-white">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h2 class="page-head">
                    <a href="javascript:void(0);" class="page-back-link">
                        <img src="public/images/icon-back-arrow.svg" alt="">
                    </a>
                    <span class="title px-2 d-inline-block">Finalizing</span>
                    <div class="d-inline-block position-relative info-tooltip-detail">
                        <a href="javascript:void(0);" class="head-help-link d-inline-block">
                            <img src="public/images/icon-question-mark.svg" alt="">
                        </a>
                        <div class="tooltip-pop">
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </h2>
            </div>
            <div class="col-sm-6">
                <ul class="d-flex justify-content-end page-header-right">
                    <li>
                        <a href="extraction-history.html" class="exit-process-link font-w-s" data-toggle="modal" data-target="#exit-confirmation-modal">
                            <span class="text">Exit Process</span>
                            <span class="icon ml-2">
                                <img src="public/images/icon-exit.svg" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--page head header end -->

    <!-- process flow start-->
    <div class="sec-space container-fluid fixed-bottom-footer mt-3">
        <div class="background-white p-3">
            <h4 class="section-title">Finalized - Extraction Successful</h4>
            <div class="covered-event-wrap">
                <ul class="covered-ul row align-items-center">
                    <li class="col-sm-6 pr-5">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <ul>
                                    <li class="font-w-s font-large">
                                        <span class="text">Workitem ID:</span>
                                        <span class="num">2021-04-08-86</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6  text-right">
                               <button class="btn btn-border">Save this to PC</button>
                            </div>
                        </div>
                    </li>
                    <li class="col-sm-6">
                        <div class="col-11 mx-auto">
                            <p><span class="status font-13 font-w-s font-black-1">In Progress</span><span class="time-stamp font-13 ml-3 font-black-1">12 min 30 sec</span></p>
                            <ul class="submittion-steps d-flex justify-content-between text-center">

                                <li class="step">
                                    <span class="circle d-block mb-2">
                                        <span class="filled-circle d-none"></span>
                                        <img src="public/images/icon-green-tick-ellipse.svg" alt="">
                                    </span>
                                    <span class="title font-w-s font-blue-color d-block">Submitted</span>
                                    <span class="date-titme-stamp font-black-1 font-xsmall d-block ">Apr 08 2021 08:49:15</span>
                                </li>
                                <li class="step-2">
                                    <span class="circle d-block mb-2">
                                        <span class="filled-circle"></span>
                                        <img src="public/images/icon-green-tick-ellipse.svg" alt="">
                                    </span>
                                    <span class="title font-w-s font-blue-color d-block">Action Initiated</span>
                                    <span class="date-titme-stamp font-black-1 font-xsmall d-none">Apr 08 2021 09:06:28</span>
                                    <span class="dash font-black-1 font-xsmall d-block">-</span>
                                </li>
                                <li class="sstep-3">
                                    <span class="circle d-block mb-2">
                                        <span class="filled-circle"></span>
                                        <img src="public/images/icon-green-tick-ellipse.svg" alt="">
                                    </span>
                                    <span class="title status-title font-w-s font-blue-color d-block">Finalization</span>
                                    <span class="dash font-black-1 font-xsmall d-block">-</span>
                                    <span class="title final-status font-w-s font-blue-color d-none">Success</span>
                                    <span class="date-titme-stamp font-black-1 font-xsmall d-none">Apr 08 2021 09:06:28</span>
                                    
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="covered-event-wrap border-top border-bottom my-4 py-4">
                <ul class="covered-ul row align-items-center">
                    <li class="covered-item-wrap col-sm-6 pr-5">
                      <h4 class="section-sub-title mb-3">ADDED TO MAIN DICTIONARY</h4>
                      <div class="row">
                          <div class="col-6">
                                <ul class="pr-0">
                                    <li><span class="num font-w-b font-xxlarge">120</span></li>
                                    <li><span class="text font-13">New CI patterns added</span></li>
                                </ul>
                          </div>
                          <div class="col-6">
                                <ul class="pr-0">
                                    <li><span class="num font-w-b font-xxlarge">120</span></li>
                                    <li><span class="text font-13">New Issue patterns added</span></li>
                                </ul>
                          </div>
                      </div>
                    </li>
              </ul>
            </div>
            <div class="covered-event-wrap">
                <ul class="covered-ul row align-items-center">
                      <li class="covered-item-wrap col-sm-6 pr-5">
                        <h4 class="section-sub-title mb-3">ADDED TO BLUEPRINT</h4>
                        <div class="row">
                            <div class="col-6">
                                <ul class="pr-0">
                                    <li><span class="num font-w-b font-xxlarge">178/<small class="font-base">200</small></span></li>
                                    <li><span class="text font-13">CI's added in blueprint</span></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="covered-bg">
                                    <ul>
                                        <li>
                                            <span class="num font-w-b font-xxlarge">153</span>
                                            <span class="text font-13 ml-2">Total CIs Mapped to OUs</span>
                                        </li>
                                        <li>
                                            <span class="num font-w-b font-large">25</span>
                                            <span class="text font-13 ml-2">Total CIs Unmapped</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </li>
                      <li class="covered-item-wrap col-sm-6 pr-5">
                        <h4 class="section-sub-title mb-3"></h4>
                        <div class="row">
                            <div class="col-6 pl-0">
                                <ul class="pr-0">
                                    <li><span class="num font-w-b font-large">145/<small class="font-base">200</small></span></li>
                                    <li><span class="text font-13">Issues added in blueprint</span></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <div class="covered-bg">
                                    <ul>
                                        <li>
                                            <span class="num font-w-b font-large">125</span>
                                            <span class="text font-13 ml-2">Total Modelled Issues</span>
                                        </li>
                                        <li>
                                            <span class="num font-w-b font-large">20</span>
                                            <span class="text font-13 ml-2">Total Unmodelled Issues</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- process flow end-->

    <div class="page-nav-steps">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-9">
                    <ul class="entities-steps">
                        <li>
                            <a href="extract-entities.html" class="steps-link activated">Start Analysis</a>
                            <span class="activated"></span>
                        </li>
                        <li>
                            <span class="before activated"></span>
                            <ul>
                                <li>
                                    <span class="before activated"></span>
                                    <a href="extract-issues.html" class="steps-link activated">Extract Issues</a>
                                    <span class="after activated"></span>
                                </li>
                                <li>
                                    <span class="before activated"></span>
                                    <a href="extract-cls.html" class="steps-link activated">Extract CIs</a>
                                    <span class="after activated"></span>
                                </li>
                            </ul>
                            <span class="after activated"></span>
                        </li>
                        <li>
                            <span class="sec-before activated"></span>
                            <ul>
                                <li>
                                    <a href="issue-results.html" class="steps-link activated">Issue Results</a>
                                    <span class="sec-after activated"></span>
                                </li>
                                <li>
                                    <a href="cls-results.html" class="steps-link activated">CI Results</a>
                                    <span class="sec-after activated"></span>
                                </li>
                            </ul>
                            <span class="sec-after activated"></span>
                        </li>
                        <li>
                            <span class="last-before activated"></span>
                            <a href="pre-finalization.html" class="steps-link activated">Pre-Finalization</a>
                            <span class="last-after activated"></span>
                        </li>
                        <li class="final-nav">
                            <a href="finalized-complete.html" class="steps-link highlight">Finalized</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="col-sm-3">
                    <div class="btn-wrap d-flex justify-content-end">
                        <button class="btn btn-proceed btn-filled ml-3">FINALIZE</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- The Modal Exit Confirmaton start -->
<div class="modal fade custom-modal-styling exit-confirmation-modal" id="exit-confirmation-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <h4 class="section-title text-center mb-3">Are you sure you want to exit ?</h4>
            <p class="popup-info mb-0 text-center">The current process will be terminated, however you can Save and resume from last completed stage</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center border-0">
            <button type="button" class="btn btn-filled" data-dismiss="modal">SAVE & EXIT</button>
            <button type="button" class="btn btn-border ml-3" data-dismiss="modal">DISCARD</button>
        </div>
  
      </div>
    </div>
</div>
<!-- he Modal Exit Confirmation end -->


{% endblock %}

