{% extends "base.html" %}
{% set explorePages = true %}
{% set postLoginUser = true %}

{% block content %}

<div class="workspace entities-pages">

    <!--page head  header start -->
    <div class="page-head-header container-fluid background-white">
        <div class="row align-items-center">
            <div class="col-sm-12">
                <h2 class="page-head">
                    <a href="extract-entities.html" class="page-back-link">
                        <img src="public/images/icon-back-arrow.svg" alt="">
                    </a>
                    <span class="title px-2">Extraction History</span>
                </h2>
            </div>
        </div>
    </div>
    <!--page head header end -->

      <!-- data table style start-->
      <div class="sec-space container-fluid mt-3 ">
        <div class="datatable-wrapper section-radius">
            <div class="accordion-wrapper p-3 background-white" id="incidenttablerecord">
                <div class="d-flex justify-content-between align-items-center border-0 p-0 " >
                    <div class="section-top-head d-flex align-items-baseline">
                        <img src="" alt="">
                        <h2><span class="label">Extraction Log </span><span class="num">(65)</span></h2>
                    </div>
                    <div class="right-sec d-flex  align-items-center">
                        <ul class="incident-table-event-wrap d-flex align-items-center">
                            <li>
                                <div class="search-wrap">
                                    <input type="search" id="search-inp" class="form-control" placeholder="Search.."/>
                                </div>
                            </li>
                            <li><img src="public/images/icon-download.svg" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="pt-3 extraction-history-table-wrap position-relative common-table-wrapper">
                    <table id="table_id" class="display" data-page-length="10">
                        <thead>
                            <tr>
                                <th id="analysisname">
                                    <span class="text font-upper">ANALYSIS NAME</span>
                                    <a class="hamburger">
                                        <img src="public/images/icon-kebab-menu.svg" alt="">
                                    </a>
                                </th>
                                <th id="startedon">
                                    <span class="text font-upper">STARTED ON</span>
                                    <a class="hamburger">
                                        <img src="public/images/icon-kebab-menu.svg" alt="">
                                    </a>
                                </th>
                                <th id="endon" >
                                    <span class="text font-upper">END ON</span>
                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                </th>
                                <th id="duration">
                                    <span class="text font-upper">DURATION</span>
                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                </th>
                                <th id="status" >
                                    <span class="text font-upper">STATUS</span>
                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                </th>
                                <th id="createdby" >
                                    <span class="text font-upper">CREATED BY</span>
                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                </th>
                                <th id="lastupdatedby" >
                                    <span class="text font-upper">LAST UPDATED BY</span>
                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                </th>
                                <th id="workitemid" >
                                    <span class="text font-upper">WORKITEM ID</span>
                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>

                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628 
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>

                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>

                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>

                                </td>
                            </tr>
                            <tr>
                                <td>SolarWinds_Analysis_10</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>05/04/20 12:35 PM</td>
                                <td>00:24:00</td>
                                <td>Ongoing</td>
                                <td>Nihar Jain</td>
                                <td>Nihar Jain</td>
                                <td class="position-relative">2020-04-29-6628
                                    <a href="javascript:void(0)" class="finalize-data-popup font-small font-w-s font-tine" data-toggle="modal" data-target="#clear-finalized-data">Clear Finalized Data</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- data table style end-->
    <div class="toast eh-toast-wrap solar_toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            <div class="loader"></div>
            <div class="info-wrap">
                <p class="subject-name mb-1">SolarWinds_Analysis_1</p>
                <p class="detail">Clear Finalized Data action is in progress</p>
            </div>
            <a href="javascript:void(0)" data-dismiss="toast" class="close" id="close_toast" onclick="document.querySelector('.solar_toast').style.display='none';">&times;</a>
        </div>
    </div>
</div>


<!-- The Modal clear finalized data start -->
<div class="modal fade custom-modal-styling modal-width-482" id="clear-finalized-data">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Clear Finalised Data</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="analysis-report">
                <ul class="d-flex justify-content-between align-items-center">
                    <li>
                        <p class="font-w-s mb-2">SolarWinds_Analysis_10</p>
                        <small class="font-small">Workitem ID: 2020-04-29-6629</small>
                    </li>
                    <li>
                        <p class="font-w-s mb-0">100,000 issues</p>
                    </li>
                </ul>
            </div>
            <div class="info-wrap font-large text-center mt-3 mb-4 text-center">
                <p class="mb-1">Data from the above record will be cleared.</p>
                <p class="font-w-s mb-0">Operation will take 1-2 mins to complete.</p>
            </div>
            <p class="confirmaion font-large text-center mb-0">Are you sure you wish to proceed?</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center pb-4 border-0">
            <button type="button" class="btn btn-filled toast-filled-btn" data-dismiss="modal" data-toggle="modal" data-target="#clear-finalized-data-status" onclick="opentoast()">Proceed</button>
            <button type="button" class="btn btn-border ml-3" data-dismiss="modal">Cancel</button>
        </div>
  
      </div>
    </div>
  </div>
<!-- he Modal clear finalized data end -->

<!-- The Modal clear finalized data fail status start -->
<div class="modal fade custom-modal-styling modal-width-482" id="clear-finalized-data-status">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Error Message</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="info-wrap font-large text-center my-3 text-center">
                <p class="error-head">
                    <span class="icon">
                        <img src="public/images/icon-info.svg" alt="">
                    </span>
                    <span class="text">Action Not Completed !</span>
                </p>
                <p class="mb-1">Could not complete the Clear Finalized Data action on SolarWinds_Analysis_1, due to the technical interruption.</p>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center pb-4 border-0">
            <button type="button" class="btn btn-filled" data-dismiss="modal">Restart</button>
            <button type="button" class="btn btn-border ml-3" data-dismiss="modal">Exit</button>
        </div>
  
      </div>
    </div>
  </div>
<!-- he Modal clear finalized data fail status end -->

{% endblock %}

