{% extends "base.html" %}
{% set explorePages = true %}
{% set postLoginUser = true %}

{% block content %}

<div class="workspace  entities-pages">

    <!--page head  header start -->
    <div class="page-head-header container-fluid background-white">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h2 class="page-head">
                    <a href="javascript:void(0);" class="page-back-link">
                        <img src="public/images/icon-back-arrow.svg" alt="">
                    </a>
                    <span class="title px-2 d-inline-block">Issue & CI Signature Extraction</span>
                    <div class="d-inline-block position-relative info-tooltip-detail">
                        <a href="javascript:void(0);" class="head-help-link d-inline-block">
                            <img src="public/images/icon-question-mark.svg" alt="">
                        </a>
                        <div class="tooltip-pop">
                            <p class="mb-3 font-w-s">Define dictionary, add patterns and use Ignio algorithms to set Issue and CI extraction rules</p>
                        </div>
                    </div>
                </h2>
            </div>
            <div class="col-sm-6">
                <ul class="d-flex justify-content-end page-header-right">
                    <li>
                        <a href="main-dictionary.html" class="ext-history-link font-w-s">
                            <span class="icon">
                                <img src="public/images/icon-maindictionary.svg" alt="">
                            </span>
                            <span class="text">Main Dictionary</span>
                        </a>
                    </li>
                    <li>
                        <a href="extraction-history.html" class="ext-history-link font-w-s">
                            <span class="icon">
                                <img src="public/images/history.svg" alt="">
                            </span>
                            <span class="text">Extraction History</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--page head header end -->

    <!-- Analysis and summery section  start -->
    <div class="analysis-summary-wrap">
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-8">
                    <div class="analysis-sec p-4 background-white">
                        <h3 class="section-title">
                            <!-- <input type="text" class="title" value="ABC Analysis" > -->
                            <input type="text" id="textbox" name="textbox" class="title" placeholder="Welcome" value="ABC Analysis" onkeypress="this.style.width = ((this.value.length + 4) * 8) + 'px';" />
                            <a href="javascript:void(0);" class="icon" onclick="editinputfield(event)">
                                <img src="public/images/icon-content-edit.svg" alt="">
                            </a>
                        </h3>
                        <div class="afilter-wrap pb-5">
                            <h4 class="section-sub-title">FILTERS</h4>
                            <div class="row mb-4 align-items-center">
                                <div class="col-sm-3">
                                    <p class="mb-0 font-w-s d-flex align-items-center">
                                        <i class="icon"><img src="public/images/icon-database.svg" alt=""></i>
                                        <span class="text ml-3">Select Source</span>
                                    </p>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row source-check-wrap">
                                        <div class="col-sm-6  ">
                                            <form class="form-wrap multiselect-checkbox">
                                                <button class="btn-check-wrap" onclick="multicheckdrop(event)">
                                                    <span class="count"></span>
                                                    <span class="text">Select Source</span>
                                                </button>
                                                <div class="select-option-wrap" data-simplebar>
                                                    <ul class="select-option-list">
                                                        <li class="all-check-value" data-value="all-select">
                                                            <div class="checkbox-wrap all-check">
                                                                <input type="checkbox" id="selectall" name="" value="">
                                                                <label for="selectall"><span>Select All</span></label>
                                                            </div>
                                                        </li>
                                                        <li class="single-check" data-value="datasource1">
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="datasource1" name="" value="DataSource 1">
                                                                <label for="datasource1"><span>DataSource 1</span></label>
                                                            </div>
                                                        </li>
                                                        <li class="single-check" data-value="datasource2">
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="datasource2" name="" value="DataSource 2">
                                                                <label for="datasource2"><span>DataSource 2</span></label>
                                                            </div>
                                                        </li>
                                                        <li class="single-check" data-value="datasource3">
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="datasource3" name="" value="DataSource 3">
                                                                <label for="datasource3"><span>DataSource 3</span></label>
                                                            </div>
                                                        </li>
                                                        <li class="single-check" data-value="datasource4">
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="datasource4" name="" value="DataSource 4">
                                                                <label for="datasource4"><span>DataSource 4</span></label>
                                                            </div>
                                                        </li>
                                                        <li class="single-check" data-value="datasource5">
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="datasource" name="" value="DataSource 5">
                                                                <label for="datasource"><span>DataSource 5</span></label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-sm-12 d-none">
                                            <div class="selected-items">
                                                <ul class="tags-wrap mt-2">
                                                    <!--appending data from script on checkbox click-->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4 align-items-center">
                                <div class="col-sm-3">
                                    <p class="mb-0 font-w-s pt-3 mt-2">
                                        <i class="icon"><img src="public/images/icon-calender.svg" alt=""></i>
                                        <span class="text ml-3">Select Range</span>
                                    </p>
                                </div>
                                <div class="col-sm-8">
                                    <form class="form-wrap row">
                                        
                                        <div class="col-sm-6 dt-picker-wrap ">
                                            <label class="label-control mb-0 font-small">From</label>
                                            <!-- <input id="my_dtp2"  class="my_dtp_c form-control" type="text"> -->
                                            <input type="date" id="demo111" class="select-datepicker" value="02-09-2022">
                                        </div>
                                        <div class="col-sm-6 dt-picker-wrap">
                                            <label class="label-control mb-0 font-small">To</label>
                                            <!-- <input id="my_dtp3" class="my_dtp_c form-control" type="text"> -->
                                            <input type="date" id="demo1111" class="select-datepicker" value="02-09-2022">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="append-filter-wrap">
                                <div class="row mb-4 pt-3 align-items-center">
                                    <div class="col-sm-3">
                                        <p  class="mb-0 font-w-s">
                                            <i class="icon"><img src="public/images/icon-selectfilter.svg" alt=""></i>
                                            <span class="text ml-3">Select Filter</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-8">
                                        <form class="form-wrap row">
                                            <div class="col-sm-3">
                                                <select class="form-control select-filter-option select-drop-value">
                                                    <option id="ColName1">ColName1</option>
                                                    <option id="resolveddate">Resolved Date</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control select-drop-value">
                                                    <option>Contains</option>
                                                    <option>Does not Contain</option>
                                                    <option>Equals</option>
                                                    <option>Not equal to</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 ddd">
                                                <div class="form-wrap multiselect-checkbox  multiselect-custom-check">
                                                    <button class="btn-check-wrap" onclick="multicheckdrop(event)">
                                                        <span class="count"></span>
                                                        <span class="text">String1, String2, and 4 other....</span>
                                                    </button>
                                                    <div class="select-option-wrap" data-simplebar>
                                                        <ul class="select-option-list check-main-wrap">
                                                            <li data-value="all-select">
                                                                <div class="checkbox-wrap all-check">
                                                                    <input type="checkbox" id="selectall1" name="" value="">
                                                                    <label for="selectall1"><span>Select All</span></label>
                                                                </div>
                                                            </li>
                                                            <li data-value="String1">
                                                                <div class="checkbox-wrap single-check-val">
                                                                    <input type="checkbox" id="String1" name="" value="String1">
                                                                    <label for="String1"><span>String1</span></label>
                                                                </div>
                                                            </li>
                                                            <li data-value="String2">
                                                                <div class="checkbox-wrap single-check-val">
                                                                    <input type="checkbox" id="String2" name="" value="String2">
                                                                    <label for="String2"><span>String2</span></label>
                                                                </div>
                                                            </li>
                                                            <li data-value="String3">
                                                                <div class="checkbox-wrap single-check-val">
                                                                    <input type="checkbox" id="String3" name="" value="String3">
                                                                    <label for="String3"><span>String3</span></label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="javascript:void(0)" class="filter-add" onclick="appendfiltersec(event)">+</a>
                                            <a href="javascript:void(0)" class="filter-delete" onclick="deleteappendfiltersec(event)"><img src="public/images/icon-delete.svg" alt=""></a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
    
                        <div class="policy-parameter-wrap">
                            <h4 class="section-sub-title mb-3">POLICY PARAMETERS</h4>
                            <div class="common-tabs">
                                <ul class="nav nav-tabs row" id="ppTabs" role="tablist">
                                    <li class="nav-item col-2 p-0">
                                        <a class="nav-link active" id="issueEx-tab" data-toggle="tab" href="#issueEx" role="tab">Issue Extraction</a>
                                    </li>
                                    <li class="nav-item col-2 p-0">
                                        <a class="nav-link" id="ciEx-tab" data-toggle="tab" href="#ciEx" role="tab">CI Extraction</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="ppTabContent">
                                    <div class="tab-pane fade show active issue-tabs-wrap" id="issueEx" role="tabpanel"> 
                                        <div class="row align-items-center  mb-4 mt-4">
                                            <div class="col-sm-6">
                                                <p class="font-base font-w-s">
                                                    <span class="icons">
                                                        <img src="public/images/Attributes.svg" alt="">
                                                    </span>
                                                    <span class="text pl-2">Attributes</span>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 attributes-cond-btn d-none">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a href="javascript:void(0)" class="reset-link mr-3 font-upper font-tine">Reset</a>
                                                    <a href="javascript:void(0);" class="btn btn-filled font-upper">Save Changes</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-wrap">
                                            <div class="row mb-3">
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Policy Name</label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>Policy_Variation_1</option>
                                                            <option>Policy_Variation_2</option>
                                                            <option>Policy_Variation_3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="algorithm-title  font-w-s mt-4  mb-4">
                                                <h4 class="section-sub-title d-inline-block font-capital mb-0">Algorithm Pattern Extraction</h4>
                                                <div class="d-inline-block position-relative info-tooltip-detail">
                                                    <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                        <img src="public/images/icon-blue-info.svg" alt="">
                                                    </a>
                                                    <div class="tooltip-pop">
                                                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Break Condition Threshild</label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Input Data Type</label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>System</option>
                                                            <option>System</option>
                                                            <option>System</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Stemming Mode</label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>None</option>
                                                            <option>None</option>
                                                            <option>None</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Group Finding Mode</label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>Set</option>
                                                            <option>Set</option>
                                                            <option>Set</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label  class="label-control mb-0 font-small">Issue Column</label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>Description</option>
                                                            <option>Description</option>
                                                            <option>Description</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label  class="label-control mb-0 font-small">Top Keyword Select Factor
                                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                                </a>
                                                                <div class="tooltip-pop">
                                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                                </div>
                                                            </div>
                                                        </label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>0.1</option>
                                                            <option>0.1</option>
                                                            <option>0.1</option>
                                                        </select>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Group Similarity Thresold
                                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                                </a>
                                                                <div class="tooltip-pop">
                                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                                </div>
                                                            </div>
                                                        </label>
    
                                                        <select class="form-control  select-drop-value">
                                                            <option>0.75</option>
                                                            <option>0.75</option>
                                                            <option>0.75</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade  issue-tabs-wrap" id="ciEx" role="tabpanel">
                                        <div class="row align-items-center  mb-4 mt-4">
                                            <div class="col-sm-6">
                                                <p class="font-base font-w-s">
                                                    <span class="icons">
                                                        <img src="public/images/Attributes.svg" alt="">
                                                    </span>
                                                    <span class="text pl-2">Attributes</span>
                                                </p>
                                            </div>
                                            <div class="col-sm-6 attributes-cond-btn d-none">
                                                <div class="d-flex justify-content-end align-items-center">
                                                    <a href="javascript:void(0)" class="reset-link mr-3 font-upper font-tine">Reset</a>
                                                    <a href="javascript:void(0);" class="btn btn-filled font-upper">Save Changes</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="form-wrap mb-4">
                                            <div class="algorithm-title  font-w-s mt-4  mb-4">
                                                <h4 class="section-sub-title d-inline-block font-capital mb-0">Algorithm Pattern Extraction</h4>
                                                <div class="d-inline-block position-relative info-tooltip-detail">
                                                    <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                        <img src="public/images/icon-blue-info.svg" alt="">
                                                    </a>
                                                    <div class="tooltip-pop">
                                                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Policy Name</label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>Policy_Variation_2</option>
                                                            <option>Policy_Variation_2</option>
                                                            <option>Policy_Variation_3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Policy Name</label>
                                                        <select class="form-control  select-drop-value">
                                                            <option>Policy_Variation_1</option>
                                                            <option>Policy_Variation_2</option>
                                                            <option>Policy_Variation_3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small">Mapped CI Column </label>
                                                        <input type="text" class="form-control" value="" placeholder="System">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form">
                                                        <label class="label-control mb-0 font-small d-block">CI Column
                                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                                </a>
                                                                <div class="tooltip-pop">
                                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                                </div>
                                                            </div>
                                                        </label>
                                                        <input type="text" class="form-control" value="" placeholder="1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="summary-sec">
                        <ul>
                            <li class="summary">
                                <span class="icon">
                                    <img src="public/images/Summary.svg" alt="">
                                </span>
                                <span class="text font-upper">SUMMARY</span>
                            </li>
                            <li class="total-row">
                                <span class="num">100</span>
                                <span class="text">Total Rows</span>
                            </li>
                            <li class="no-data-found d-none">
                                <span class="icon">
                                    <img src="public/images/icon-yellow-warning.svg" alt="">
                                </span>
                                <span class="text font-large font-w-s pl-3">No useful data found</span>
                            </li>
                            <li>
                                <button class="btn btn-border btn-download">
                                    <span class="icon">
                                        <img src="public/images/icon-white-download.svg" alt="">
                                    </span>
                                    <span class="text pl-2">DOWNLOAD INPUT DATA</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Analysis and summery section  start -->

    <div class="page-nav-steps">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-9">
                    <ul class="entities-steps">
                        <li>
                            <a href="extract-entities.html" class="steps-link active">Start Analysis</a>
                            <span></span>
                        </li>
                        <li>
                            <span class="before"></span>
                            <ul>
                                <li>
                                    <span class="before"></span>
                                    <a href="extract-issues.html" class="steps-link highlight">Extract Issues</a>
                                    <span class="after"></span>
                                </li>
                                <li>
                                    <span class="before"></span>
                                    <a href="extract-cls.html" class="steps-link highlight">Extract CIs</a>
                                    <span class="after"></span>
                                </li>
                            </ul>
                            <span class="after"></span>
                        </li>
                        <li>
                            <span class="sec-before"></span>
                            <ul>
                                <li>
                                    <a href="issue-results.html" class="steps-link disabled">Issue Results</a>
                                    <span class="sec-after"></span>
                                </li>
                                <li>
                                    <a href="cls-results.html" class="steps-link disabled">CI Results</a>
                                    <span class="sec-after"></span>
                                </li>
                            </ul>
                            <span class="sec-after"></span>
                        </li>
                        <li>
                            <span class="last-before"></span>
                            <a href="pre-finalization.html" class="steps-link disabled">Pre-Finalization</a>
                            <span class="last-after"></span>
                        </li>
                        <li class="final-nav">
                            <a href="extraction-failed.html" class="steps-link disabled">Finalized</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="btn-wrap entities-btn-process d-flex justify-content-end">
                        <button class="btn btn-proceed btn-filled ">Proceed To<span class="arrow"></span></button>
                        <ul class="dropdown-flow">
                            <li><a href="extract-issues.html">Extract Issues</a></li>
                            <li><a href="extract-cls.html">Extract CIs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}