{% extends "base.html" %}
{% set explorePages = true %}
{% set postLoginUser = true %}

{% block content %}

<div class="workspace fixed-bottom-footer entities-pages">

    <!--page head  header start -->
    <div class="page-head-header container-fluid background-white">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h2 class="page-head">
                    <a href="issue-results.html" class="page-back-link">
                        <img src="public/images/icon-back-arrow.svg" alt="">
                    </a>
                    <span class="title px-2 d-inline-block">Extract CIs</span>
                    <div class="d-inline-block position-relative info-tooltip-detail">
                        <a href="javascript:void(0);" class="head-help-link d-inline-block">
                            <img src="public/images/icon-question-mark.svg" alt="">
                        </a>
                        <div class="tooltip-pop">
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </h2>
            </div>
            <div class="col-sm-6">
                <ul class="d-flex justify-content-end page-header-right">
                    <li class="border-right">
                        <a href="javascript:void(0)" class="edit-policies-link font-w-s" data-toggle="modal" data-target="#edit-policies-modal">
                            <span class="text">Edit Policies</span>
                        </a>
                    </li>
                    <li>
                        <a href="extraction-history.html" class="exit-process-link font-w-s" data-toggle="modal" data-target="#exit-confirmation-modal">
                            <span class="text">Exit Process</span>
                            <span class="icon ml-2">
                                <img src="public/images/icon-exit.svg" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--page head header end -->

    <!-- process flow start-->
    <div class="sec-space container-fluid mt-3 fixed-bottom-footer">
        <div class="background-white p-4">
            <div class="section-process-title mb-2">
                <div class="row">
                    <div class="col-sm-9">
                        <h5 class="section-title mb-2">How do you wish to proceed ?</h5>
                        <div class="d-inline-block position-relative">
                            <p class="font-black-1 font-large d-inline-block">You can proceed with your existing dictionary or define more patterns using any of the following options.</p>
                            <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                <img src="public/images/icon-question-mark.svg" alt="">
                            </a>
                            <div class="tooltip-pop">
                                <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <a href="javascriptvoid(0)" class="download-raw-data">
                            <span class="icon">
                                <img src="public/images/icon-blue-download.svg" alt="">
                            </span>
                            <span class="text">Download Raw input Data</span>
                        </a>
                    </div>
                </div>
            </div>
            <h4 class="section-sub-title  mb-2 font-upper">Use Dictionary</h4>
            <div class="accordion dictionary-accordion mb-4" id="accordionExample">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center mb-0" id="headingOne">
                        <button type="button" class="btn btn-link col-sm-10" data-toggle="collapse" data-target="#collapseOne">
                            <span class="icon-right-angle"></span>
                            <span class="text">Upload Dictionary</span>
                           
                        </button>
                        <a href="javascript:void(0)" class="template-download-link col-sm-2 text-right">
                            <span class="icon">
                                <img src="public/images/icon-blue-download.svg" alt="">
                            </span>
                            <span class="text font-w-s ml-2 font-blue-1">Download Template</span>
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <form id="myForm" method="post" enctype="multipart/form-data" class="drag-and-drop-file">
                                <div class="file-uploader-flow">
                                    <div id="drag_upload_file">
                                        <p class="font-black-1 mb-2">Drag and drop the files here</p>
                                        <p class="font-black-1 mb-2">or</p>
                                        <p class="font-black-1 mb-0 position-relative d-inline-block"><input type="button" id="btnFileUpload" value="Click to upload" /></p>
                                        <!-- <input type="file" id="selectfile" /> -->
                                        <input type="file" id="files" name="files" value="Click to upload" multiple accept="image/*">
                                    </div>
                                </div>
                                <div class="upload-list-wrap" id="upload-list-wrap" data-simplebar="" style="height: 133px; display: none;">
                                    <ul id="selectedFiles"></ul>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header mb-0" id="headingTwo">
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo">
                            <span class="icon-right-angle"></span> 
                            <span class="text">Add New Pattern</span>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">

                            <div class="create-pattern-wrap">
                               <div class="row">
                                    <div class="col-sm-6 create-pattern-block position-relative pr-5">
                                        <h4 class="section-title">Create a pattern</h4>
                                        <div class="from-wrapper">
                                            <div class="row mb-4">
                                                <div class="col-sm-6">
                                                    <div class="form-wrap">
                                                        <label class="label-control small-control-label">CI Pattern</label>
                                                        <input type="text" value="" placeholder="Enter Pattern" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-wrap">
                                                        <label class="label-control small-control-label">CI Type</label>
                                                        <input type="text" value="" placeholder="Enter Type" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-sm-6">
                                                    <div class="form-wrap">
                                                        <label class="label-control small-control-label">Replace Signature (Optional)</label>
                                                        <input type="text" value="" placeholder="Enter Signature" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-wrap">
                                                        <label class="label-control small-control-label">OU Name (Optional)</label>
                                                        <input type="text" value="" placeholder="Enter OU" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-sm-6">
                                                    <div class="form-wrap">
                                                        <label class="label-control small-control-label">Operation</label>
                                                        <select class="select-drop-value form-control">
                                                            <option>Clean</option>
                                                            <option>Extract</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-wrap mt-5 text-center">
                                            <button class="btn btn-filled" >Add Pattern</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 create-pattern-block pl-5">
                                        <div class=" d-flex justify-content-between align-items-center border-0 p-0 ">
                                            <div class="section-top-head d-flex align-items-baseline">
                                                <img src="" alt="">
                                                <h2><span class="label">Nodename Table</h2>
                                            </div>
                                            <div class="right-sec table-head-right-sec   align-items-center">
                                                <ul class="incident-table-event-wrap justify-content-end align-items-center">
                                                    <li class="td-search">
                                                        <div class="search-wrap">
                                                            <input type="search" id="search-inp" class="form-control" placeholder="Search.."/>
                                                        </div>
                                                    </li>
                                                    <li class="table-view-list table-action-modal td-action">
                                                        <div class="dropdown select-wrapper">
                                                            <select name="options" id="" class="form-control select-drop-value" >
                                                                <option value="action" class="action" data-val="labled-option">Action</option>
                                                                <option value="delete" class="delete">Delete Selected</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li class="table-view-list td-download"><img src="public/images/icon-download.svg" alt=""></li>
                                                </ul>
                                            </div>
                                        </div>
                                         <!-- Incident table view -->
                                         <div class="incident-table-wrapper common-table-wrapper  pt-3">
                                            <table id="table_id" class="display">
                                                <thead>
                                                    <tr>
                                                        <th id="check" class="no-sort">
                                                            <div class="checkbox-wrap all-check">
                                                                <input type="checkbox" id="itd1" name="" value="">
                                                                <label for="itd1"><span></span></label>
                                                            </div>
                                                        </th>
                                                        <th id="issuepattern">
                                                            <span class="text">UNIQUE NODENAME</span>
                                                            <a class="hamburger"  onclick="table_filter(this)">
                                                                <img src="public/images/icon-kebab-menu.svg" alt="">
                                                            </a>
                                                            <div class="column-filter common-popup">
                                                                <div class="search-wrap">
                                                                    <input type="search" class="form-control" placeholder="Search">
                                                                </div>
                                                                <div class="checkbox-data" data-simplebar="">
                                                                    <ul class="select-check-wrap check-main-wrap">
                                                                        <li>
                                                                            <div class="checkbox-wrap all-check">
                                                                                <input type="checkbox" id="select" name="" value="">
                                                                                <label for="select"><span>Select</span></label>
                                                                            </div>
                                                                            <a href="javascript:void(0)" class="clear-check-evt">Clear All</a>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-wrap single-check-val">
                                                                                <input type="checkbox" id="autoresolved" name="" value="">
                                                                                <label for="autoresolved"><span>Auto Resolved</span></label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-wrap single-check-val">
                                                                                <input type="checkbox" id="manual" name="" value="">
                                                                                <label for="manual"><span>Manual</span></label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-wrap single-check-val">
                                                                                <input type="checkbox" id="resolved" name="" value="">
                                                                                <label for="resolved"><span>Resolved</span></label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-wrap single-check-val">
                                                                                <input type="checkbox" id="triaged" name="" value="">
                                                                                <label for="triaged"><span>Triaged</span></label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            
                                                                <ul class="freez-check-wrap">
                                                                    <li>
                                                                        <div class="checkbox-wrap">
                                                                            <input type="checkbox" id="freezecolumn" name="" value="">
                                                                            <label for="freezecolumn"><span>Freeze Column</span></label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </th>
                                                        <th id="issuelabel">
                                                            <span class="text">COUNT</span>
                                                            <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                                        </th>
                                                        <th class="no-sort"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="td11" name="" value="">
                                                                <label for="td11"><span></span></label>
                                                            </div>
                                                        </td>
                                                        <td>#12$323ABC</td>
                                                        <td>100</td>
                                                        <td class="text-right">
                                                            <a href="javascript:void(0)" class="close-icon">
                                                                <img src="public/images/icon_blue-close.svg" alt="">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="td12" name="" value="">
                                                                <label for="td12"><span></span></label>
                                                            </div>
                                                        </td>
                                                        <td>ABC_arvali_wdm1</td>
                                                        <td>25</td>
                                                        <td  class="text-right">
                                                            <a href="javascript:void(0)" class="close-icon">
                                                                <img src="public/images/icon_blue-close.svg" alt="">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="td13" name="" value="">
                                                                <label for="td13"><span></span></label>
                                                            </div>
                                                        </td>
                                                        <td>#12$323ABC</td>
                                                        <td>43</td>
                                                        <td  class="text-right">
                                                            <a href="javascript:void(0)" class="close-icon">
                                                                <img src="public/images/icon_blue-close.svg" alt="">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Incident table view -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- data table style start-->
            <div class="sec-space ">
                <div class="datatable-wrapper patterns-define-table section-radius">
                    <div class="accordion-wrapper background-white">
                        <!-- Incident table view -->
                        <div class="d-flex justify-content-between align-items-center border-0 p-0 " >
                            <div class="section-top-head d-flex align-items-baseline">
                                <img src="" alt="">
                                <h2><span class="label">Pattern Defined </span><span class="num">(100)</span></h2>
                            </div>
                            <div class="right-sec table-head-right-sec col-sm-5  align-items-center">
                                <ul class="incident-table-event-wrap justify-content-end align-items-center">
                                    <li class="td-search">
                                        <div class="search-wrap">
                                            <input type="search" id="search-inp" class="form-control" placeholder="Search.."/>
                                        </div>
                                    </li>
                                    <li class="table-view-list table-action-modal td-action">
                                        <div class="dropdown select-wrapper">
                                            <select name="options" id="" class="form-control select-drop-value" >
                                                <option value="action" class="action" data-val="labled-option">Action</option>
                                                <option value="delete" class="delete">Delete Selected</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="table-view-list td-download"><img src="public/images/icon-download.svg" alt=""></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pt-3">
                            <!-- Incident table view -->
                            <div class="incident-table-wrapper common-table-wrapper">
                                <table id="table_id1" class="display table_id1 extract-ci-pd">
                                    <thead>
                                        <tr>
                                            <th id="check" class="no-sort">
                                                <div class="checkbox-wrap all-check ">
                                                    <input type="checkbox" id="ptd1" name="" value="">
                                                    <label for="ptd1"><span></span></label>
                                                </div>
                                            </th>
                                            <th id="issuepattern">
                                                <span class="text">CI PATTERNS</span>
                                                <a class="hamburger"  onclick="table_filter(this)">
                                                    <img src="public/images/icon-kebab-menu.svg" alt="">
                                                </a>
                                                <div class="column-filter common-popup">
                                                    <div class="search-wrap">
                                                        <input type="search" class="form-control" placeholder="Search">
                                                    </div>
                                                    <div class="checkbox-data" data-simplebar="">
                                                        <ul class="select-check-wrap check-main-wrap">
                                                            <li>
                                                                <div class="checkbox-wrap all-check">
                                                                    <input type="checkbox" id="select" name="" value="">
                                                                    <label for="select"><span>Select</span></label>
                                                                </div>
                                                                <a href="javascript:void(0)" class="clear-check-evt">Clear All</a>
                                                            </li>
                                                            <li>
                                                                <div class="checkbox-wrap single-check-val">
                                                                    <input type="checkbox" id="autoresolved" name="" value="">
                                                                    <label for="autoresolved"><span>Auto Resolved</span></label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="checkbox-wrap single-check-val">
                                                                    <input type="checkbox" id="manual" name="" value="">
                                                                    <label for="manual"><span>Manual</span></label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="checkbox-wrap single-check-val">
                                                                    <input type="checkbox" id="resolved" name="" value="">
                                                                    <label for="resolved"><span>Resolved</span></label>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="checkbox-wrap single-check-val">
                                                                    <input type="checkbox" id="triaged" name="" value="">
                                                                    <label for="triaged"><span>Triaged</span></label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                
                                                    <ul class="freez-check-wrap">
                                                        <li>
                                                            <div class="checkbox-wrap">
                                                                <input type="checkbox" id="freezecolumn" name="" value="">
                                                                <label for="freezecolumn"><span>Freeze Column</span></label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </th>
                                            <th id="issuelabel">
                                                <span class="text">CI TYPE</span>
                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                            </th>
                                            <th id="valuepattern">
                                                <span class="text">OPERATION</span>
                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                            </th>
                                            <th id="source">
                                                <span class="text">REPLACE SIGNATURE</span>
                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                            </th>
                                            <th id="source">
                                                <span class="text">OU NAME</span>
                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                            </th>
                                            <th id="source">
                                                <span class="text">COMMENTS</span>
                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                            </th>
                                            <th class="no-sort"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox-wrap">
                                                    <input type="checkbox" id="ptd11" name="" value="">
                                                    <label for="ptd11"><span></span></label>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" value="(?<=on service)(\w+)" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="Service" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <select class="select-drop-value select-drop-value-1">
                                                    <option>Clean</option>
                                                    <option>Extract</option>
                                                </select>
                                                <a href="javascript:void(0)" class="edit-icon-drop">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="_" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0)" class="close-icon d-inline-block">
                                                    <img src="public/images/icon_blue-close.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox-wrap">
                                                    <input type="checkbox" id="ptd12" name="" value="">
                                                    <label for="ptd12"><span></span></label>
                                                </div>
                                            </td>
                                            <td><input type="text" value="(?<=on service)(\w+)" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a></td>
                                            <td>
                                                <input type="text" value="Service" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <select class="select-drop-value select-drop-value-1">
                                                    <option>Clean</option>
                                                    <option>Extract</option>
                                                </select>
                                                <a href="javascript:void(0)" class="edit-icon-drop">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="_" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" class="close-icon">
                                                    <img src="public/images/icon_blue-close.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox-wrap">
                                                    <input type="checkbox" id="ptd13" name="" value="">
                                                    <label for="ptd13"><span></span></label>
                                                </div>
                                            </td>
                                            <td><input type="text" value="(?<=on service)(\w+)" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a></td>
                                            <td>
                                                <input type="text" value="Service" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <select class="select-drop-value select-drop-value-1">
                                                    <option>Clean</option>
                                                    <option>Extract</option>
                                                </select>
                                                <a href="javascript:void(0)" class="edit-icon-drop">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="_" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="Service" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" class="close-icon">
                                                    <img src="public/images/icon_blue-close.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox-wrap">
                                                    <input type="checkbox" id="ptd14" name="" value="">
                                                    <label for="ptd14"><span></span></label>
                                                </div>
                                            </td>
                                            <td><input type="text" value="(?<=on service)(\w+)" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a></td>
                                            <td>
                                                <input type="text" value="Service" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <select class="select-drop-value select-drop-value-1">
                                                    <option>Clean</option>
                                                    <option>Extract</option>
                                                </select>
                                                <a href="javascript:void(0)" class="edit-icon-drop">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="_" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="Service" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" class="close-icon">
                                                    <img src="public/images/icon_blue-close.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox-wrap">
                                                    <input type="checkbox" id="ptd14" name="" value="">
                                                    <label for="ptd14"><span></span></label>
                                                </div>
                                            </td>
                                            <td><input type="text" value="(?<=on service)(\w+)" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a></td>
                                            <td>
                                                <input type="text" value="Service" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <select class="select-drop-value select-drop-value-1">
                                                    <option>Clean</option>
                                                    <option>Extract</option>
                                                </select>
                                                <a href="javascript:void(0)" class="edit-icon-drop">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="_" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" class="close-icon">
                                                    <img src="public/images/icon_blue-close.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox-wrap">
                                                    <input type="checkbox" id="ptd15" name="" value="">
                                                    <label for="ptd15"><span></span></label>
                                                </div>
                                            </td>
                                            <td><input type="text" value="(?<=on service)(\w+)" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a></td>
                                            <td>
                                                <input type="text" value="Service" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <select class="select-drop-value select-drop-value-1">
                                                    <option>Clean</option>
                                                    <option>Extract</option>
                                                </select>
                                                <a href="javascript:void(0)" class="edit-icon-drop">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="_" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <input type="text" value="" class="column-edit">
                                                <a href="javascript:void(0)" class="edit-icon">
                                                    <img src="public/images/icon_open-pencil.svg" alt="">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="javascript:void(0)" class="close-icon">
                                                    <img src="public/images/icon_blue-close.svg" alt="">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Incident table view -->
                        </div>
                        <!-- incident table view -->
                    </div>
                </div>
            </div>
            <!-- data table style end-->
        </div>
    </div>
    <!-- process flow end-->

    <div class="page-nav-steps">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-9">
                    <ul class="entities-steps">
                        <li>
                            <a href="extract-entities.html" class="steps-link activated">Start Analysis</a>
                            <span class="activated"></span>
                        </li>
                        <li>
                            <span class="before activated"></span>
                            <ul>
                                <li>
                                    <span class="before activated"></span>
                                    <a href="extract-issues.html" class="steps-link activated">Extract Issues</a>
                                    <span class="after activated"></span>
                                </li>
                                <li>
                                    <span class="before activated"></span>
                                    <a href="extract-cls.html" class="steps-link active">Extract CIs</a>
                                    <span class="after"></span>
                                </li>
                            </ul>
                            <span class="after activated"></span>
                        </li>
                        <li>
                            <span class="sec-before"></span>
                            <ul>
                                <li>
                                    <a href="issue-results.html" class="steps-link activated">Issue Results</a>
                                    <span class="sec-after"></span>
                                </li>
                                <li>
                                    <a href="cls-results.html" class="steps-link highlight">CI Results</a>
                                    <span class="sec-after"></span>
                                </li>
                            </ul>
                            <span class="sec-after"></span>
                        </li>
                        <li>
                            <span class="last-before"></span>
                            <a href="pre-finalization.html" class="steps-link disabled">Pre-Finalization</a>
                            <span class="last-after"></span>
                        </li>
                        <li class="final-nav">
                            <a href="extraction-failed.html" class="steps-link disabled">Finalized</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="btn-wrap d-flex justify-content-end">
                        <button class="btn btn-filled btn-extract-cls" data-toggle="modal" data-target="#entities-extract-issue-modal">Run</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal Extract Issue Option start -->
<div class="modal fade custom-modal-styling extract-issue-modal modal-width-482" id="extract-issue-options-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Extract CIs Options</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <p class="popup-info mb-4">You can proceed with your existing dictionary or define more patterns using any of the following options.</p>
            <div class="analysis-report">
                <h4 class="section-sub-title mb-2">Upload Dictionary</h4>
                <ul class="ul-data">
                    <li>
                        <p class="font-w-s mb-1 font-small">Upload a filled excel/csv file to populate the patterns table</p>
                    </li>
                </ul>
            </div>
            <div class="analysis-report mt-2">
                <h4 class="section-sub-title mb-2">Add New Pattern</h4>
                <ul class="ul-data">
                    <li>
                        <p class="font-w-s mb-2 font-small">Build pattern definitions one-by-one</p>
                    </li>
                </ul>
            </div>
            <div class="checkbox-wrap mt-3">
                <input type="checkbox" id="donotshowagain" name="" value="Don't show this again" checked>
                <label for="donotshowagain"><span>Don't show this again</span></label>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center border-0 mb-3">
            <button type="button" class="btn btn-filled" data-dismiss="modal">OK</button>
        </div>
  
      </div>
    </div>
  </div>
<!-- he Modal Extract Issue Option end -->

<!-- The Modal Extract issue start -->
<div class="modal fade custom-modal-styling entities-extract-issue-modal" id="entities-extract-issue-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
            <h3 class="section-title text-left mb-3">Extract Cls</h3>
           <div class="row align-items-center">
               <div class="col-sm-5">
                   <span class="label">Workitem ID:</span>
                   <span class="text">2021-04-08-86</span>
               </div>
               <div class="col-sm-5">
                <span class="label">Status:</span>
                <span class="text">In-Progress</span>
               </div>
               <div class="col-sm-2">
                <div class="toast eh-toast-wrap" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-body">
                        <div class="loader"></div>
                    </div>
                </div>
               </div>
           </div>
        </div>
  
      </div>
    </div>
</div>
<!-- he Modal Extract Issue end -->


<!-- The Modal Exit Confirmaton start -->
<div class="modal fade custom-modal-styling exit-confirmation-modal" id="exit-confirmation-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <h4 class="section-title text-center mb-3">Are you sure you want to exit ?</h4>
            <p class="popup-info mb-0 text-center">The current process will be terminated, however you can Save and resume from last completed stage</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center border-0">
            <button type="button" class="btn btn-filled" data-dismiss="modal">SAVE & EXIT</button>
            <button type="button" class="btn btn-border ml-3" data-dismiss="modal">DISCARD</button>
        </div>
  
      </div>
    </div>
</div>
<!-- he Modal Exit Confirmation end -->

<!-- Edit Policies Modal Start -->
<div class="modal fade custom-modal-styling edit-policies-modal modal-width-1033" id="edit-policies-modal">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Policy Parameters</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body p-0">
            <div class="tabs-container vertical-tabs-container d-flex">
                <ul class="nav nav-tabs col-sm-3 pt-4 pb-4 pr-0 border-0" id="edit-policies" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="issue-extraction-tab" data-toggle="tab" href="#issue-extraction" role="tab" aria-controls="issue-extraction"
                        aria-selected="true">Issue Extraction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cl-extraction-tab" data-toggle="tab" href="#cl-extraction" role="tab" aria-controls="cl-extraction"
                        aria-selected="false">CI Extraction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="keywords-discovery-tab" data-toggle="tab" href="#keywords-discovery" role="tab" aria-controls="keywords-discovery"
                        aria-selected="false">Keywords Discovery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sentence-similarity-tab" data-toggle="tab" href="#sentence-similarity" role="tab" aria-controls="sentence-similarity"
                        aria-selected="false">Sentence Similarity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nlp-classifier-tab" data-toggle="tab" href="#nlp-classifier" role="tab" aria-controls="nlp-classifier"
                        aria-selected="false">NLP Classifier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="density-based-clustering-tab" data-toggle="tab" href="#density-based-clustering" role="tab" aria-controls="density-based-clustering"
                        aria-selected="false">Density Based Clustering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="algorithm1-tab" data-toggle="tab" href="#algorithm1" role="tab" aria-controls="algorithm1"
                        aria-selected="false">Algorithm1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="algorithm2-tab" data-toggle="tab" href="#algorithm2" role="tab" aria-controls="algorithm2"
                        aria-selected="false">Algorithm1</a>
                    </li>
                </ul>
                <div class="tab-content col-sm-9 pr-3  border-left-1" id="edit-policiesTabContent">
                    <div class="tab-pane fade show active" id="issue-extraction" role="tabpanel" aria-labelledby="issue-extraction-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Issue Extraction</h3>
                            <div class="row align-items-center  mb-4 mt-4">
                                <div class="col-sm-6">
                                    <p class="font-base font-w-s">
                                        <span class="icons">
                                            <img src="public/images/Attributes.svg" alt="">
                                        </span>
                                        <span class="text pl-2">Attributes</span>
                                    </p>
                                </div>
                                <div class="col-sm-6 attributes-cond-btn d-none">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <a href="javascript:void(0)" class="reset-link mr-3 font-upper font-tine">Reset</a>
                                        <a href="javascript:void(0);" class="btn btn-filled font-upper">Save Changes</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Policy Name</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Policy_Variation_1</option>
                                            <option>Policy_Variation_2</option>
                                            <option>Policy_Variation_3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="algorithm-title  font-w-s mt-4  mb-4">
                                <h4 class="section-sub-title d-inline-block font-capital mb-0">Algorithm Pattern Extraction</h4>
                                <div class="d-inline-block position-relative info-tooltip-detail">
                                    <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                        <img src="public/images/icon-blue-info.svg" alt="">
                                    </a>
                                    <div class="tooltip-pop">
                                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Break Condition Threshild</label>
                                        <select class="form-control  select-drop-value">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Input Data Type</label>
                                        <select class="form-control  select-drop-value">
                                            <option>System</option>
                                            <option>System</option>
                                            <option>System</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Stemming Mode</label>
                                        <select class="form-control  select-drop-value">
                                            <option>None</option>
                                            <option>None</option>
                                            <option>None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Group Finding Mode</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Set</option>
                                            <option>Set</option>
                                            <option>Set</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label  class="label-control mb-0 font-small">Issue Column</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Description</option>
                                            <option>Description</option>
                                            <option>Description</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label  class="label-control mb-0 font-small">Top Keyword Select Factor
                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                </a>
                                                <div class="tooltip-pop">
                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                        </label>
                                        <select class="form-control  select-drop-value">
                                            <option>0.1</option>
                                            <option>0.1</option>
                                            <option>0.1</option>
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Group Similarity Thresold
                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                </a>
                                                <div class="tooltip-pop">
                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                        </label>

                                        <select class="form-control  select-drop-value">
                                            <option>0.75</option>
                                            <option>0.75</option>
                                            <option>0.75</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cl-extraction" role="tabpanel" aria-labelledby="cl-extraction-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">CI Extraction</h3>
                            <div class="row align-items-center  mb-4 mt-4">
                                <div class="col-sm-6">
                                    <p class="font-base font-w-s">
                                        <span class="icons">
                                            <img src="public/images/Attributes.svg" alt="">
                                        </span>
                                        <span class="text pl-2">Attributes</span>
                                    </p>
                                </div>
                                <div class="col-sm-6 attributes-cond-btn d-none">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <a href="javascript:void(0)" class="reset-link mr-3 font-upper font-tine">Reset</a>
                                        <a href="javascript:void(0);" class="btn btn-filled font-upper">Save Changes</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-wrap mb-4">
                                <div class="algorithm-title  font-w-s mt-4  mb-4">
                                    <h4 class="section-sub-title d-inline-block font-capital mb-0">Algorithm Pattern Extraction</h4>
                                    <div class="d-inline-block position-relative info-tooltip-detail">
                                        <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                            <img src="public/images/icon-blue-info.svg" alt="">
                                        </a>
                                        <div class="tooltip-pop">
                                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="form custom-select-width">
                                            <label class="label-control mb-0 font-small">Policy Name</label>
                                            <select class="form-control  select-drop-value">
                                                <option>Policy_Variation_2</option>
                                                <option>Policy_Variation_2</option>
                                                <option>Policy_Variation_3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="form custom-select-width">
                                            <label class="label-control mb-0 font-small">Policy Name</label>
                                            <select class="form-control  select-drop-value">
                                                <option>Policy_Variation_1</option>
                                                <option>Policy_Variation_2</option>
                                                <option>Policy_Variation_3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form">
                                            <label class="label-control mb-0 font-small">Mapped CI Column </label>
                                            <input type="text" class="form-control" value="" placeholder="System">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form">
                                            <label class="label-control mb-0 font-small d-block">CI Column
                                                <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                    <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                        <img src="public/images/icon-blue-info.svg" alt="">
                                                    </a>
                                                    <div class="tooltip-pop">
                                                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                    </div>
                                                </div>
                                            </label>
                                            <input type="text" class="form-control" value="" placeholder="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="keywords-discovery" role="tabpanel" aria-labelledby="keywords-discovery-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Keywords Discovery</h3>
                            <div class="algorithm-title  font-w-s mt-4  mb-4">
                                <h4 class="section-sub-title d-inline-block font-capital mb-0">Algorithm Pattern Extraction</h4>
                                <div class="d-inline-block position-relative info-tooltip-detail">
                                    <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                        <img src="public/images/icon-blue-info.svg" alt="">
                                    </a>
                                    <div class="tooltip-pop">
                                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Break Condition Threshild</label>
                                        <select class="form-control  select-drop-value">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Input Data Type</label>
                                        <select class="form-control  select-drop-value">
                                            <option>System</option>
                                            <option>System</option>
                                            <option>System</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Stemming Mode</label>
                                        <select class="form-control  select-drop-value">
                                            <option>None</option>
                                            <option>None</option>
                                            <option>None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Group Finding Mode</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Set</option>
                                            <option>Set</option>
                                            <option>Set</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label  class="label-control mb-0 font-small">Issue Column</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Description</option>
                                            <option>Description</option>
                                            <option>Description</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label  class="label-control mb-0 font-small">Top Keyword Select Factor
                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                </a>
                                                <div class="tooltip-pop">
                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                        </label>
                                        <select class="form-control  select-drop-value">
                                            <option>0.1</option>
                                            <option>0.1</option>
                                            <option>0.1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Group Similarity Thresold
                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                </a>
                                                <div class="tooltip-pop">
                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                        </label>
    
                                        <select class="form-control  select-drop-value">
                                            <option>0.75</option>
                                            <option>0.75</option>
                                            <option>0.75</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sentence-similarity" role="tabpanel" aria-labelledby="sentence-similarity-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Sentence Similarity</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nlp-classifier" role="tabpanel" aria-labelledby="nlp-classifier-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">NLP Classifier</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="density-based-clustering" role="tabpanel" aria-labelledby="density-based-clustering-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Density Based Clustering</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="algorithm1" role="tabpanel" aria-labelledby="algorithm1-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Algorithm 1</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="algorithm2" role="tabpanel" aria-labelledby="algorithm2-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Algorithm 2</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
      </div>
    </div>
  </div>
<!-- Edit Policies Modal End -->


{% endblock %}

