{% extends "base.html" %}
{% set explorePages = true %}
{% set postLoginUser = true %}

{% block content %}

<div class="workspace fixed-bottom-footer entities-pages">

    <!--page head  header start -->
    <div class="page-head-header container-fluid background-white">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h2 class="page-head">
                    <a href="javascript:void(0);" class="page-back-link">
                        <img src="public/images/icon-back-arrow.svg" alt="">
                    </a>
                    <span class="title px-2 d-inline-block">Finalized</span>
                    <div class="d-inline-block position-relative info-tooltip-detail">
                        <a href="javascript:void(0);" class="head-help-link d-inline-block">
                            <img src="public/images/icon-question-mark.svg" alt="">
                        </a>
                        <div class="tooltip-pop">
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </h2>
            </div>
            <div class="col-sm-6">
                <ul class="d-flex justify-content-end page-header-right">
                    <li>
                        <a href="extraction-history.html" class="exit-process-link font-w-s" data-toggle="modal" data-target="#exit-confirmation-modal">
                            <span class="text">Exit Process</span>
                            <span class="icon ml-2">
                                <img src="public/images/icon-exit.svg" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--page head header end -->

    <!-- process flow start-->
    <div class="fixed-bottom-footer">
        <div class="sec-space container-fluid mt-3">
            <div class="background-white  top-block-sec  pt-4 pb-3 px-4">
                <div class="row align-items-center  pb-4">
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <div class="img-wrap">
                                <img src="public/images/icon-alert-error-outline.svg" alt="">
                            </div>
                            <div class="infor-wrap ml-4">
                                <p class="mb-1"><span class="status font-large font-w-b font-black-1">Failed</span><span class="time-stamp font-large ml-3 font-black-1">12 min 30 sec</span></p>
                                <ul class="d-flex">
                                    <li>
                                        <span class="font-w-s">Workitem ID:</span>
                                        <span class="font-w-s">2021-04-08-86</span>
                                    </li>
                                    <li class="mx-4">
                                        <div class="date-wrap d-flex align-items-center">
                                            <img src="public/images/icon-action-date-range.svg" alt="">
                                            <span class="text ml-2">Apr 08 2021 09:36:34</span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="view-log-link font-small font-w-s font-blue-1">View Log</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-wrap d-flex justify-content-end">
                            <button class="btn btn-border">
                                <img src="public/images/icon-green-download.svg" alt="">
                                <span class="text ml-1 font-base font-capital font-w-s">Download Dictionary</span>
                            </button>
                            <button class="btn btn-border ml-3">
                                <img src="public/images/icon-green-download.svg" alt="">
                                <span class="text ml-1 font-base font-capital font-w-s">Download Extracted Issues & CIs</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="covered-event-wrap pt-3 pb-0" style="box-shadow: inset 0px 2px 1px rgb(0 0 0 / 5%);">
                    <ul class="covered-ul row ">
                        <li class="covered-item-wrap col-sm-4 pr-4">
                          <h4 class="section-sub-title mb-3">ADDED TO MAIN DICTIONARY</h4>
                          <div class="row">
                              <div class="col-6 pl-0">
                                    <ul class="pr-0">
                                        <li><span class="num font-w-b font-large">120</span></li>
                                        <li><span class="text font-13">New CI patterns added</span></li>
                                    </ul>
                              </div>
                              <div class="col-6">
                                    <ul class="pr-0">
                                        <li><span class="num font-w-b font-large">120</span></li>
                                        <li><span class="text font-13">New Issue patterns added</span></li>
                                    </ul>
                              </div>
                          </div>
                        </li>
                        <li class="covered-item-wrap col-sm-8 pl-5">
                            <h4 class="section-sub-title mb-3">ADDED TO BLUEPRINT</h4>
                            <div class="row">
                                <div class="col-6 pl-0">
                                    <div class="row">
                                        <div class="col-4">
                                            <ul class="pr-0">
                                                <li><span class="num font-w-b font-large">191/<small>200</small></span></li>
                                                <li><span class="text font-13">CI's added in blueprint</span></li>
                                            </ul>
                                        </div>
                                        <div class="col-8">
                                            <div class="covered-bg">
                                                <ul>
                                                    <li>
                                                        <span class="num font-w-b font-large">175</span>
                                                        <span class="text font-13 ml-2">Total CIs Mapped to OUs</span>
                                                    </li>
                                                    <li>
                                                        <span class="num font-w-b font-large">16</span>
                                                        <span class="text font-13 ml-2">Total CIs Unmapped</span>
                                                    </li>
                                                    <li>
                                                        <span class="num font-w-b font-large">9</span>
                                                        <span class="text font-13 ml-2">Failed</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <ul class="pr-0">
                                                <li><span class="num font-w-b font-large">200/<small>200</small></span></li>
                                                <li><span class="text font-13">Issues added in blueprint</span></li>
                                            </ul>
                                        </div>
                                        <div class="col-8">
                                            <div class="covered-bg">
                                                <ul>
                                                    <li>
                                                        <span class="num font-w-b font-large">180</span>
                                                        <span class="text font-13 ml-2">Total Modelled Issues</span>
                                                    </li>
                                                    <li>
                                                        <span class="num font-w-b font-large">20</span>
                                                        <span class="text font-13 ml-2">Total Unmodelled Issues</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </li>
                  </ul>
                </div>
            </div>
        </div>
    
        <div class="sec-space container-fluid ">
            <div class="background-white py-4 px-4">
                
                <div class="covered-event-wrap  pb-3">
                    <ul class="covered-ul row align-items-center">
                            <li class="work-item-wrap col-sm-6 pr-5">
                                <div class="row align-items-end">
                                    <div class="col-2 pr-0">
                                        <h4 class="section-title mb-3 font-black">Issues</h4>
                                        <div class="wrap">
                                            <span class="label font-w-b font-large font-black">10 K</span>
                                            <span class="val font-base font-black-1 ">Total Issues</span>
                                        </div>
                                    </div>
                                    <div class="col-5 pb-2">
                                        <ul class="progress-graph">
                                            <li style="width:80%;">
                                                <span class="label mb-1">15.5 K</span>
                                                <span class="bar" style="background: #5CB85C;"></span>
                                            </li>
                                            <li style="width:20%;">
                                            <span class="label text-right mb-1">20</span>
                                            <span class="bar" style="background: #FFCE3A;"></span>
                                        </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 pr-5">
                                        <ul class="legend-wrap row">
                                            <li class="col-sm-6">
                                                <span class="circle" style="background: #5CB85C;"></span>
                                                <span class="label">
                                                    <span class="num font-w-s font-base">95%</span><br>
                                                    <span class="text">Covered</span>
                                                </span>
                                            </li>
                                            <li class="col-sm-6 pl-0">
                                                <span class="circle" style="background: #FFCE3A;"></span>
                                                <span class="label">
                                                    <span class="num font-w-s font-base">5%</span><br>
                                                    <span class="text">Non-covered</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="work-item-wrap col-sm-6 pl-5">
                                <div class="row align-items-end">
                                    <div class="col-2 pr-0">
                                        <h4 class="section-title mb-3 font-black">CI's</h4>
                                        <div class="wrap">
                                            <span class="label font-w-b font-large font-black">10 K</span>
                                            <span class="val font-base font-black-1">Total CIs</span>
                                        </div>
                                    </div>
                                    <div class="col-5 pb-2">
                                        <ul class="progress-graph">
                                            <li style="width:80%;">
                                                <span class="label mb-1">15.5 K</span>
                                                <span class="bar" style="background: #5CB85C;"></span>
                                            </li>
                                            <li style="width:20%;">
                                            <span class="label text-right mb-1">20</span>
                                            <span class="bar" style="background: #FFCE3A;"></span>
                                        </li>
                                        </ul>
                                    </div>
                                    <div class="col-5 pr-5">
                                        <ul class="legend-wrap row">
                                            <li class="col-sm-6">
                                                <span class="circle" style="background: #5CB85C;"></span>
                                                <span class="label">
                                                    <span class="num font-w-s font-base">95%</span><br>
                                                    <span class="text">Covered</span>
                                                </span>
                                            </li>
                                            <li class="col-sm-6 pl-0">
                                                <span class="circle" style="background: #FFCE3A;"></span>
                                                <span class="label">
                                                    <span class="num font-w-s font-base">5%</span><br>
                                                    <span class="text">Non-covered</span>
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                    </ul>
                </div>
                <div class="border-top py-3 mt-0 mb-0">
                    <div class="toggle-wrapper switch switch-horizontal">
                        <input id="radio-a" type="radio" name="first-switch1" checked="checked"/>
                        <label for="radio-a">Unique Count</label>
                        <input id="radio-b" type="radio" name="first-switch1"/>
                        <label for="radio-b">Total Count</label><span class="toggle-outside"><span class="toggle-inside"></span></span>
                    </div>
                </div>
                <div class="covered-event-wrap pt-3" style="box-shadow: inset 0px 2px 1px rgb(0 0 0 / 5%);">
                    <ul class="covered-ul row align-items-center">
                        <li class="covered-item-wrap col-sm-6 pr-5">
                            <h4 class="section-sub-title mb-3">Covered Issues</h4>
                            <div class="row">
                                <div class="col-3 pl-0">
                                    <ul class="pr-0">
                                        <li><span class="num font-w-b font-large">50</span></li>
                                        <li><span class="text font-13">Unique Issues</span></li>
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <div class="covered-bg">
                                        <ul>
                                            <li>
                                                <span class="num font-w-b font-large">40</span>
                                                <span class="text font-13 ml-2">Modelled Issues</span>
                                            </li>
                                            <li>
                                                <span class="num font-w-b font-large">10</span>
                                                <span class="text font-13 ml-2">Unmodelled Issues</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-5"></div>
                            </div>
                        </li>
                        <li class="covered-item-wrap col-sm-6 pl-5">
                            <h4 class="section-sub-title mb-3">Covered CI's</h4>
                            <div class="row">
                                <div class="col-2 pl-0">
                                    <ul class="pr-0">
                                        <li><span class="num font-w-b font-large">40</span></li>
                                        <li><span class="text font-13">Unique CIs</span></li>
                                    </ul>
                                </div>
                                <div class="col-5">
                                    <div class="covered-bg">
                                        <ul>
                                            <li>
                                                <span class="num font-w-b font-large">30</span>
                                                <span class="text font-13 ml-2">Mapped to OUs</span>
                                            </li>
                                            <li>
                                                <span class="num font-w-b font-large">10</span>
                                                <span class="text font-13 ml-2">Unmapped to OUs</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="covered-bg">
                                        <ul>
                                            <li>
                                                <span class="num font-w-b font-large">35</span>
                                                <span class="text font-13 ml-2">With CI Types</span>
                                            </li>
                                            <li>
                                                <span class="num font-w-b font-large">5</span>
                                                <span class="text font-13 ml-2">Without CI Type</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="sec-space container-fluid">
            <div class="background-white  ">
                <div class="row">
                    <div class="col-sm-8 pr-0">
                        <div class="datatable-wrapper patterns-define-table section-radius">
                            <div class="row custom-row-margin">
                                <div class="col-sm-12 custom-col-padding">
                                
                                    <div class="accordion-wrapper p-3 background-white">
                                        <!-- Incident table view -->
                                        <!-- <div class="card"> -->
                                            <div class="d-flex justify-content-between align-items-center border-0 p-0 pb-2" >
                                                <div class="section-top-head d-flex align-items-baseline">
                                                    <img src="" alt="">
                                                    <h2><span class="label">Finalized Results</span><span class="num"> ( 148 )</span></h2>
                                                </div>
                                            </div>
                                            <div class="pt-3">
                                                <!-- Incident table view -->
                                                <div class="incident-table-wrapper common-table-wrapper">
                                                    <table id="table_id" class="display" data-page-length="10">
                                                        <thead>
                                                            <tr>
                                                                <th id="ci">
                                                                    <span class="text">CI</span>
                                                                    <a class="hamburger"  onclick="table_filter(this)">
                                                                        <img src="public/images/icon-kebab-menu.svg" alt="">
                                                                    </a>
                                                                    <div class="column-filter common-popup">
                                                                        <div class="search-wrap">
                                                                            <input type="search" class="form-control" placeholder="Search">
                                                                        </div>
                                                                        <div class="checkbox-data" data-simplebar="">
                                                                            <ul class="select-check-wrap check-main-wrap">
                                                                                <li>
                                                                                    <div class="checkbox-wrap all-check">
                                                                                        <input type="checkbox" id="select" name="" value="">
                                                                                        <label for="select"><span>Select</span></label>
                                                                                    </div>
                                                                                    <a href="javascript:void(0)" class="clear-check-evt">Clear All</a>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="checkbox-wrap single-check-val">
                                                                                        <input type="checkbox" id="autoresolved" name="" value="">
                                                                                        <label for="autoresolved"><span>Auto Resolved</span></label>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="checkbox-wrap single-check-val">
                                                                                        <input type="checkbox" id="manual" name="" value="">
                                                                                        <label for="manual"><span>Manual</span></label>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="checkbox-wrap single-check-val">
                                                                                        <input type="checkbox" id="resolved" name="" value="">
                                                                                        <label for="resolved"><span>Resolved</span></label>
                                                                                    </div>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="checkbox-wrap single-check-val">
                                                                                        <input type="checkbox" id="triaged" name="" value="">
                                                                                        <label for="triaged"><span>Triaged</span></label>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    
                                                                        <ul class="freez-check-wrap">
                                                                            <li>
                                                                                <div class="checkbox-wrap">
                                                                                    <input type="checkbox" id="freezecolumn" name="" value="">
                                                                                    <label for="freezecolumn"><span>Freeze Column</span></label>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </th>
                                                                <th id="citype">
                                                                    <span class="text">CI TYPE</span>
                                                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                                                </th>
                                                                <th id="ouname">
                                                                    <span class="text">OU NAME</span>
                                                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                                                </th>
                                                                <th id="source">
                                                                    <span class="text">COUNT</span>
                                                                    <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="selected">
                                                                <td>ABC_arvali_wdm1</td>
                                                                <td>Value</td>
                                                                <td>__</td>
                                                                <td>100</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ABC_arvali_wdm1</td>
                                                                <td>Value</td>
                                                                <td>__</td>
                                                                <td>100</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ABC_arvali_wdm1</td>
                                                                <td>Value</td>
                                                                <td>__</td>
                                                                <td>80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ABC_arvali_wdm4</td>
                                                                <td>Unavailable</td>
                                                                <td>__</td>
                                                                <td>80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ABC_arvali_wdm1</td>
                                                                <td>Value</td>
                                                                <td>__</td>
                                                                <td>80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ABC_arvali_wdm1</td>
                                                                <td>Value</td>
                                                                <td>__</td>
                                                                <td>80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>CI not available</td>
                                                                <td>Value</td>
                                                                <td>__</td>
                                                                <td>70</td>
                                                            </tr>
                                                            <tr>
                                                                <td>CI not available</td>
                                                                <td>Value</td>
                                                                <td>__</td>
                                                                <td>80</td>
                                                            </tr>
                                                            <tr>
                                                                <td>CI not available</td>
                                                                <td>Value</td>
                                                                <td>__</td>
                                                                <td>80</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- Incident table view -->
                                            </div>
                                        <!-- </div> -->
                                        <!-- incident table view -->
                                    </div>
                                
        
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pl-0">
                        <div class="datatable-wrapper patterns-define-table section-radius">
                            <div class="row custom-row-margin">
                                <div class="col-sm-12 custom-col-padding">
                                    <div class="accordion-wrapper p-3 background-white">
                                        <!-- Incident table view -->
                                        <div class=" d-flex justify-content-end align-items-center border-0 p-0 " >
                                            <div class="right-sec table-head-right-sec justify-content-end align-items-center">
                                                <ul class="incident-table-event-wrap justify-content-end align-items-center">
                                                    <li class="td-search">
                                                        <div class="search-wrap">
                                                            <input type="search" id="search-inp" class="form-control" placeholder="Search.."/>
                                                        </div>
                                                    </li>
                                                    <li class="table-view-list td-download"><img src="public/images/icon-download.svg" alt=""></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pt-3">
                                            <!-- Incident table view -->
                                            <div class="incident-table-wrapper  common-table-wrapper Description-table-wrap ">
                                                <table id="table_id1" class="display table_id1 Description-table with-normal-pad" data-page-length="10">
                                                    <thead>
                                                        <tr>
                                                            <th id="issuepattern">
                                                                <span class="text">ISSUE LABEL</span>
                                                                <a class="hamburger"  onclick="table_filter(this)">
                                                                    <img src="public/images/icon-kebab-menu.svg" alt="">
                                                                </a>
                                                                <div class="column-filter common-popup">
                                                                    <div class="search-wrap">
                                                                        <input type="search" class="form-control" placeholder="Search">
                                                                    </div>
                                                                    <div class="checkbox-data" data-simplebar="">
                                                                        <ul class="select-check-wrap check-main-wrap">
                                                                            <li>
                                                                                <div class="checkbox-wrap all-check">
                                                                                    <input type="checkbox" id="select" name="" value="">
                                                                                    <label for="select"><span>Select</span></label>
                                                                                </div>
                                                                                <a href="javascript:void(0)" class="clear-check-evt">Clear All</a>
                                                                            </li>
                                                                            <li>
                                                                                <div class="checkbox-wrap single-check-val">
                                                                                    <input type="checkbox" id="autoresolved" name="" value="">
                                                                                    <label for="autoresolved"><span>Auto Resolved</span></label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="checkbox-wrap single-check-val">
                                                                                    <input type="checkbox" id="manual" name="" value="">
                                                                                    <label for="manual"><span>Manual</span></label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="checkbox-wrap single-check-val">
                                                                                    <input type="checkbox" id="resolved" name="" value="">
                                                                                    <label for="resolved"><span>Resolved</span></label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="checkbox-wrap single-check-val">
                                                                                    <input type="checkbox" id="triaged" name="" value="">
                                                                                    <label for="triaged"><span>Triaged</span></label>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                
                                                                    <ul class="freez-check-wrap">
                                                                        <li>
                                                                            <div class="checkbox-wrap">
                                                                                <input type="checkbox" id="freezecolumn" name="" value="">
                                                                                <label for="freezecolumn"><span>Freeze Column</span></label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr >
                                                            <td>Alarm Generated</tr>
                                                        <tr>
                                                            <td>Network Outage</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Oracle Status Down</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Parameter Status Change</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Peer Newly Discovered</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Peer Newly Discovered</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Peer Newly Discovered</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Peer Newly Discovered</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Peer Newly Discovered</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Incident table view -->
                                        </div>
                                        <!-- incident table view -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- process flow end-->

    <div class="page-nav-steps">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-9">
                    <ul class="entities-steps">
                        <li>
                            <a href="extract-entities.html" class="steps-link activated">Start Analysis</a>
                            <span class="activated"></span>
                        </li>
                        <li>
                            <span class="before activated"></span>
                            <ul>
                                <li>
                                    <span class="before activated"></span>
                                    <a href="extract-issues.html" class="steps-link activated">Extract Issues</a>
                                    <span class="after activated"></span>
                                </li>
                                <li>
                                    <span class="before activated"></span>
                                    <a href="extract-cls.html" class="steps-link activated">Extract CIs</a>
                                    <span class="after activated"></span>
                                </li>
                            </ul>
                            <span class="after activated"></span>
                        </li>
                        <li>
                            <span class="sec-before activated"></span>
                            <ul>
                                <li>
                                    <a href="issue-results.html" class="steps-link activated">Issue Results</a>
                                    <span class="sec-after activated"></span>
                                </li>
                                <li>
                                    <a href="cls-results.html" class="steps-link activated">CI Results</a>
                                    <span class="sec-after activated"></span>
                                </li>
                            </ul>
                            <span class="sec-after activated"></span>
                        </li>
                        <li>
                            <span class="last-before activated"></span>
                            <a href="pre-finalization.html" class="steps-link activated">Pre-Finalization</a>
                            <span class="last-after activated"></span>
                        </li>
                        <li class="final-nav">
                            <a href="finalized-failed.html" class="steps-link highlight" style="background:#FD7575; color:white">Failed</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="btn-wrap d-flex justify-content-end">
                        <button class="btn btn-border ml-3">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal Exit Confirmaton start -->
<div class="modal fade custom-modal-styling exit-confirmation-modal" id="exit-confirmation-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <h4 class="section-title text-center mb-3">Are you sure you want to exit ?</h4>
            <p class="popup-info mb-0 text-center">The current process will be terminated, however you can Save and resume from last completed stage</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center border-0">
            <button type="button" class="btn btn-filled" data-dismiss="modal">SAVE & EXIT</button>
            <button type="button" class="btn btn-border ml-3" data-dismiss="modal">DISCARD</button>
        </div>
  
      </div>
    </div>
</div>
<!-- he Modal Exit Confirmation end -->


{% endblock %}

