{% extends "base.html" %}
{% set explorePages = true %}
{% set postLoginUser = true %}

{% block content %}

<div class="workspace fixed-bottom-footer entities-pages">

    <!--page head  header start -->
    <div class="page-head-header container-fluid background-white">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h2 class="page-head">
                    <a href="javascript:void(0);" class="page-back-link">
                        <img src="public/images/icon-back-arrow.svg" alt="">
                    </a>
                    <span class="title px-2 d-inline-block">Pre-Finalization</span>
                    <div class="d-inline-block position-relative info-tooltip-detail">
                        <a href="javascript:void(0);" class="head-help-link d-inline-block">
                            <img src="public/images/icon-question-mark.svg" alt="">
                        </a>
                        <div class="tooltip-pop">
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </h2>
            </div>
            <div class="col-sm-6">
                <ul class="d-flex justify-content-end page-header-right">
                    <li class="border-right">
                        <a href="javascript:void(0)" class="edit-policies-link font-w-s" data-toggle="modal" data-target="#edit-policies-modal">
                            <span class="text">Edit Policies</span>
                        </a>
                    </li>
                    <li>
                        <a href="extraction-history.html" class="exit-process-link font-w-s" data-toggle="modal" data-target="#exit-confirmation-modal">
                            <span class="text">Exit Process</span>
                            <span class="icon ml-2">
                                <img src="public/images/icon-exit.svg" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--page head header end -->

    <!-- process flow start-->
    <div class="sec-space container-fluid fixed-bottom-footer mt-3">
        <div class="background-white top-block-sec pb-0 px-4">
            <div class="covered-event-wrap">
              <ul class="covered-ul row align-items-center">
                    <li class="work-item-wrap col-sm-6">
                        <div class="row align-items-end">
                            <div class="col-2 pr-0">
                                <h4 class="section-title mb-3 font-black">Issues</h4>
                                <div class="wrap">
                                    <span class="label font-w-b font-large font-black">10 K</span>
                                    <span class="val font-normal font-black-1">Total Issues</span>
                                </div>
                            </div>
                            <div class="col-5 pb-2">
                                <ul class="progress-graph">
                                    <li style="width:75%;">
                                        <span class="label mb-1">15.5 K</span>
                                        <span class="bar" style="background: #5CB85C;"></span>
                                    </li>
                                    <li style="width:25%;">
                                      <span class="label text-right mb-1">20</span>
                                      <span class="bar" style="background: #FFCE3A;"></span>
                                  </li>
                                </ul>
                            </div>
                            <div class="col-5 pr-5">
                                <ul class="legend-wrap row">
                                      <li class="col-sm-6">
                                          <span class="circle" style="background: #5CB85C;"></span>
                                          <span class="label">
                                              <span class="num font-base font-w-s">95%</span><br>
                                              <span class="text">Covered</span>
                                          </span>
                                      </li>
                                      <li class="col-sm-6 pl-0">
                                          <span class="circle" style="background: #FFCE3A;"></span>
                                          <span class="label">
                                              <span class="num font-base font-w-s">5%</span><br>
                                              <span class="text">Non-covered</span>
                                          </span>
                                      </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="work-item-wrap col-sm-6 pl-5">
                        <div class="row align-items-end">
                            <div class="col-2 pr-0">
                                <h4 class="section-title mb-3 font-black">CI's</h4>
                                  <div class="wrap">
                                      <span class="label font-w-b font-large font-black">10 K</span>
                                      <span class="val font-normal font-black-1">Total CIs</span>
                                  </div>
                            </div>
                            <div class="col-5 pb-2">
                                <ul class="progress-graph">
                                    <li style="width:80%;">
                                        <span class="label mb-1">15.5 K</span>
                                        <span class="bar" style="background: #5CB85C;"></span>
                                    </li>
                                    <li style="width:20%;">
                                      <span class="label text-right mb-1">20</span>
                                      <span class="bar" style="background: #FFCE3A;"></span>
                                  </li>
                                </ul>
                            </div>
                            <div class="col-5 pr-5">
                                <ul class="legend-wrap row">
                                      <li class="col-sm-6">
                                          <span class="circle" style="background: #5CB85C;"></span>
                                          <span class="label">
                                              <span class="num font-base font-w-s">95%</span><br>
                                              <span class="text">Covered</span>
                                          </span>
                                      </li>
                                      <li class="col-sm-6 pl-0">
                                          <span class="circle" style="background: #FFCE3A;"></span>
                                          <span class="label">
                                              <span class="num font-base font-w-s">5%</span><br>
                                              <span class="text">Non-covered</span>
                                          </span>
                                      </li>
                                </ul>
                            </div>
                        </div>
                    </li>
              </ul>
            </div>
            <div class="border-top  py-3 mt-3 mb-0">
                <div class="toggle-wrapper switch switch-horizontal">
                    <input id="radio-a" type="radio" name="first-switch1" checked="checked"/>
                    <label for="radio-a">Unique Count</label>
                    <input id="radio-b" type="radio" name="first-switch1"/>
                    <label for="radio-b">Total Count</label><span class="toggle-outside"><span class="toggle-inside"></span></span>
                </div>
            </div>
        </div>
        <div class="background-white top-block-sec  px-4" style="box-shadow: inset 0px 2px 1px rgb(0 0 0 / 5%);">
            <div class="covered-event-wrap">
                <ul class="covered-ul row align-items-end">
                      <li class="covered-item-wrap col-sm-6">
                        <h4 class="section-sub-title mb-3">Covered Issues</h4>
                        <div class="row">
                            <div class="col-3 pl-0">
                                <ul class="pr-0">
                                    <li><span class="num font-w-b font-large">50</span></li>
                                    <li><span class="text font-13">Unique Issues</span></li>
                                </ul>
                            </div>
                            <div class="col-5">
                                <div class="covered-bg">
                                    <ul>
                                        <li>
                                            <span class="num font-w-b font-large">40</span>
                                            <span class="text font-13 ml-2">Modelled Issues</span>
                                        </li>
                                        <li>
                                            <span class="num font-w-b font-large">10</span>
                                            <span class="text font-13 ml-2">Unmodelled Issues</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-5"></div>
                        </div>
                      </li>
                      <li class="covered-item-wrap col-sm-6 pl-5">
                        <h4 class="section-sub-title mb-3">Covered CI's</h4>
                        <div class="row">
                            <div class="col-2 pl-0">
                                <ul class="pr-0">
                                    <li><span class="num font-w-b font-large">40</span></li>
                                    <li><span class="text font-13">Unique CIs</span></li>
                                </ul>
                            </div>
                            <div class="col-5">
                                <div class="covered-bg">
                                    <ul>
                                        <li>
                                            <span class="num font-w-b font-large">30</span>
                                            <span class="text font-13 ml-2">Mapped to OUs</span>
                                        </li>
                                        <li>
                                            <span class="num font-w-b font-large">10</span>
                                            <span class="text font-13 ml-2">Unmapped to OUs</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="covered-bg">
                                    <ul>
                                        <li>
                                            <span class="num font-w-b font-large">35</span>
                                            <span class="text font-13 ml-2">With CI Types</span>
                                        </li>
                                        <li>
                                            <span class="num font-w-b font-large">5</span>
                                            <span class="text font-13 ml-2">Without CI Type</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </li>
                </ul>
            </div>
        </div>

         
        <div class="background-white p-4 mt-2 fixed-bottom-footer">
            <div class="row">
                <div class="col-sm-8 ">
                    <div class="datatable-wrapper patterns-define-table section-radius">
                        <div class="row custom-row-margin">
                            <div class="col-sm-12 custom-col-padding">
                            
                                <div class="accordion-wrapper  background-white">
                                    <!-- Incident table view -->
                                    <!-- <div class="card"> -->
                                        <div class="d-flex justify-content-between align-items-center border-0 p-0 pb-2" >
                                            <div class="section-top-head d-flex align-items-baseline">
                                                <img src="" alt="">
                                                <h2><span class="label">Extracted CIs </span><span class="num">(31)</span></h2>
                                            </div>
                                            <div class="right-sec d-flex  align-items-center">
                                                <ul class="incident-table-event-wrap d-flex align-items-center">
                                                    <li>
                                                        <span class="circle" style="background:#5CB85C"></span>
                                                        <span class="num">20</span>
                                                        <span class="text">Accepted</span>
                                                    </li>
                                                    <li class="table-view-list">
                                                        <span class="circle" style="background:#FD7575"></span>
                                                        <span class="num">11</span>
                                                        <span class="text">Rejected</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pt-3">
                                            <!-- Incident table view -->
                                            <div class="incident-table-wrapper common-table-wrapper">
                                                <table id="table_id" class="display" data-page-length="10">
                                                    <thead>
                                                        <tr>
                                                            <th id="check" class="no-sort">
                                                                <div class="checkbox-wrap all-check all-checked">
                                                                    <input type="checkbox" id="td1" name="" value="">
                                                                    <label for="td1"><span></span></label>
                                                                </div>
                                                            </th>
                                                            <th id="issuepattern">
                                                                <span class="text">CI</span>
                                                                <a class="hamburger"  onclick="table_filter(this)">
                                                                    <img src="public/images/icon-kebab-menu.svg" alt="">
                                                                </a>
                                                                <div class="column-filter common-popup">
                                                                    <div class="search-wrap">
                                                                        <input type="search" class="form-control" placeholder="Search">
                                                                    </div>
                                                                    <div class="checkbox-data" data-simplebar="">
                                                                        <ul class="select-check-wrap check-main-wrap">
                                                                            <li>
                                                                                <div class="checkbox-wrap all-check">
                                                                                    <input type="checkbox" id="select" name="" value="">
                                                                                    <label for="select"><span>Select</span></label>
                                                                                </div>
                                                                                <a href="javascript:void(0)" class="clear-check-evt">Clear All</a>
                                                                            </li>
                                                                            <li>
                                                                                <div class="checkbox-wrap single-check-val">
                                                                                    <input type="checkbox" id="autoresolved" name="" value="">
                                                                                    <label for="autoresolved"><span>Auto Resolved</span></label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="checkbox-wrap single-check-val">
                                                                                    <input type="checkbox" id="manual" name="" value="">
                                                                                    <label for="manual"><span>Manual</span></label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="checkbox-wrap single-check-val">
                                                                                    <input type="checkbox" id="resolved" name="" value="">
                                                                                    <label for="resolved"><span>Resolved</span></label>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="checkbox-wrap single-check-val">
                                                                                    <input type="checkbox" id="triaged" name="" value="">
                                                                                    <label for="triaged"><span>Triaged</span></label>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                
                                                                    <ul class="freez-check-wrap">
                                                                        <li>
                                                                            <div class="checkbox-wrap">
                                                                                <input type="checkbox" id="freezecolumn" name="" value="">
                                                                                <label for="freezecolumn"><span>Freeze Column</span></label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </th>
                                                            <th id="issuelabel">
                                                                <span class="text">CI TYPE</span>
                                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                                            </th>
                                                            <th id="valuepattern">
                                                                <span class="text">OU NAME</span>
                                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                                            </th>
                                                            <th id="source">
                                                                <span class="text">COUNT</span>
                                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                                            </th>
                                                            <th id="source">
                                                                <span class="text">ACTION</span>
                                                                <a class="hamburger"><img src="public/images/icon-kebab-menu.svg" alt=""></a>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="selected">
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td11" name="" value="">
                                                                    <label for="td11"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>ABC_arvali_wdm1</td>
                                                            <td>Value</td>
                                                            <td>__</td>
                                                            <td>100</td>
                                                            <td>
                                                                <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td2" name="" value="">
                                                                    <label for="td2"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>ABC_arvali_wdm2</td>
                                                            <td>Value</td>
                                                            <td>__</td>
                                                            <td>100</td>
                                                            <td>
                                                                <button class="btn btn-reject" onclick="droptoggle(event)"><span class="lbl">Reject</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td3" name="" value="">
                                                                    <label for="td3"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>ABC_arvali_wdm3</td>
                                                            <td>Value</td>
                                                            <td>_</td>
                                                            <td>80</td>
                                                            <td>
                                                                <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>                                                            
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td4" name="" value="">
                                                                    <label for="td4"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>ABC_arvali_wdm4</td>
                                                            <td>Value</td>
                                                            <td>_</td>
                                                            <td>80</td>
                                                            <td>
                                                                <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td5" name="" value="">
                                                                    <label for="td5"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>ABC_arvali_wdm5</td>
                                                            <td>Unavailable</td>
                                                            <td>_</td>
                                                            <td>80</td>
                                                            <td>
                                                                <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>                                                            
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td2" name="" value="">
                                                                    <label for="td2"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>ABC_arvali_wdm6</td>
                                                            <td>Unavailable</td>
                                                            <td>_</td>
                                                            <td>80</td>
                                                            <td>
                                                                <button class="btn btn-reject" onclick="droptoggle(event)"><span class="lbl">Reject</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td3" name="" value="">
                                                                    <label for="td3"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>ABC_arvali_wdm7</td>
                                                            <td>Value</td>
                                                            <td>_</td>
                                                            <td>70</td>
                                                            <td>
                                                                <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td4" name="" value="">
                                                                    <label for="td4"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>CI not available</td>
                                                            <td>Value</td>
                                                            <td>_</td>
                                                            <td>70</td>
                                                            <td>
                                                                <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td4" name="" value="">
                                                                    <label for="td4"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>CI not available</td>
                                                            <td>Value</td>
                                                            <td>_</td>
                                                            <td>70</td>
                                                            <td>
                                                                <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="checkbox-wrap">
                                                                    <input type="checkbox" id="td4" name="" value="">
                                                                    <label for="td4"><span></span></label>
                                                                </div>
                                                            </td>
                                                            <td>CI not available</td>
                                                            <td>Value</td>
                                                            <td>_</td>
                                                            <td>70</td>
                                                            <td>
                                                                <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                                <ul class="action-dropdown">
                                                                    <li>Accept</li>
                                                                    <li>Reject</li>
                                                                </ul>                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Incident table view -->
                                        </div>
                                    <!-- </div> -->
                                    <!-- incident table view -->
                                </div>
                    
                    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="datatable-wrapper patterns-define-table section-radius">
                        <div class="row custom-row-margin">
                            <div class="col-sm-12 custom-col-padding">
                                <div class="accordion-wrapper  background-white">
                                    <!-- Incident table view -->
                                    <div class="right-sec table-head-right-sec justify-content-end align-items-center">
                                        <ul class="incident-table-event-wrap justify-content-end align-items-center">
                                            <li class="td-search">
                                                <div class="search-wrap">
                                                    <input type="search" id="search-inp" class="form-control" placeholder="Search.."/>
                                                </div>
                                            </li>
                                            <li class="table-view-list table-action-modal td-action">
                                                <div class="dropdown select-wrapper">
                                                    <select name="options" id="" class="form-control select-drop-value">
                                                        <option value="action" class="action" data-val="labled-option">Action</option>
                                                        <option value="acceptselected" class="accept">Accept Selected</option>
                                                        <option value="rejectselected" class="reject">Reject Selected</option>
                                                        <option value="acceptall" class="acceptall">Accept All</option>
                                                        <option value="rejectall" class="rejectall">Reject All</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li class="table-view-list td-download"><img src="public/images/icon-download.svg" alt=""></li>
                                        </ul>
                                    </div>
                                    <div class="pt-3">
                                        <!-- Incident table view -->
                                        <div class="incident-table-wrapper  common-table-wrapper Description-table-wrap right-table-width-btn" style="padding-top:2px">
                                            <table id="table_id1" class="display table_id1 Description-table" data-page-length="10">
                                                <thead>
                                                    <tr>
                                                        <th id="issuepattern">
                                                            <span class="text">ISSUE LABEL</span>
                                                            <a class="hamburger"  onclick="table_filter(this)">
                                                                <img src="public/images/icon-kebab-menu.svg" alt="">
                                                            </a>
                                                            <div class="column-filter common-popup">
                                                                <div class="search-wrap">
                                                                    <input type="search" class="form-control" placeholder="Search">
                                                                </div>
                                                                <div class="checkbox-data" data-simplebar="">
                                                                    <ul class="select-check-wrap check-main-wrap">
                                                                        <li>
                                                                            <div class="checkbox-wrap all-check">
                                                                                <input type="checkbox" id="select" name="" value="">
                                                                                <label for="select"><span>Select</span></label>
                                                                            </div>
                                                                            <a href="javascript:void(0)" class="clear-check-evt">Clear All</a>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-wrap single-check-val">
                                                                                <input type="checkbox" id="autoresolved" name="" value="">
                                                                                <label for="autoresolved"><span>Auto Resolved</span></label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-wrap single-check-val">
                                                                                <input type="checkbox" id="manual" name="" value="">
                                                                                <label for="manual"><span>Manual</span></label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-wrap single-check-val">
                                                                                <input type="checkbox" id="resolved" name="" value="">
                                                                                <label for="resolved"><span>Resolved</span></label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="checkbox-wrap single-check-val">
                                                                                <input type="checkbox" id="triaged" name="" value="">
                                                                                <label for="triaged"><span>Triaged</span></label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            
                                                                <ul class="freez-check-wrap">
                                                                    <li>
                                                                        <div class="checkbox-wrap">
                                                                            <input type="checkbox" id="freezecolumn" name="" value="">
                                                                            <label for="freezecolumn"><span>Freeze Column</span></label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Alarm Generated</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Network Outage</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Oracle Status Down</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parameter Status Change</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Peer Newly Discovered</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Alarm Generated</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Network Outage</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Oracle Status Down</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Parameter Status Change</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Peer Newly Discovered</td>
                                                        <td>
                                                            <button class="btn btn-accept" onclick="droptoggle(event)"><span class="lbl">Accept</span> <span class="arrow"><img src="public/images/icon-filled-arrow.svg" alt=""></span></button>
                                                            <ul class="action-dropdown">
                                                                <li>Accept</li>
                                                                <li>Reject</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Incident table view -->
                                    </div>
                                    <!-- incident table view -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- process flow end-->

    <div class="page-nav-steps">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-9">
                    <ul class="entities-steps">
                        <li>
                            <a href="extract-entities.html" class="steps-link activated">Start Analysis</a>
                            <span class="activated"></span>
                        </li>
                        <li>
                            <span class="before activated"></span>
                            <ul>
                                <li>
                                    <span class="before activated"></span>
                                    <a href="extract-issues.html" class="steps-link activated">Extract Issues</a>
                                    <span class="after activated"></span>
                                </li>
                                <li>
                                    <span class="before activated"></span>
                                    <a href="extract-cls.html" class="steps-link activated">Extract CIs</a>
                                    <span class="after activated"></span>
                                </li>
                            </ul>
                            <span class="after activated"></span>
                        </li>
                        <li>
                            <span class="sec-before activated"></span>
                            <ul>
                                <li>
                                    <a href="issue-results.html" class="steps-link activated">Issue Results</a>
                                    <span class="sec-after activated"></span>
                                </li>
                                <li>
                                    <a href="cls-results.html" class="steps-link activated">CI Results</a>
                                    <span class="sec-after activated"></span>
                                </li>
                            </ul>
                            <span class="sec-after activated"></span>
                        </li>
                        <li>
                            <span class="last-before activated"></span>
                            <a href="pre-finalization.html" class="steps-link active">Pre-Finalization</a>
                            <span class="last-after"></span>
                        </li>
                        <li class="final-nav">
                            <a href="extraction-successfull.html" class="steps-link highlight">Finalized</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="btn-wrap d-flex justify-content-end">
                        <button class="btn btn-filled ml-3"  onclick="document.location.href='extraction-successfull.html';">FINALIZE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Modal Exit Confirmaton start -->
<div class="modal fade custom-modal-styling exit-confirmation-modal" id="exit-confirmation-modal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <h4 class="section-title text-center mb-3">Are you sure you want to exit ?</h4>
            <p class="popup-info mb-0 text-center">The current process will be terminated, however you can Save and resume from last completed stage</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer justify-content-center border-0">
            <button type="button" class="btn btn-filled" data-dismiss="modal">SAVE & EXIT</button>
            <button type="button" class="btn btn-border ml-3" data-dismiss="modal">DISCARD</button>
        </div>
  
      </div>
    </div>
</div>
<!-- he Modal Exit Confirmation end -->

<!-- Edit Policies Modal Start -->
<div class="modal fade custom-modal-styling edit-policies-modal modal-width-1033" id="edit-policies-modal">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Policy Parameters</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body p-0">
            <div class="tabs-container vertical-tabs-container d-flex">
                <ul class="nav nav-tabs col-sm-3 pt-4  pb-4 pr-0 border-0" id="edit-policies" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="issue-extraction-tab" data-toggle="tab" href="#issue-extraction" role="tab" aria-controls="issue-extraction"
                        aria-selected="true">Issue Extraction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="cl-extraction-tab" data-toggle="tab" href="#cl-extraction" role="tab" aria-controls="cl-extraction"
                        aria-selected="false">CI Extraction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="keywords-discovery-tab" data-toggle="tab" href="#keywords-discovery" role="tab" aria-controls="keywords-discovery"
                        aria-selected="false">Keywords Discovery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="sentence-similarity-tab" data-toggle="tab" href="#sentence-similarity" role="tab" aria-controls="sentence-similarity"
                        aria-selected="false">Sentence Similarity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nlp-classifier-tab" data-toggle="tab" href="#nlp-classifier" role="tab" aria-controls="nlp-classifier"
                        aria-selected="false">NLP Classifier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="density-based-clustering-tab" data-toggle="tab" href="#density-based-clustering" role="tab" aria-controls="density-based-clustering"
                        aria-selected="false">Density Based Clustering</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="algorithm1-tab" data-toggle="tab" href="#algorithm1" role="tab" aria-controls="algorithm1"
                        aria-selected="false">Algorithm1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="algorithm2-tab" data-toggle="tab" href="#algorithm2" role="tab" aria-controls="algorithm2"
                        aria-selected="false">Algorithm1</a>
                    </li>
                </ul>
                <div class="tab-content col-sm-9 pr-3  border-left-1" id="edit-policiesTabContent">
                    <div class="tab-pane fade show active" id="issue-extraction" role="tabpanel" aria-labelledby="issue-extraction-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Issue Extraction</h3>
                            <div class="row align-items-center  mb-4 mt-4">
                                <div class="col-sm-6">
                                    <p class="font-base font-w-s">
                                        <span class="icons">
                                            <img src="public/images/Attributes.svg" alt="">
                                        </span>
                                        <span class="text pl-2">Attributes</span>
                                    </p>
                                </div>
                                <div class="col-sm-6 attributes-cond-btn d-none">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <a href="javascript:void(0)" class="reset-link mr-3 font-upper font-tine">Reset</a>
                                        <a href="javascript:void(0);" class="btn btn-filled font-upper">Save Changes</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Policy Name</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Policy_Variation_1</option>
                                            <option>Policy_Variation_2</option>
                                            <option>Policy_Variation_3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="algorithm-title  font-w-s mt-4  mb-4">
                                <h4 class="section-sub-title d-inline-block font-capital mb-0">Algorithm Pattern Extraction</h4>
                                <div class="d-inline-block position-relative info-tooltip-detail">
                                    <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                        <img src="public/images/icon-blue-info.svg" alt="">
                                    </a>
                                    <div class="tooltip-pop">
                                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Break Condition Threshild</label>
                                        <select class="form-control  select-drop-value">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Input Data Type</label>
                                        <select class="form-control  select-drop-value">
                                            <option>System</option>
                                            <option>System</option>
                                            <option>System</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Stemming Mode</label>
                                        <select class="form-control  select-drop-value">
                                            <option>None</option>
                                            <option>None</option>
                                            <option>None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Group Finding Mode</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Set</option>
                                            <option>Set</option>
                                            <option>Set</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label  class="label-control mb-0 font-small">Issue Column</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Description</option>
                                            <option>Description</option>
                                            <option>Description</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label  class="label-control mb-0 font-small">Top Keyword Select Factor
                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                </a>
                                                <div class="tooltip-pop">
                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                        </label>
                                        <select class="form-control  select-drop-value">
                                            <option>0.1</option>
                                            <option>0.1</option>
                                            <option>0.1</option>
                                        </select>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Group Similarity Thresold
                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                </a>
                                                <div class="tooltip-pop">
                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                        </label>

                                        <select class="form-control  select-drop-value">
                                            <option>0.75</option>
                                            <option>0.75</option>
                                            <option>0.75</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cl-extraction" role="tabpanel" aria-labelledby="cl-extraction-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">CI Extraction</h3>
                            <div class="row align-items-center  mb-4 mt-4">
                                <div class="col-sm-6">
                                    <p class="font-base font-w-s">
                                        <span class="icons">
                                            <img src="public/images/Attributes.svg" alt="">
                                        </span>
                                        <span class="text pl-2">Attributes</span>
                                    </p>
                                </div>
                                <div class="col-sm-6 attributes-cond-btn d-none">
                                    <div class="d-flex justify-content-end align-items-center">
                                        <a href="javascript:void(0)" class="reset-link mr-3 font-upper font-tine">Reset</a>
                                        <a href="javascript:void(0);" class="btn btn-filled font-upper">Save Changes</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-wrap mb-4">
                                <div class="algorithm-title  font-w-s mt-4  mb-4">
                                    <h4 class="section-sub-title d-inline-block font-capital mb-0">Algorithm Pattern Extraction</h4>
                                    <div class="d-inline-block position-relative info-tooltip-detail">
                                        <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                            <img src="public/images/icon-blue-info.svg" alt="">
                                        </a>
                                        <div class="tooltip-pop">
                                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="form custom-select-width">
                                            <label class="label-control mb-0 font-small">Policy Name</label>
                                            <select class="form-control  select-drop-value">
                                                <option>Policy_Variation_2</option>
                                                <option>Policy_Variation_2</option>
                                                <option>Policy_Variation_3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="form custom-select-width">
                                            <label class="label-control mb-0 font-small">Policy Name</label>
                                            <select class="form-control  select-drop-value">
                                                <option>Policy_Variation_1</option>
                                                <option>Policy_Variation_2</option>
                                                <option>Policy_Variation_3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form">
                                            <label class="label-control mb-0 font-small">Mapped CI Column </label>
                                            <input type="text" class="form-control" value="" placeholder="System">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form">
                                            <label class="label-control mb-0 font-small d-block">CI Column
                                                <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                    <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                        <img src="public/images/icon-blue-info.svg" alt="">
                                                    </a>
                                                    <div class="tooltip-pop">
                                                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                                    </div>
                                                </div>
                                            </label>
                                            <input type="text" class="form-control" value="" placeholder="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="keywords-discovery" role="tabpanel" aria-labelledby="keywords-discovery-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Keywords Discovery</h3>
                            <div class="algorithm-title  font-w-s mt-4  mb-4">
                                <h4 class="section-sub-title d-inline-block font-capital mb-0">Algorithm Pattern Extraction</h4>
                                <div class="d-inline-block position-relative info-tooltip-detail">
                                    <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                        <img src="public/images/icon-blue-info.svg" alt="">
                                    </a>
                                    <div class="tooltip-pop">
                                        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Break Condition Threshild</label>
                                        <select class="form-control  select-drop-value">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Input Data Type</label>
                                        <select class="form-control  select-drop-value">
                                            <option>System</option>
                                            <option>System</option>
                                            <option>System</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Stemming Mode</label>
                                        <select class="form-control  select-drop-value">
                                            <option>None</option>
                                            <option>None</option>
                                            <option>None</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Group Finding Mode</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Set</option>
                                            <option>Set</option>
                                            <option>Set</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label  class="label-control mb-0 font-small">Issue Column</label>
                                        <select class="form-control  select-drop-value">
                                            <option>Description</option>
                                            <option>Description</option>
                                            <option>Description</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label  class="label-control mb-0 font-small">Top Keyword Select Factor
                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                </a>
                                                <div class="tooltip-pop">
                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                        </label>
                                        <select class="form-control  select-drop-value">
                                            <option>0.1</option>
                                            <option>0.1</option>
                                            <option>0.1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-4">
                                    <div class="form custom-select-width">
                                        <label class="label-control mb-0 font-small">Group Similarity Thresold
                                            <div class="d-inline-block position-relative info-tooltip-detail ml-1">
                                                <a href="javascript:void(0);" class="head-help-link d-inline-block">
                                                    <img src="public/images/icon-blue-info.svg" alt="">
                                                </a>
                                                <div class="tooltip-pop">
                                                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                            </div>
                                        </label>
    
                                        <select class="form-control  select-drop-value">
                                            <option>0.75</option>
                                            <option>0.75</option>
                                            <option>0.75</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sentence-similarity" role="tabpanel" aria-labelledby="sentence-similarity-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Sentence Similarity</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nlp-classifier" role="tabpanel" aria-labelledby="nlp-classifier-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">NLP Classifier</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="density-based-clustering" role="tabpanel" aria-labelledby="density-based-clustering-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Density Based Clustering</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="algorithm1" role="tabpanel" aria-labelledby="algorithm1-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Algorithm 1</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="algorithm2" role="tabpanel" aria-labelledby="algorithm2-tab">
                        <div class="form-wrap pt-4 pb-3">
                            <h3 class="section-title">Algorithm 2</h3>
                            <p class="py-5">Coming Soon....</p>
                        </div>
                        <div class="btn-wrap text-right my-4">
                            <button class="btn btn-applyfilter btn-filled">Apply</button>
                            <button class="btn btn-reset btn-border ml-2">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
      </div>
    </div>
  </div>
<!-- Edit Policies Modal End -->


{% endblock %}

