.accordion-wrapper {
    .card {
        border:none;
        border-radius: 0;
    }
    .card-header {
        background-color:white;
        min-height: 25px;
        .btn-header-link {
            background: #F6F6F6;
            border-radius: 2px;
            height: 20px;
            width: 20px;
            line-height: 5px;
            position: relative;
            &:after {
                content: "";
                width:7px;
                height:7px;
                border-bottom: 2px solid #788E9B;
                border-right: 2px solid #788E9B;
                border-radius: 2px;
                font-weight: 900;
                float: right;
                position: absolute;
                top:3px;
                bottom:0;
                left:0;
                right:0;
                margin:auto;
                transform: rotate(-135deg);
                transition: all 0.3s;
            }
            &.collapsed:after {
                transform: rotate(47deg);
                top:-3px;
            }
        }
    }
}