.btn {
    border-radius: 3px;
    padding:6px 22px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    min-width: 112px;
    transition: all .3s ease-in;
    &:focus-visible, &:focus {
        box-shadow: none;
        outline: none;
    }
    &.btn-border {
        background: #FFFFFF;
        border: 1px solid $primary-btn-color;
        color: $primary-btn-color;
        font-weight: 600;
        &:hover {
            background: $secondary-btn-hover;
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
                background: white;
            }
        }
    }
    &.btn-filled {
        background: $primary-btn-color;
        border: 1px solid $primary-btn-color;
        color: white;
        font-weight: 600;
        &:hover {
            border:1px solid $primary-btn-hover;
            background: $primary-btn-hover;
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
                border:1px solid $primary-btn-color;
                background: $primary-btn-color;
            }
        }
    }
    &.btn-tertiary {
        background: $tertairy-btn-color;
        border: 1px solid $tertairy-btn-color;
        color: white;
        font-weight: 600;
        &:hover {
            border:1px solid $tertairy-btn-hover;
            background: $tertairy-btn-hover;
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
                border:1px solid $tertairy-btn-color;
                background: $tertairy-btn-color;
            }
        }
    }

    &.btn-red {
        background: $red-btn-color;
        border: 1px solid $red-btn-color;
        color: white;
        &:hover {
            border:1px solid $red-btn-hover;
            background: $red-btn-hover;
        }
        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            pointer-events: none;
            &:hover {
                border:1px solid $red-btn-color;
                background: $red-btn-color;
            }
        }
    }
}