.select-wrap {
    border:none;
    border-bottom:1px solid #E4E4E4;
    border-radius: 0;
    padding:2px 0 2px 0;
    font-size: 12px;
}

select.form-control {
    border-radius: 0;
    border:none;
    border-bottom:1px solid #d1d1d1;
    padding-left: 0;
    padding-right: 0;
    &:focus {
        box-shadow: none;
        border-color: #d1d1d1;
        padding-left: 0;
        padding-right: 0;
    }
}

/*-- Datatable styling start ---*/
.common-table-wrapper {
    .dataTables_wrapper {
        .table-wrapper {
            display: block;
            // overflow-x: auto;
            white-space: nowrap;
            .simplebar-track {
                &.simplebar-horizontal {
                    height: 9px;
                    .simplebar-scrollbar {
                        top:3px;
                        height:5px;
                        &:before {
                            background:#50C1B8;
                        }
                    }
                }
            }
            
        }
        table {
            width:100%;
            > thead {
               
                th {
                    background-position: 95% 50%;
                    background-position-x: calc(100% - 19px);
                    position: relative;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding:7px 33px 7px 25px;
                    border-bottom: 2px solid #ddd;
                    border-top:2px solid #ddd;
                    max-height: 42px;
                    height: 28px;

                    &.sorting {
                        background-image: url(../images/icon-none-sort.svg) !important;
                    }
                    &.sorting_desc {
                        background-image: url(../images/icon-sort1.svg) !important;
                    }
                    &.sorting_asc {
                        background-image: url(../images/icon-sort-ascending.svg) !important;
                    }

                    &.coloredth {
                        background-color: rgb(120 142 155 / 10%);
                    }

                    &.no-sort {
                        &.sorting {
                            background-image: none !important;
                        }
                        &.sorting_desc {
                            background-image: none !important;
                        }
                        &.sorting_asc {
                            background-image: none !important;
                        } 
                    }

                    a.hamburger {
                        position: absolute;
                        right: 2px;
                        font-size: 12px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 16px;
                        height: 16px;
                        text-align: center;
                        line-height: 9px;
                        img {
                            display: inline-block;
                            width:0.2em;
                            // height: 100%;
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    .check-minus {
                        position: relative;
                        label {
                            position: relative;
                            min-height: 28px;
                            display: block;
                            padding-left: 20px;
                            margin-bottom: 0;
                            font-weight: normal;
                            cursor: pointer;
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom:0;
                                width: 14px;
                                height: 14px;
                                border-radius: 1px;
                                border: 1px solid #788E9B;
                                margin:auto;
                                border-color: $primary-btn-color;
                                background: $primary-btn-color;
                            }
                            &:after {
                                content: '';
                                display: block;
                                width: 8px;
                                height: 2px;
                                border: 1px solid white;
                                background: white;
                                left: 3px;
                                top: 0.9rem;
                                transform: none;
                            }
                            span {
                                position: absolute;
                                top: 50%;
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                    
                        }
                        input[type="checkbox"]:checked ~ label::before {
                            border-color: $primary-btn-color;
                            background: $primary-btn-color;
                        }
                        input[type="checkbox"]:checked ~ label::after {
                            transform: none;
                        }
                        input[type="checkbox"]:focus + label::before {
                            outline: 0;
                        }
                    
                    }

                    .all-check {
                        position: relative;
                        label {
                            position: relative;
                            min-height: 28px;
                            display: block;
                            padding-left: 20px;
                            margin-bottom: 0;
                            font-weight: normal;
                            cursor: pointer;
                            &:before {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom:0;
                                width: 14px;
                                height: 14px;
                                border-radius: 1px;
                                border: 1px solid #788E9B;
                                margin:auto;
                            }
                            &:after {
                                content: "";
                                display: block;
                                width: 10px;
                                height: 5px;
                                border-bottom: 2px solid #16aeab;
                                border-left: 2px solid #16aeab;
                                transform: rotate(-45deg) scale(0);
                                will-change: transform;
                                position: absolute;
                                top: 11px;
                                left: 2px;
                            }
                            span {
                                position: absolute;
                                top: 50%;
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                    
                        }
                        input[type="checkbox"]:checked ~ label::before {
                            border-color: transparent;
                            background-color: #16aeab;
                        }
                        input[type="checkbox"]:checked ~ label::after {
                            -webkit-transform: rotate(-45deg) scale(1);
                            transform: rotate(-45deg) scale(1);
                            border-color: white;
                        }
                        input[type="checkbox"]:focus + label::before {
                            outline: 0;
                        }
                    
                    }
                    button {
                        &.all-check {
                            border:none;
                            background:white;
                            border:1px solid #788E9B;
                            border-radius:1px;
                            width:14px;
                            height:14px;
                            position:relative;
                            top:-3px;
                            // margin:4px;
                            transition:all .3s ease-in;
                            &:before {
                                content: '';
                                width:7px;
                                height:2px;
                                background: white;
                                position:absolute;
                                top:0;
                                bottom:0;
                                left:0;
                                right:0;
                                margin:auto;
                            }
                            &.all-checked {
                                background:$primary-btn-color;
                                border:1px solid $primary-btn-color;
                                
                            }
                            
                        }
                    }
                } 
            }
            tbody {
                tr {
                    &.odd, &.even {
                        background-color: transparent;
                        > .sorting_1 {
                            background-color: transparent;
                        }
                    }
                    &.add {
                        background-color: transparent;
                    }
                    &:hover, &.selected {
                        background-color: #EEF9F9;
                        td {
                            .close-icon {
                                opacity: 1;
                            }
                        }
                    }
                    &.odd, &.even {
                        &.selected {
                            td {
                                &.sorting_1 {
                                    background: transparent;
                                }
                            }
                        }
                        &:hover, &.selected {
                            background-color: #EEF9F9; 
                        }
                    }
                    &:last-child, &:nth-last-child(2) {
                        td {
                            .action-dropdown {
                                bottom:33px;
                            }
                        }
                    }
                    td {
                        font-size: 13px;
                        padding:9px 33px 9px 25px;
                        color:#212121;
                        max-height: 42px;
                        height: 27px;

                        input.column-edit {
                            width:100%;
                            background: transparent;
                        }

                       .close-icon {
                           opacity: 0;
                       }

                        button {
                            &.btn {
                                border-radius: 2px;
                                padding:2px 10px;
                                font-size: 13px;
                                font-weight: 600;
                                color:white;
                                width:86px;
                                &:focus, &:focus-visible {
                                    box-shadow: none;
                                }
                                &.open-list {
                                    .arrow {
                                        img {
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                                .arrow {
                                    padding-left: 6px;
                                    display: inline-block;
                                }
                                &.btn-accept {
                                    background: #5CB85C;
                                
                                }
                                &.btn-reject {
                                    background: #FD7575;
                                
                                }
                            }
                        }

                        .action-dropdown {
                            box-sizing: border-box;
                            position: absolute;
                            min-width: 112px;
                            z-index: 1;
                            cursor: pointer;
                            display: none;
                            background: #FFFFFF;
                            box-shadow: 0px 1px 10px rgb(0 0 0 / 4%);
                            border: 1px solid #DBDBDB;
                            border-radius: 2px;
                            &.expand-toggle {
                                display: block;
                            }
                            > li {
                                padding: 6px;
                                &:hover, &.active {
                                    background: #EEF9F9;
                                }
                            }
                        }

                        .select2-container {
                            &.select2-container--active {
                                .select2-selection {
                                    background: transparent;
                                    font-size: 13px;
                                    border-bottom: 1px solid #e0e0e0;
                                    pointer-events: auto;
    
                                    .select2-selection__arrow {
                                        b {
                                            border-color: #707070;
                                        }
                                    }
                                }
                            }
                            .select2-selection {
                                background: transparent;
                                font-size: 13px;
                                border-bottom: 1px solid transparent;
                                pointer-events: none;

                                .select2-selection__arrow {
                                    b {
                                        border-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.no-footer  {
                border-bottom:1px solid #ddd;
            }
            &.extract-ci-pd {
                tbody {
                    tr {
                        td {
                            .close-icon {
                                position:inherit;
                                // opacity:1;
                                display:block;
                                width:10px;
                                height:10px;
                                left:0;
                                right:0;
                                top:0px;
                                margin:auto;
                            }
                        }
                    }
                }
            }
        }

        .dataTables_info {
            padding-top:0;
            font-size: 12px;
            color:#636363;
        }
        .dataTables_paginate {
            border:1px solid #d1d1d1;
            border-radius: 4px;
            // margin-top:18px;
            margin:0 15px;
            padding:4px 6px;
            height: 30px;
            display: flex;
            align-items: center;
            > span {
                display: flex;
            }
            .paginate_button {
                width:7px;
                height:17px;
                border-radius: 3px;
                font-size: 12px;
                padding: 0;
                &:hover {
                    background: #8B8B8B;
                    border-color:#8B8B8B;
                }
                
                &.current {
                    background:#8B8B8B;
                    color:white !important;
                    &:hover, &:active {
                        background: #8B8B8B;
                        color: white !important;
                        box-shadow: none;
                    }
                }
                &.previous {
                    border-top:4px solid transparent;
                    border-bottom:4px solid transparent;
                    border-right:5px solid #545454;
                    font-size: inherit;
                    margin-right: 6px;
                    &.disabled:active, &:hover {
                        border-top:4px solid transparent;
                        border-bottom:4px solid transparent;
                        border-right:5px solid #545454;
                    }
                }
                &.next {
                    border-top:4px solid transparent;
                    border-bottom:4px solid transparent;
                    border-left:5px solid #545454;
                    margin-left: 6px;
                    &.disabled:active, &:hover {
                        border-top:4px solid transparent;
                        border-bottom:4px solid transparent;
                        border-left:5px solid #545454;
                    }
                }
                &.previous, &.next {
                    width:0;
                    height:0; 
                    min-width: 0;
                    border-radius: 0;
                }
            }
        }
        .dataTables_length {
            label {
                margin-bottom:0;
                position: relative;
                
                .select2-container {
                    border: 1px solid #d1d1d1;
                    padding: 4px 6px;
                    height: 30px;
                    border-radius: 4px;
                    // min-width: 93px;
                    &.select2-container--open {
                        .select2-selection--single {
                            .select2-selection__arrow {
                                b {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                    
                    .select2-selection {
                        .select2-selection__rendered {
                            border:none;
                            height: 21px;
                            line-height: 18px;
                            font-size: 12px;
                            color:#636363;
                        }
                    }
                    .select2-selection__arrow {
                        right: 3px;
                        b {
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top: 5px solid #545454;
                            font-size: inherit;
                            margin-right: 6px;
                            border-bottom: 0;
                            transform: none;
                            top:13px;
                        }
                    }
                }
                select {
                    padding:3px 6px;
                    font-size: 12px;
                    height: 30px;
                }
            }
        }
        .goto {
            border:1px solid #d1d1d1;
            border-radius: 4px;
            width: 108px;
            height: 30px;
            overflow: hidden;
            input {
                border:none;
                height:28px;
                width:calc(100% - 34px);
                font-size: 12px;
                padding:6px 12px;
                height: 28px;
            }
            .jumptopage {
                border:none;
                background: transparent;
                color:#50C1B8;
                font-size: 12px;
                position: relative;
                font-weight: 600;
                height: 30px;
                width:34px;
                &:before {
                    content:'';
                    position: absolute;
                    height: 65%;
                    width:1px;
                    background: #d1d1d1;
                    top:0;
                    bottom:0;
                    left:0;
                    margin:auto;
                }
            }
        }
    
        .table-bi {
            margin-top:18px;
        }
    }

    &.Description-table-wrap {
        .dataTables_wrapper { 
            table {
                &.Description-table {
                    thead {
                        tr {
                            th {
                                padding:9px 25px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            &.odd, &.even {
                                background-color: #EEF9F9; 
                            } 
                            td {
                                padding:9px 25px;
                            }
                        }
                    }
                    &.with-normal-pad {
                        thead {
                            tr {
                                th {
                                    padding:7px 25px;
                                }
                            }
                        }
                    }
                }
               
            }
        }
        
        .dataTables_info {
            display: none;
        }
    }
    &.right-table-width-btn {
        .dataTables_wrapper {
            table.Description-table {
                tbody {
                    tr {
                        td {
                            padding:9px 25px;
                        }
                    }
                }
            }
        }
    }
}


.datatable-wrapper  {
    .incident-table-event-wrap {
        > li {
            span {
                &.circle {
                    width:6px;
                    height: 6px;
                    border-radius: 50%;
                    display: inline-block;
                    padding-right: 5px;
                }
                &.num, &.text {
                    font-size: 12px;
                    color:#545454;
                }
            }
            &.table-view-list {
                .select2-container,.select-wrapper {
                    width:100% !important;
                }

            }
            .search-wrap {
                input.form-control {
                    font-size: 14px;
                    &::-webkit-input-placeholder { /* Edge */
                        font-size: 14px;
                    }
                      
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        font-size: 14px;
                    }
                      
                    &::placeholder {
                        font-size: 14px;
                    }
                }
            }
        }

    }
    
}


/*-- Datatable styling end ---*/

/*--- font weight styling ---*/
.font-w-n {
    font-weight: 400;
}
.font-w-s {
    font-weight: 600;
}
.font-w-b {
    font-weight: 700;
}
/*--- font weight styling ---*/

/*--- font transform styling ---*/
.font-upper {
    text-transform: uppercase !important;
}
.font-lower {
    text-transform: lowercase !important;
}
.font-capital {
    text-transform: capitalize !important;
}
/*--- font transform styling ---*/

/*--- font size styling ---*/
.font-xsmall {
    font-size: 10px !important;
}
.font-small {
    font-size: 12px !important;
}
.font-13 {
    font-size: 13px !important;
}
.font-base {
    font-size: 14px !important;
}
.font-large {
    font-size: 16px !important;
}
.font-xlarge {
    font-size: 18px !important;
}
.font-xxlarge {
    font-size: 20px !important;
}
/*--- font size styling ---*/

/*--- font color styling ---*/
.font-tine {
    color: $primary-btn-color !important;
}
.font-black {
    color:#212121 !important;
}
.font-black-1 {
    color:#545454 !important;
}
.font-dark-blue {
    color: #788E9B !important;
}
.font-gray {
    color: #636363 !important;
}
.font-red-color {
    color:#BB3F3F !important;
}
.font-red-1 {
    color: #FD7575 !important;
}
.font-blue-color {
    color:#1C4C58 !important;
}
.font-blue-1 {
    color:#243271 !important;
}
/*--- font color styling ---*/

#incident-stacked-bar {
    .highcharts-xaxis-labels {
        text {
            font-size: 12px !important;
        }
    }
}

.highcharts-xaxis-labels {
    text {
        font-size: 10px !important;
    }
}
.highcharts-pie-series {
    text {
        font-weight: 400 !important;
        font-size: 12px !important;
    }
}

input.form-control {
    border:none;
    border-bottom:1px solid #DBDBDB;
    outline: none;
    max-height: 25px;
    font-size: 12px;
    input[type=text]:focus, &:focus, &:focus-visible {
        box-shadow: none;
        border-color: $primary-btn-color;
    }
    &.error {
        border-color: $red-color;
    }
}
textarea:focus, textarea.form-control:focus, 
input.form-control:focus, input[type=text]:focus, 
input[type=password]:focus, input[type=email]:focus, 
input[type=number]:focus, [type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, [type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    box-shadow: none;
    border-color: $primary-btn-color;
}


/*--- common popup styling start ---*/
.common-popup {
    position: absolute;
    background: white;
    box-shadow: 0px 6px 4px rgb(87 87 87 / 20%);
    top: 23px;
    border-radius: 2px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
    .nav-wrap {
        border-right:1px solid #d1d1d1;
        
        .nav-tabs {
            border-bottom:none;
            flex-direction: column;
            text-align: left;
            
            .nav-item {
                width: 100%;
                border-bottom:none;
                position: relative;
                &::after {
                    content: '';
                    width:calc(100% - 20px);
                    height:1px;
                    background: #E0e0e0;
                    position: absolute;
                    bottom:-1px;
                    left:0;
                    right:0;
                    margin:auto;
                }
                &:last-of-type {
                    border-bottom: none;
                }
                .nav-link {
                    border: none;
                    position: relative;
                    border-radius: 0;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 17px;
                    color: #323639;
                    &:before {
                        content: "";
                        width: 6px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                    }
                    &:hover, &.active {
                        background: rgba(120, 142, 155, 0.4);
                        &:before {
                            background: #788E9B;
                        }
                    }
                    .num {
                        width:16px;
                        height:16px;
                        background: white;
                        border-radius: 16px;
                        color:#333333;
                        font-size: 10px;
                        font-weight: 600;
                        text-align: center;
                        float:right;
                    }
                }
            }
        }
    }
    .tab-content {
        padding-bottom:35px;
        .tab-pane {
            .btn-wrap {
                position: absolute;
                bottom: 0;
            }
        }
    }
}
/*--- common popup styling end ---*/


/*--- checkbox styling start ---*/


.checkbox-wrap {
    position: relative;
    &.disabled {
        opacity: 0.5;
        cursor: none;
        pointer-events: none;
    }
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: 0;
    }
    label {
        position: relative;
        min-height: 28px;
        display: block;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        // vertical-align: sub;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            // margin: 4px;
            bottom:0;
            width: 14px;
            height: 14px;
            // transition: transform 0.28s ease;
            border-radius: 1px;
            border: 1px solid #788E9B;
            margin:auto;
        }
        &:after {
            content: '';
            display: block;
            width: 10px;
            height: 5px;
            border-bottom: 2px solid $primary-btn-color;
            border-left: 2px solid $primary-btn-color;
            -webkit-transform: rotate(-45deg) scale(0);
            transform: rotate(-45deg) scale(0);
            // transition: transform ease 0.25s;
            will-change: transform;
            position: absolute;
            top: 11px;
            left: 1px;
        }
        span {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    }
    input[type="checkbox"]:checked ~ label::before {
        border-color: transparent;
    }
    input[type="checkbox"]:checked ~ label::after {
        -webkit-transform: rotate(-45deg) scale(1);
        transform: rotate(-45deg) scale(1);
    }
    input[type="checkbox"]:focus + label::before {
        outline: 0;
    }

    &.check-minus {
        position: relative;
        label {
            position: relative;
            min-height: 28px;
            display: block;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom:0;
                width: 14px;
                height: 14px;
                border-radius: 1px;
                border: 1px solid #788E9B;
                margin:auto;
                border-color: $primary-btn-color;
                background: $primary-btn-color;
            }
            &:after {
                content: '';
                display: block;
                width: 8px;
                height: 2px;
                border: 1px solid white;
                background: white;
                left: 3px;
                top: 0.9rem;
                transform: none;
            }
            span {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
    
        }
        input[type="checkbox"]:checked ~ label::before {
            border-color: $primary-btn-color;
            background: $primary-btn-color;
        }
        input[type="checkbox"]:checked ~ label::after {
            transform: none;
        }
        input[type="checkbox"]:focus + label::before {
            outline: 0;
        }
    
    }

    &.all-check {
        position: relative;
        label {
            position: relative;
            min-height: 28px;
            display: block;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom:0;
                width: 14px;
                height: 14px;
                border-radius: 1px;
                border: 1px solid #788E9B;
                margin:auto;
            }
            &:after {
                content: "";
                display: block;
                width: 10px;
                height: 5px;
                border-bottom: 2px solid #16aeab;
                border-left: 2px solid #16aeab;
                transform: rotate(-45deg) scale(0);
                will-change: transform;
                position: absolute;
                top: 11px;
                left: 2px;
            }
            span {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
    
        }
        input[type="checkbox"]:checked ~ label::before {
            border-color: transparent;
            background-color: #16aeab;
        }
        input[type="checkbox"]:checked ~ label::after {
            -webkit-transform: rotate(-45deg) scale(1);
            transform: rotate(-45deg) scale(1);
            border-color: white;
        }
        input[type="checkbox"]:focus + label::before {
            outline: 0;
        }
    
    }
    
}
.page-head-header {
    padding:10px 20px;
    &.fixed-nav {
        position: fixed;
        top: 49px;
        z-index: 1;
        width: calc(100% - 60px);
        border-bottom: 1px solid #eee;
        box-shadow: 0px 2px 5px #eee;
    }
}
.page-head {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    .page-title-wrap {
        .title {
            position: relative;
            cursor: pointer;
            &.open {
                b {
                    transform: rotate(134deg);
                    border: 1px solid #707070;
                    border-top: none;
                    border-right: none;
                    top: 9px;
                }
            }
            b {
                border-color: #888 transparent transparent transparent;
                border-style: solid;
                border-width: 5px 4px 0 4px;
                right: -6px;
                position: absolute;
                width: 6px;
                height: 6px;
                border: 1px solid #707070;
                transform: rotate(45deg);
                top: 0;
                bottom:0;
                margin: auto;
                border-top: none;
                border-left: none;
            }
        }
    }
    .dropdown-wrap {
        position: absolute;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 10px #00000014;
        border: 1px solid #DBDBDB;
        border-radius: 2px;
        z-index: 2;
        padding:4px 0;
        display: none;
        &.open {
            display: block;
        }
        > li {
            
            &:hover {
                a {
                    background: #EEF9F9;
                }
            }
            a {
                font-size: 14px;
                font-weight: 600;
                padding:5px 15px;
                display: block;
            }
        }
    }
}
.page-header-right {
    > li {
        padding:0 15px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        a {
            color:#262F56;
        }
    }
}

.section-title {
    font-size: 18px;
    font-weight: 700;
    // margin-bottom: 30px;
    margin-bottom: 10px;
}

.section-sub-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color:#545454;
    margin-bottom:30px;
}

label {
    &.label-control {
        color:#545454;
    }
}

.form-control {
    color:#212121;
}

.search-wrap {
    .form-control {
        // background: url(../../../../public/images/search.svg);
        background: url(../../public/images/search.svg);
        padding-right: 20px;
        background-repeat: no-repeat;
        background-position: 97% 8px;
        background-size: 10px;
    }
}

/*---- radio button styling start ----*/
$color1: #ffffff;
$color2: $primary-btn-color;
.radio-wrap {
    margin: 0.5rem;
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      + .radio-label {
          font-size: 14px;
        &:before {
          content: '';
          background: $color1;
          border-radius: 100%;
          border: 1px solid $color2;
          display: inline-block;
          width: 14px;
          height: 14px;
          position: relative;
          top: 2px;
          margin-right: 0.5em; 
          vertical-align: top;
          cursor: pointer;
          text-align: center;
          transition: all 250ms ease;
        }
      }
      &:checked {
        + .radio-label {
            font-weight: 600;
          &:before {
            background-color: $color2;
            box-shadow: inset 0 0 0 2px $color1;
          }
        }
      }
      &:focus {
        + .radio-label {
          &:before {
            outline: none;
            border-color: $color2;
          }
        }
      }
      &:disabled {
        + .radio-label {
          &:before {
            box-shadow: inset 0 0 0 4px $color1;
            border-color: darken($color1, 25%);
            background: darken($color1, 25%);
          }
        }
      }
      + .radio-label {
        &:empty {
          &:before {
            margin-right: 0;
          }
        }
      }
    }
  }
/*---- radio button styling end ----*/



.my_dtp_c {
    background: url('../../public/images/icon-blue-calender.svg') no-repeat 99% 50%;
}
.custom-select-width {
    .select2-container { 
        width: 100% !important;
    }
}
// .select2-container--default {
//     min-width:100%;
// }

.select2-container {
    .select2-selection {
        border:none;
        border-bottom:1px solid #e0e0e0;
        border-radius: 0;
        height: 25px;
        padding-right: 13px;
        .select2-selection__rendered {
            padding-left: 2px;
            padding-right: 2px;
            // font-size: 12px;
            color:#212121;
            height: 25px;
        }
        .select2-selection__arrow {
            width:15px;
            height: 25px;
            b {
                width: 6px;
                height: 6px;
                border:1px solid #707070;
                transform: rotate(45deg);
                top: 9px;
                border-top:none;
                border-left: none;
            }
        }
    }
    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                b {
                    transform: rotate(134deg);
                    border: 1px solid #707070;
                    border-top:none;
                    border-right: none;
                    top:12px;
                }
            }
        }
        .select2-results__options {
            > li {
                font-size: 13px;
                font-weight: 600;
                color:#212121;
                // white-space: normal;
                &.select2-results__option--selectable {
                    &:hover {
                        background: #EEF9F9;
                        color:#212121;
                    }
                    &.select2-results__option--highlighted, &.select2-results__option--selected {
                        background: #EEF9F9;
                        color:#212121;
                    }
                }
            }
        }
    }
    
    .select2-dropdown {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 10px rgb(0 0 0 / 4%);
        border: 1px solid #DBDBDB;
        border-radius: 2px;
    }
}

/*--- Tooltip Stying Start ---*/
.info-tooltip-detail {
    .head-help-link {
        &:hover {
            & + .tooltip-pop {
                display: block;
                top:30px;
            }
        }
    }
    .tooltip-pop {
        position: absolute;
        background: white;
        box-shadow: 0px 3px 10px rgb(0 0 0 / 18%);
        border-radius: 3px;
        z-index: 1;
        padding: 10px 20px;
        width: 307px;
        right: -145px;
        top:40px;
        transition: top .3s ease;
        display: none;
        font-size: 12px;
        &:before {
            content: "";
            width: 11px;
            height: 11px;
            background: white;
            position: absolute;
            left: 0;
            right: 0;
            top: -6px;
            margin: auto;
            transform: rotate(45deg);
            box-shadow: -5px -4px 10px -2px rgb(0 0 0 / 18%);
        }
    }
}
/*--- Tooltip styling end ---*/


/*--Vertical tabs styling start--*/
.vertical-tabs-container {
    .nav-tabs {
        flex-direction: column;
        text-align: left;
        .nav-item {
            .nav-link {
                border:none;
                position: relative;
                border-radius: 0;
                font-size: 12px;
                line-height: 17px;
                color: #323639;
                padding:0.7rem 1rem;
                &:before {
                    content: '';
                    width:6px;
                    height: 100%;
                    position: absolute;
                    top:0;
                    bottom:0;
                    left:0;
                }
                &:hover{
                    background: rgb(120 142 155 / 10%);
                    font-weight: 400;
                    &:before {
                        background: transparent;
                    }
                }
                &.active{
                    background: rgb(120 142 155 / 40%);
                    font-weight: 600;
                    &:before {
                        background: #788E9B;
                    }
                }
            }
        }
    }
    .tab-content {
        border-left: 1px solid #D0D0D0;
    }
}
/*--Vertical tabs styling end --*/


/*-- scrollbar styling start --*/
.simplebar-track.simplebar-vertical {
    width:7px;
    // right:-9px;
    z-index: 0;
}
/*-- scrollbar styling end --*/


.top-block-sec {
    padding:24px 38px;
}

.entities-body {
    background: #f6f6f8;
}



/*--- Switch radio button styling start ---*/
.switch-radio {
	display: flex;
	overflow: hidden;
    input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
        &:checked {
            + label {
                background-color:#16AEAB;
                box-shadow: none;
                color: white;
            }
        }
    }
    .radio-block {
        label {
            padding: 1px 13px;
            font-size: 12px;
            text-transform:uppercase;
            border: 1px solid #16AEAB;
            background-color: white;
            // line-height: 4px;
            text-align: center;
            margin-right: -1px;
            transition: all 0.1s ease-in-out;
            margin-bottom:0;
            color:#545454;
            font-weight: 600;
            &:hover {
                cursor: pointer;
            }
        }
    }
}


.switch-radio input:checked + label {
	
}

.switch-radio .radio-block:first-of-type label {
	border-radius: 2px 0 0 2px;
}

.switch-radio .radio-block:last-of-type label {
	border-radius: 0 2px 2px 0;
}

/*--- Switch radio button styling end ---*/

.datetimepicker {
    padding:0;
    margin-top:0;
    &:before, &:after {
        display: none;
    }
    .datetimepicker-days { 
        .table-condensed {
            thead {
                tr {
                    &:first-child {
                        background: #16AEAB;
                        th {
                            background: transparent;
                            padding: 10px;
                            border-radius: 0;
                            color:white;
                            font-size: 14px;
                            font-weight: 600;
                            text-transform: uppercase;
                        }
                    }
                    &:nth-child(2) {
                        th {
                            font-size: 12px;
                            font-weight: 600;
                            padding:9px 12px;
                            &:first-child {
                                color:#788E9B;
                            }
                            &:last-child {
                                color:#788E9B;
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding:9px 12px;
                        color:#212121;
                        font-size: 12px;
                        &.day {
                            &.active {
                                background: transparent;
                                border-radius: 50%;
                                border:2px solid white;
                                color:white;
                                position: relative;
                                &:after {
                                    content: "";
                                    width: 100%;
                                    height: 100%;
                                    background: #89D6D5;
                                    // box-shadow: -2px 2px 5px #0494881F;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    z-index: -1;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.daterangepicker {
    &.show-calendar {
        .drp-buttons {
            display: none;
        }
    }
    @media (min-width: 564px) {
        width:inherit;
    }
    .drp-calendar.left {
        padding:0;
        float: none;
        max-width: 100%;
        width:270px;
        .calendar-table {
            padding-right: 0;
            @media (max-width: 564px) {
                padding-right:0;
            }
            .table-condensed {
                thead {
                    tr {
                        &:first-child {
                            th {
                                background: #16AEAB;
                                border-radius: 0;
                                color:white;
                                span {
                                    border-color:white;
                                }
                            }
                        }
                        th {
                            padding: 8px;
                            color:#2B2B2B;
                            font-size: 12px;
                            font-weight: 600;
                            &:first-child, &:last-child {
                                color:#788E9B;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            // padding:8px;
                            font-size: 12px;
                            width: 26px;
                            height: 26px;
                            &:hover {
                                background-color: transparent;
                            }
                            &.off {
                                color: #DBDBDB;
                            }
                            &.available {
                                &.active {
                                    position: relative;
                                    z-index: 1;
                                    background-color: transparent;
                                    &:after {
                                        content: '';
                                        width: 26px;
                                        height: 26px;
                                        position: absolute;
                                        border-radius: 50%;
                                        background: #16AEAB;
                                        top:0;
                                        bottom:0;
                                        left: 0;
                                        right: 0;
                                        margin:auto;
                                        z-index: -1;
                                    }

                                    &.start-date {
                                        &:after {
                                            background-color: rgb(22 174 171 / 40%);
                                        }
                                        &:before {
                                            content: '';
                                            height: 100%;
                                            position: absolute;
                                            left: -1px;
                                            right: -1px;
                                            top: 0;
                                            z-index: -1;
                                            -moz-box-sizing: border-box;
                                            box-sizing: border-box;
                                            background-color: #d0efee;
                                            left: 50%;
                                            margin-left: -0.9375em;
                                            border-radius: 2em 0 0 2em;
                                            width: calc(100% - 7px);
                                        }
                                    }
                                    &.end-date {
                                        &:before {
                                            content: '';
                                            height: 100%;
                                            position: absolute;
                                            left: -1px;
                                            right: -1px;
                                            top: 0;
                                            z-index: -1;
                                            -moz-box-sizing: border-box;
                                            box-sizing: border-box;
                                            background-color: #d0efee;
                                            right: 50%;
                                            margin-right: -0.9375em;
                                            border-radius: 0 2em 2em 0;

                                        }
                                    }
                                }
                            }
                            &.in-range {
                                background-color: rgb(22 174 171 / 20%);
                            }
                        }
                    }
                }
            }
        }
    }
    .drp-buttons {
        text-align: center;
        display: none;
        .drp-selected {
            
        }
        .btn {
            &.cancelBtn, &.applyBtn {
                display: none;
            }
        }
    }
}


// .md-mobile-picker-header {
//     font-size: 14px;
// }

// input.md-mobile-picker-input {
//     color: initial;
//     width: 100%;
//     padding: 10px;
//     margin: 6px 0 12px 0;
//     border: 1px solid #ccc;
//     border-radius: 0;
//     font-family: arial, verdana, sans-serif;
//     font-size: 14px;
//     box-sizing: border-box;
//     -webkit-appearance: none;
// }

// .md-mobile-picker-button.mbsc-button {
//     font-size: 13px;
//     padding: 0 15px;
//     line-height: 36px;
//     float: right;
//     margin: 6px 0;
//     width: 100%;
// }

// .mbsc-col-no-padding {
//     padding-left: 0;
// }

// .md-mobile-picker-box-label.mbsc-textfield-wrapper-box,
// .md-mobile-picker-box-label .mbsc-textfield-wrapper-box,
.md-mobile-picker-inline  {
    margin: 6px 0 12px 0;
    .datetimepicker-dummy {
        display: none;
    }
    .datepicker {
        border:none;
    }
    .datetimepicker {
        border-radius: 0;
        border:none;
        box-shadow: none;
        max-width: 100%;
        .datepicker-body {
            .datepicker-weekdays {
                padding:2px 0;
                .datepicker-date {
                    padding:0.6rem 1px;
                    text-transform: capitalize;
                    font-size: 12px;
                    font-weight: 600;
                    color:#2B2B2B;
                    &:first-child, &:last-child {
                        color:#9E9E9E;
                    }
                    .date-item {
                        height: 25px;
                        width: 25px;
                    }
                }
                
            }
            .datepicker-dates {
                .datepicker-days {
                    .datepicker-date {
                        background: transparent;
                        margin:0;
                        .date-item {
                            color: #DBDBDB;
                            width: 24px;
                            height: 24px;
                            font-size: 12px;
                            &.is-toda {
                                background: #16aeab;
                                border-color: #16aeab;
                            }
                        }
                        &.datepicker-range.datepicker-range-start,
                        &.datepicker-range.datepicker-range-end {
                            .date-item {
                                background: #16aeab;
                                color:white;
                                border:none;
                                &.is-active {
                                    color:white;
                                }
                            }
                        }
                        &.is-current-month.datepicker-range {
                            background: transparent;
                            .date-item {
                                background: #89d6d5;
                                color:white;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                                background: #89d6d5;
                                z-index: -1;
                            }
                            &.datepicker-range-start {
                                &:after {
                                    content: '';
                                    left: 10px;
                                    border-top-left-radius: 20px;
                                    border-bottom-left-radius: 20px;
                                }
                            }
                            &.datepicker-range-end{
                                &:after {
                                    content: '';
                                    right: 10px;
                                    border-top-right-radius: 20px;
                                    border-bottom-right-radius: 20px;
                                }
                            }
                            &.datepicker-range-start,
                            &.datepicker-range-end {
                                .date-item {
                                    background: #16aeab;
                                    color:white;
                                    border:1px solid white;
                                    // box-shadow: none;
                                }
                            }
                        }
                    }
                    .datepicker-date.is-current-month {
                        .date-item {
                            color:#2B2B2B;
                            &.is-active {
                                color:white;
                            }
                        }
                    }
                }
            }
        }
        .datetimepicker-container {
            .datetimepicker-header {
                display: none;
            }
            .timepicker {
                display: none;
            }
        }
        .datetimepicker-footer {
            display: none;
        }
        .datepicker-nav {
            padding: 0.2em;
            background: white;
            .button {
                background: transparent;
                border:none;
                padding:0;
                svg {
                    width: 7px;
                    height: 7px;
                    polyline {
                        stroke: #788E9B;
                    }
                    
                }
            }
            .datepicker-nav-month-year {
                .datepicker-nav-month {
                    font-size: 14px;
                    font-weight: 600;
                    color:#212121;
                }
                .datepicker-nav-year {
                    font-size: 14px;
                    color:#636363;
                    font-weight: 400;
                }
            }
        }
    }
}


.highcharts-figure {
    .spline-lable-block {
        position: absolute;
        width: 100%;
        bottom: -5px;
    }
}


// .node circle {
//     cursor: pointer;
//     stroke: #3182bd;
//     stroke-width: 1.5px;
//   }
  
//   .node text {
//     font: 10px sans-serif;
//     pointer-events: none;
//     text-anchor: middle;
//   }
  
//   line.link {
//     fill: none;
//     stroke: #8189ad;
//     stroke-width: 1.5px;
//   }

//   .node {
//       image {
//           width:15px;
//           height: 15px;
//       }
//       &.next-child-2, &.next-child-1 {
//         opacity: 1;
//         &.node-opacity {
//             opacity: 0;
//           }
//       }
//   }

  .dt-picker-wrap {
      .datetimepicker-dummy {
          max-height: 25px;
          &.is-primary {
            .datetimepicker-dummy-wrapper {
                box-shadow: none;
                border-radius: 0;
                border:none;
                padding:0;
                max-height: 25px;
                &::before {
                    display: none;
                }
                &:focus, &.is-active {
                    border:none;
                    box-shadow: none;
                }
              .datetimepicker-dummy-input, .datetimepicker-clear-button {
                  display: none;
              }
              .select-datepicker {
                  border: none;
                  border-bottom: 1px solid #DBDBDB !important;
                  outline: none;
                  max-height: 25px;
                  width: 100%;
                  background: url(../../public/images/icon-blue-calender.svg) no-repeat 99% 50%;
                  &:focus {
                    border-color: #16aeab;
                  }
              }
            }
            .datetimepicker-clear-button {
                display: none;
            }
            
          }
      }
      .datetimepicker-wrapper {
          margin-top: 10px;
      }
     
    .datetimepicker {
        max-width: 270px;
        .datetimepicker-header {
            &.is-date-only {
                display: none;
            }
        }
        .datepicker {
            .datepicker-nav {
                background: #16AEAB;
                padding:0.75em;
                .button {
                    background: transparent;
                    border:none;
                    padding:0;
                }
                .datepicker-nav-month-year {
                    font-size: 14px;
                    .datepicker-nav-month {
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
            .datepicker-body {
                padding-bottom: 10px;
                .datepicker-dates {
                    .datepicker-weekdays {
                        padding: 0.6rem 0;
                        .datepicker-date {
                            font-size: 12px;
                            font-weight: 600;
                            color:#2B2B2B;
                            &:first-child, &:last-child {
                                color:#9E9E9E;
                            }
                        }
                    }
                    .datepicker-days {
                        .datepicker-date {
                            background: transparent;
                            font-size: 12px;
                            width: 25px;
                            height: 25px;
                            .date-item {
                                width: 25px;
                                height: 25px;
                                color:#DBDBDB;
                                &.is-active {
                                    color:white;
                                }
                            }
                            &.is-current-month {
                                .date-item {
                                    color:#212121;
                                    &.is-active {
                                        color:white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .datetimepicker-footer {
            display: none;
        }
      }

    &.dt-range-picker-wrap {
        .my_dtp_c {
            border-bottom: 1px solid #DBDBDB;
            background: url(../../public/images/icon-blue-calender.svg) no-repeat 99% 50%;
        }
        .datetimepicker {
            .datepicker-body {
                .datepicker-dates {
                    .datepicker-days {
                        .datepicker-date {
                            &.is-current-month {
                                &.datepicker-range {
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: auto;
                                        background: #89d6d5;
                                        z-index: -1;
                                    }
                                    .date-item {
                                        background-color: #89d6d5;
                                    }
                                    &.datepicker-range-start {
                                        &:after {
                                            content: "";
                                            left: 10px;
                                            border-top-left-radius: 20px;
                                            border-bottom-left-radius: 20px;
                                        }
                                        .date-item {
                                            background: #16aeab;
                                            color: white;
                                            border: 1px solid white;
                                        }
                                    }
                                    &.datepicker-range-end {
                                        &:after {
                                            content: "";
                                            right: 10px;
                                            border-top-right-radius: 20px;
                                            border-bottom-right-radius: 20px;
                                        }
                                        .date-item {
                                            background: #16aeab;
                                            color: white;
                                            border: 1px solid white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }

 label {
     &.small-control-label {
         font-size: 12px;
     }
 }