header {
    &.fixed-nav {
        position: fixed;
        top:0;
        left:0;
        right:0;
        margin:auto;
        width:100%;
        z-index:3;
    }
    &.td_br_top_header-wrap {
        background: white;
        border-bottom:1px solid #eee;
        box-shadow: 0px 0px 5px #eee;
        .navbar {
            padding:0;
            align-items: center;
            padding-top:2px;
            padding-bottom:2px;
            .navbar-brand {
                position: relative;
                padding:0;
                height: 44px;
                > img {
                    width: 100%;
                    height: 100%;
                }
                &:after {
                    content:'';
                    position: absolute;
                    width: 1px;
                    height: 70%;
                    background-color: $secondary-blue-1;
                    top: 0;
                    bottom: 0;
                    right: -15px;
                    margin: auto;
                }
            }
            .navbar-watch {
                color:$primary-blue-1;
                font-size: 18px;
                line-height: 24px;
                margin-left: 15px;
            }
            .flow-r {
                .event-lst {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-bottom: 0;
                    li {
                        a {
                            // padding: .3125rem;
                            margin-left:15px;
                            display: inline-block;
                            display: inline-block;
                            width:16px;
                            height:16px;
                            img {
                                width:100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .btn {
        &.btn-index {
            img {
                height:13px;
                width:13px;
            }
        }
    }
}

.secondary-header {
    background: white;
    // &.fixed-nav {
    //     position: fixed;
    //     width: calc(100% - 60px);
    // }
    &.fixed-nav {
        position: fixed;
        top: 49px;
        z-index: 3;
        width: calc(100% - 60px);
        border-bottom: 1px solid #eee;
        box-shadow: 0px 2px 5px #eee;
    }
    ul {
        margin-bottom:0;
        &.menu-list {
            display: flex;
            > li {
                margin:0 20px;
                position: relative;
                &:after {
                    content: '';
                    width:0;
                    position: absolute;
                    left: 0;
                    right:0;
                    bottom:0;
                    background: transparent;
                    height: 4px;
                    transition: width 0.3s ease-in;
                    margin:auto;
                }
                &:hover {
                    &:after {
                        width:100%;
                        background: #788E9B;
                    }
                }
                &.active {
                    font-weight: 700;
                    &:after {
                        width:100%;
                        background: #788E9B;
                    }
                }
                &:first-child {
                    margin-left: 0;
                }
                a {
                    padding:10px 0;
                    display: inline-block;
                    text-decoration: none;
                    font-size: 16px;
                    color:#212121;
                }
            }
        }

        &.time-stamp-list {
            display:flex;
            justify-content: flex-end;
            align-items: center;
            >li {
                align-items: center;
                padding:10px 0;
                padding-left: 10px;
                .time-wrap {
                    > span {
                        display: inline-block;
                        position: relative;
                        padding:0 8px;
                        &.time-stamp {
                            &:after {
                                content: '';
                                position: absolute;
                                top:0;
                                bottom:0;
                                right: 0;
                                margin:auto;
                                width: 1px;
                                height: 80%;
                                background: rgb(51 51 51 / 60%);
                            }
                        }
                       
                    }
                    .time-location {
                        min-height: 17px;
                        .select2-container {
                            width:200px !important;
                            .select2-selection {
                                height: 17px;
                                border:none;
                            }
                            .select2-selection__arrow {
                                top:-3px;
                                height: 17px;
                                b {
                                    top: 8px;
                                }
                            }
                            .select2-selection__rendered {
                                height: 17px;
                                line-height: 14px;
                            }
                        }
                    }
                }
                .smart-assets-link {
                    color:$primary-btn-color;
                    text-decoration: none;
                    > img {
                        width:20px;
                        height:20px;
                        display: inline-block;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}

.select2-container--default .select2-results__option--disabled {
    display: none;
}