.custom-modal-styling {
    &.modal {
        .modal-dialog {
            .modal-content {
                border-radius: 6px;
                border:none;
                .modal-header {
                    background: #243271;
                    padding:12px 24px;
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    border:none;
                    .modal-title {
                        color:white;
                        font-size: 16px;
                    }
                    .close {
                        width: 12px;
                        height: 12px;
                        font-size: 24px;
                        padding: 0 24px 0 0;
                        text-shadow: none;
                        opacity: 1;
                        color: white;
                        font-weight: normal;
                        transform: translateY(14px);
                    }
                }
                .modal-body {
                    padding:24px;
                    .analysis-report {
                        background: #f5f5f6;
                        border-radius: 2px;
                        padding:16px 20px;
                    }
                }
            }
        }
    }
    &.modal-width-482 {
        &.modal {
            .modal-dialog {
                @media (min-width: 576px) {
                    max-width:482px;
                }
            }
        }
    }

    &.modal-width-544 {
        &.modal {
            .modal-dialog {
                @media (min-width: 576px) {
                    max-width:544px;
                }
            }
        }
    }

    &.modal-width-562 {
        &.modal {
            .modal-dialog {
                @media (min-width: 562px) {
                    max-width:562px;
                }
            }
        }
    }

    &.modal-width-404 {
        &.modal {
            .modal-dialog {
                @media (min-width: 576px) {
                    max-width:404px;
                }
            }
        }
    }

    &.modal-width-1033 {
        &.modal {
            .modal-dialog {
                @media (min-width: 576px) {
                    max-width:1033px;
                }
            }
        }
    }

    &.extract-issue-modal {
        &.modal {
            .modal-content {
                .modal-body {
                    .analysis-report {
                        ul.upload-direct-data {
                            > li {
                                position: relative;
                                padding-left:8px;
                                list-style: none;
                                color:#333333;
                                &:before {
                                    content: '';
                                    width:4px;
                                    height: 4px;
                                    background: #333333;
                                    border-radius: 50%;
                                    position: absolute;
                                    top:0;
                                    bottom:0;
                                    left:0;
                                    margin:auto;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

.addpatternci-issue-modal {
    .common-table-wrapper .dataTables_wrapper .dataTables_info {
        display: none;
    }
}