.side-layout {
    position: fixed;
    left: 0;
    top: 48px;
    background-color: #162154;
    width: 60px;
    height: 100vh;
    z-index: 100;
    padding: 0;
    transition: width 0.5s ease-in-out; 
    &.expand {
          width:263px;  
          .sidebar-nav {
            >ul {
                li {
                    a.s-sidebar__nav-link {
                        span.label {
                            opacity: 1;
                        }
                        &.btn-link {
                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
          }
    }
    .sidebar-nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        
        > ul {
            
            >li {
                border-bottom:1px solid rgb(255 255 255 / 16%);
                // transition: 0.5s;
                position: relative;
                >.s-sidebar__nav-link {
                    padding: 14px 18px;
                    .icon {
                        display: inline-block;
                        width:20px;
                        height: 20px;
                        svg {
                            width:20px;
                            height:20px ;
                            display: inline-block;
                            vertical-align: baseline;
                        }
                    }
                    svg {
                        width:18px;
                        height: 18px;
                    }
                    &:focus {
                        box-shadow: none;
                    }
                    &:hover, &.active {
                            svg path {
                                fill: #d1d7f2;
                            }
                            .label {
                                color:#D1D7F2;
                            }
                        
                    }
                }
                &:last-child {
                    border:none;
                }
                a.s-sidebar__nav-link {
                    display: flex;
                    align-items: center;
                    overflow:hidden;
                    text-decoration: none;
                    position: relative;
                    margin: 0 auto;
                    img {
                        // width:28px;
                        transition: none;
                    }
                    span {
                        &.label {
                            opacity: 0;
                            display: inline-block;
                            padding-left: 12px;
                            font-size: 14px;
                            color:#7C86AC;
                            white-space: nowrap;
                        }
                    }
                    &.btn-link {
                        &:after {
                            content: "";
                            width:0;
                            height:0;
                            border-top: 4px solid #788E9B;
                            border-right: 4px solid transparent;
                            border-left: 4px solid transparent;
                            // border-radius: 2px;
                            font-weight: 900;
                            float: right;
                            position: absolute;
                            top:-2px;
                            bottom:0;
                            left:auto;
                            right:15px;
                            margin:auto;
                            // transform: rotate(deg);
                            transition: all 0.3s;
                            opacity: 0;
                        }
                        &[aria-expanded="true"], &.open-menu {
                            &:after {
                                // transform: rotate(181deg);
                                border-top: none;
                                border-bottom: 4px solid #788E9B;
                            }
                        }
                    }

                }

                .sub_navbar {
                    > ul {
                        margin-bottom:18px;
                        > li {
                            position: relative;
                            a.s-sidebar__nav-link {
                                padding: 5px 20px 5px 20px;
                                span {
                                    &.label {
                                        font-size: 12px;
                                    }
                                }
                                &:focus {
                                    box-shadow: none;
                                }
                                svg {
                                    width:15px;
                                    height:15px;
                                }
                                &::after {
                                    content: '';
                                    width:calc(100% - 6px);
                                    height: 100%;
                                    position: absolute;
                                    top:0;
                                    bottom:0;
                                    left: 0;
                                    margin:auto;
                                    z-index: -1;
                                    
                                }
                            }
                            &::before {
                                content: '';
                                width:2px;
                                height: 100%;
                                position: absolute;
                                top:0;
                                bottom:0;
                                left: 0;
                                margin:auto;
                                
                            }
                           
                            &:hover, &.active {
                                &::before {
                                    background: #3CEFE1;
                                }
                                > a.s-sidebar__nav-link {
                                        
                                        span {
                                            &.label {
                                                color:#3CEFE1;
                                            }
                                        }
                                        
                                        &::after {
                                            border-radius: 0px 20px 20px 0px;
                                            background-color: $primary-blue-4;
                                            opacity: 20%;
                                        }
                                        svg path, rect {
                                            fill: #3CEFE1;
                                        }
                                }
                            }
                        }
                    }
                }
            }
        }
      
    }
 }
 