/*--toggle radion button styling ---*/
.toggle-wrapper {
    position: relative;
  }
  .toggle-wrapper input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  .toggle-wrapper input:checked {
    z-index: 1;
  }
  .toggle-wrapper input:checked + label {
    opacity: 1;
    cursor: default;
    font-weight: 600;
  }
  // .toggle-wrapper input:not(:checked) + label:hover {
  //   opacity: 0.5;
    
  // }
  .toggle-wrapper label {
    color: #444444;
    // opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;
  }
  .toggle-wrapper .toggle-outside {
    height: 100%;
    border-radius: 2rem;
    padding: 0;
    overflow: hidden;
    transition: 0.25s ease all;
  }
  .toggle-wrapper .toggle-inside {
    border-radius: 5rem;
    background: white;
    position: absolute;
    transition: 0.25s ease all;
  }
  .switch-horizontal {
    font-size: 0;
  }
  .switch-horizontal input {
    height: 12px;
    width: 22px;
    left: 3.5rem;
    margin: 0;
    top:4px;
  }
  .switch-horizontal label {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    // width: 6rem;
    // height: 100%;
    margin: 0;
    text-align: center;
  }
  .switch-horizontal label:last-of-type {
    margin-left: 2.8rem;
  }
  .switch-horizontal .toggle-outside {
    background: #50C1B8;
    position: absolute;
    width: 22px;
    left: 3.5rem;
    height: 12px;
    top:4px;
  }
  .switch-horizontal .toggle-inside {
    height: 10px;
    width: 10px;
    top: 0.09rem;
  }
  .switch-horizontal input:checked ~ .toggle-outside .toggle-inside {
    left: 1px;
  }
  .switch-horizontal input ~ input:checked ~ .toggle-outside .toggle-inside {
    left: 11px;
  }